Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

support new SoknadSporsmalSvartype AAR_MAANED
  src/components/soknadpanel/SoknadPanel.test.tsx
  src/components/soknadpanel/SporsmalVarianter/Dato.tsx
  src/components/soknadpanel/SporsmalVarianter/SporsmalVarianter.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/utils/dateUtils.ts
Due: npx eslint --fix --max-warnings=0

support new SoknadSporsmalSvartype AAR_MAANED (#537)
  src/components/soknadpanel/SoknadPanel.test.tsx
  src/components/soknadpanel/SporsmalVarianter/Dato.tsx
  src/components/soknadpanel/SporsmalVarianter/SporsmalVarianter.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/utils/dateUtils.ts
Due: npx eslint --fix --max-warnings=0

Use chainguard
  Dockerfile
Due: none

Use chainguard (#539)
  Dockerfile
Due: none

chore: bump next-logger
  package.json
  src/pages/api/logger.api.ts
  tsconfig.json
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

chore: try fix jose error
  next-logger.config.js
  package.json
  src/auth/withAuthentication.test.ts
  src/pages/_app.page.tsx
  src/pages/api/logger.api.ts
  tsconfig.json
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

chore: try to fix error starting app
  next-logger.config.js
  src/instrumentation.ts
  src/next-logger.d.ts
Due: npx eslint --fix --max-warnings=0

feat: dependabot cooldown config
  .github/dependabot.yml
Due: none

feat: dependabot cooldown config (#541)
  .github/dependabot.yml
Due: none

fix breaking test in SykmeldtInfo
  package.json
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.test.tsx
  src/utils/test/dataCreators.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix breaking test in SykmeldtInfo (#551)
  package.json
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.test.tsx
  src/utils/test/dataCreators.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Revert "fix breaking test in SykmeldtInfo (#551)"
  package.json
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.test.tsx
  src/utils/test/dataCreators.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Revert "fix breaking test in SykmeldtInfo (#551)" (#552)
  package.json
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.test.tsx
  src/utils/test/dataCreators.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Update next
  package.json
  yarn.lock
Due: npx prettier --write

Update next (#558)
  package.json
  yarn.lock
Due: npx prettier --write

Manually fetch params from segments in rewrites, fallback to req.query on direct API calls. Fix <a> elements as direct ancestors of <a> elements
  eslint.config.mjs
  next-env.d.ts
  next-logger.config.js
  next.config.js
  package.json
  src/auth/withAuthentication.ts
  src/components/shared/links/LinkPanel.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/instrumentation.api.ts
  src/pages/api/hendelser-ferdigstille-proxy/[type]/[sykmeldtId].api.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Add test to notify us if query params are populated again
  src/pages/api/hendelser-ferdigstille-proxy/[type]/[sykmeldtId].api.ts
  src/pages/api/hendelser-ferdigstille-proxy/[type]/[sykmeldtId].test.ts
Due: npx eslint --fix --max-warnings=0

Revert the type imports
  next-env.d.ts
Due: npx eslint --fix --max-warnings=0

Remove logging
  src/auth/withAuthentication.ts
Due: npx eslint --fix --max-warnings=0

wip
  next.config.js
  src/components/DialogmoteInfoPanel/DialogmoteSykmeldingerInfoPanel.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/DialogmoteLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.tsx
  src/components/shared/links/LinkPanel.test.tsx
  src/components/shared/links/LinkPanel.tsx
  src/pages/api/hendelser-ferdigstille-proxy/[type]/[sykmeldtId].api.ts
  src/pages/api/hendelser-ferdigstille-proxy/[type]/[sykmeldtId].test.ts
  src/pages/api/mark-hendelser-resolved.api.ts
  src/utils/hendelseUtils.ts
  yarn.lock
Due: npx eslint --fix --max-warnings=0

Security update for next
  package.json
  yarn.lock
Due: npx prettier --write

Security update for next (#563)
  package.json
  yarn.lock
Due: npx prettier --write

fix: lint errors
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.tsx
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

fix: typescript erorrs in testhelpers and tests
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.test.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/utils/test/dataCreators.ts
  src/utils/test/testUtils.tsx
Due: npx eslint --fix --max-warnings=0

fix: lint warning
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SoknaderLink.tsx
Due: npx eslint --fix --max-warnings=0

fix: attempt to fix tsc errors
  src/components/soknader/SoknaderList.test.tsx
Due: npx eslint --fix --max-warnings=0

fix: attempt to fix tsc errors
  src/components/soknader/soknaderlistsection/SoknaderListSection.test.tsx
Due: npx eslint --fix --max-warnings=0

fix: attempt to satisfy tsc
  src/components/sykmeldte/SykmeldteList.test.tsx
Due: npx eslint --fix --max-warnings=0

fix: attempt to fix tsc errors
  src/components/virksomhetpicker/VirksomhetPicker.test.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].test.tsx
Due: npx eslint --fix --max-warnings=0

chore: disable failing tests with todo to build and deploy to dev
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/DialogmoteLink.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.test.tsx
Due: npx eslint --fix --max-warnings=0

chore: fix links dialogmøter and oppfolgingsplaner
  .env.development
  .nais/envs/.env.demo
  .nais/envs/.env.dev
  .nais/envs/.env.prod
  src/components/DialogmoteInfoPanel/DialogmoteSykmeldingerInfoPanel.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/DialogmoteLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.tsx
  src/utils/env.ts
  src/utils/hendelseUtils.ts
Due: npx eslint --fix --max-warnings=0

fix: add env variables to test env
  .env.test
Due: none

fix: tests
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/DialogmoteLink.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.test.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
Due: npx eslint --fix --max-warnings=0

chore: convert to template literal
  src/components/DialogmoteInfoPanel/DialogmoteSykmeldingerInfoPanel.tsx
Due: npx eslint --fix --max-warnings=0

fix: type casting from https://github.com/navikt/dinesykmeldte/pull/551/files
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

Revert "fix: type casting from https://github.com/navikt/dinesykmeldte/pull/551/files"
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

fix: remove unnecessary casting
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.test.tsx
  src/components/soknader/SoknaderList.test.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.test.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/virksomhetpicker/VirksomhetPicker.test.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].test.tsx
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

fix: remove casting
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

chore: formatting
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.test.tsx
  src/components/soknader/SoknaderList.test.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.test.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].test.tsx
Due: npx eslint --fix --max-warnings=0

chore: formatting
  src/components/soknader/soknaderlistsection/SoknaderListSection.test.tsx
Due: npx eslint --fix --max-warnings=0

Path conditions:
  npx prettier --write: any of: *.{md,html,css,json}
  npx eslint --fix --max-warnings=0: any of: *.{ts,tsx}
