Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json}": "npx prettier --write",
  "*.{ts,tsx}": "npx eslint --fix --max-warnings=0"
}

Check date with date-fn not on plain string
  src/utils/sykmeldingPeriodUtils.test.ts
Due: npx eslint --fix --max-warnings=0

Change date tests
  src/utils/sykmeldingPeriodUtils.test.ts
Due: npx eslint --fix --max-warnings=0

Remove preview sykmelding
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.test.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/PeriodSummary.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SykmeldingerLink.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SykmeldingerLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/SykmeldtContent.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.test.tsx
  src/components/shared/SykmeldtStatus/SykmeldtStatus.test.tsx
  src/components/shared/SykmeldtStatus/SykmeldtStatus.tsx
  src/components/sidenavigation/SideNavigationList.tsx
  src/components/sykmeldinger/SykmeldingerList.test.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/sykmelding.graphql
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockUtils.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/resolvers/rootResolver.ts
  src/graphql/typedef/root.graphqls
  src/graphql/typedef/sykmelding.graphqls
  src/graphql/typedef/sykmeldt.graphqls
  src/hooks/useSykmeldingerByIds.ts
  src/pages/index.test.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].test.tsx
  src/services/commonApiSchema.ts
  src/services/minesykmeldte/mineSykmeldteSchema.ts
  src/utils/sykmeldingPeriodUtils.ts
  src/utils/sykmeldtUtils.ts
  src/utils/test/dataCreators.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

update cache with sykmeldinger, fix date based tests
  src/components/sykmeldinger/SykmeldingerList.test.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/hooks/useSykmeldt.ts
  src/utils/sykmeldingPeriodUtils.test.ts
  src/utils/sykmeldingPeriodUtils.ts
Due: npx eslint --fix --max-warnings=0

Fix korrigert soknad
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/soknad.graphql
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/services/commonApiSchema.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

Remove korrigerte søknader and tag korrigering
  src/components/soknader/SoknaderList.test.tsx
  src/components/soknader/SoknaderList.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.test.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
Due: npx eslint --fix --max-warnings=0

remove korrigert søknad type
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SoknaderLink.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SoknaderLink.tsx
  src/components/soknader/SoknaderList.test.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
  src/components/soknader/soknaderlistsection/soknadmodal/SoknadModalContent.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/possible-types.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/objectResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/services/commonApiSchema.ts
  src/services/minesykmeldte/mineSykmeldteSchema.ts
  src/utils/soknadUtils.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

use server types in mockDb, add tests for schema unions
  package.json
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/rootResolver.ts
  src/services/commonApiSchema.ts
  src/services/minesykmeldte/mineSykmeldteSchema.test.ts
  src/services/minesykmeldte/mineSykmeldteSchema.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

hide aktiveringsdato when it is in the past
  src/components/soknader/soknaderlistsection/SoknadTag.test.tsx
  src/components/soknader/soknaderlistsection/SoknadTag.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
  src/components/soknader/soknaderlistsection/soknadmodal/SoknadModalContent.tsx
  src/utils/soknadUtils.ts
Due: npx eslint --fix --max-warnings=0

fix initial sort on sykmeldte
  src/components/sykmeldte/useFilteredSykmeldte.tsx
  src/pages/index.test.tsx
Due: npx eslint --fix --max-warnings=0

bump minor deps
  package.json
  yarn.lock
Due: npx prettier --write

maintain weighted sorting when searching
  src/components/sykmeldte/useFilteredSykmeldte.tsx
  src/pages/index.test.tsx
  src/state/filterSlice.ts
  src/state/paginationSlice.ts
Due: npx eslint --fix --max-warnings=0

remove orgnr from arbeidsgiver in sykmelding
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/sykmelding.graphqls
  src/services/commonApiSchema.ts
Due: npx eslint --fix --max-warnings=0

use bigger virksomhet as default on labs [skip ci]
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
Due: npx eslint --fix --max-warnings=0

hourglass icon for future period
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.module.css
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.tsx
  src/pages/index.test.tsx
  src/utils/sykmeldingPeriodUtils.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

tweak labs data
  src/graphql/resolvers/mockresolvers/mockDb/mockDataCreators.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockUtils.ts
  src/services/commonApiSchema.ts
Due: npx eslint --fix --max-warnings=0

fix proxy not working when marking 1 dialogmøte as read
  src/pages/api/dialogmoter-ferdigstille-proxy/[sykmeldtId].api.ts
  src/pages/api/dialogmoter-ferdigstille-proxy/[sykmeldtId].test.ts
Due: npx eslint --fix --max-warnings=0

fix texts, deduplicate summaries
  src/components/SykmeldtInfoPanel/SykmeldteInfoPanel.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.test.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/PeriodSummary.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/PeriodSummary.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/SummaryHeaderContent.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.tsx
  src/components/shared/SykmeldtPeriodStatus/SykmeldtPeriodStatus.test.tsx
  src/components/shared/SykmeldtPeriodStatus/SykmeldtPeriodStatus.tsx
  src/components/shared/SykmeldtStatus/SykmeldtStatus.tsx
  src/components/shared/veileder/DismissableVeileder.tsx
  src/components/sidenavigation/ExpandableMobileNavigation.tsx
  src/components/sidenavigation/SideNavigationList.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldteinfopanel/SykmeldteInfoPanel.tsx
  src/components/sykmeldteinfopanel/infoText.ts
  src/hooks/useBreadcrumbs.ts
  src/pages/index.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
  src/utils/sykmeldingPeriodUtils.test.ts
  src/utils/sykmeldingPeriodUtils.ts
  src/utils/sykmeldtUtils.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

tweak resources for next
  nais-prod-gcp.yaml
Due: none

add kvittering to sporsmal variant
  src/components/soknadpanel/SoknadPanel.test.tsx
  src/components/soknadpanel/SporsmalVarianter/Kvittering.tsx
  src/components/soknadpanel/SporsmalVarianter/SporsmalVarianter.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
Due: npx eslint --fix --max-warnings=0

sort sykmeldinger
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/utils/sykmeldingPeriodUtils.ts
  src/utils/sykmeldingUtils.ts
  src/utils/sykmeldtUtils.ts
Due: npx eslint --fix --max-warnings=0

add 'alle virksomheter' to picker, use it by default
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldte/useFilteredSykmeldte.tsx
  src/components/virksomhetpicker/VirksomhetPicker.test.tsx
  src/components/virksomhetpicker/VirksomhetPicker.tsx
  src/hooks/useSelectedSykmeldt.ts
  src/pages/index.test.tsx
  src/state/filterSlice.ts
Due: npx eslint --fix --max-warnings=0

correct format for belop
  src/components/soknadpanel/SoknadPanel.test.tsx
  src/components/soknadpanel/SporsmalVarianter/Tall.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
Due: npx eslint --fix --max-warnings=0

fix enum
  src/components/soknadpanel/SoknadPanel.test.tsx
  src/components/soknadpanel/SporsmalVarianter/Kvittering.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
Due: npx eslint --fix --max-warnings=0

use behandletTidspunkt instead of startDatoSykefravaer
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/sykmelding.graphql
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockUtils.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/sykmelding.graphqls
  src/graphql/typedef/sykmeldt.graphqls
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].test.tsx
  src/services/minesykmeldte/mineSykmeldteSchema.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

don't varsel for ny soknad
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SoknaderLink.test.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/services/commonApiSchema.ts
  src/utils/soknadUtils.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

add version metrics and tell user about new version
  .env.development
  .github/workflows/deploy.yml
  nais-dev-gcp.yaml
  nais-labs-gcp.yaml
  nais-prod-gcp.yaml
  src/auth/withAuthentication.ts
  src/components/pagewrapper/NewVersionWarning/NewVersionWarning.module.css
  src/components/pagewrapper/NewVersionWarning/NewVersionWarning.tsx
  src/components/pagewrapper/PageWrapper.tsx
  src/graphql/apollo.ts
  src/graphql/prefetching.ts
  src/metrics.ts
  src/pages/_app.page.tsx
  src/pages/api/graphql.api.ts
  src/pages/index.page.tsx
  src/shared/types.ts
  src/state/metadataSlice.ts
  src/state/store.ts
  src/utils/env.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add select for page size for pagination
  src/components/sykmeldte/PaginatedSykmeldteList.module.css
  src/components/sykmeldte/PaginatedSykmeldteList.tsx
  src/pages/_app.page.tsx
  src/state/paginationSlice.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

text changes for sykmeldt period status
  src/components/shared/SykmeldtPeriodStatus/SykmeldtPeriodStatus.test.tsx
  src/utils/sykmeldingPeriodUtils.test.ts
  src/utils/sykmeldingPeriodUtils.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

remove unused name from formatPeriodsRelative
  src/components/shared/SykmeldtPeriodStatus/SykmeldtPeriodStatus.tsx
  src/utils/sykmeldingPeriodUtils.test.ts
  src/utils/sykmeldingPeriodUtils.ts
Due: npx eslint --fix --max-warnings=0

fix page size blank list bug
  src/state/paginationSlice.ts
Due: npx eslint --fix --max-warnings=0

show birthday not fnr
  src/components/soknadpanel/SoknadPanel.test.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.test.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.test.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
  src/utils/stringUtils.test.ts
  src/utils/stringUtils.ts
Due: npx eslint --fix --max-warnings=0

add dots with notification count
  package.json
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.module.css
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.test.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/utils/sykmeldtUtils.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

sort søknader by date
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
  src/style/global.css
  src/utils/soknadUtils.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add temp warning for dialogmøter issue
  src/pages/index.module.css
  src/pages/index.page.tsx
  src/pages/index.test.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

show pls upgrade page for IE users
  package.json
  public/ie/hekkan-i-godstolen.png
  src/auth/withAuthentication.ts
  src/components/UnsupportedBrowser/UnsupportedBrowser.tsx
  src/graphql/prefetching.ts
  src/pages/_app.page.tsx
  src/pages/index.page.tsx
  src/shared/types.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

clean up css when printing
  src/components/shared/veileder/Veileder.module.css
  src/components/sidenavigation/SideNavigation.module.css
  src/components/soknadpanel/SoknadPanel.module.css
  src/components/sykmeldingpanel/SykmeldingPanel.module.css
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
  src/style/global.css
Due: npx prettier --write, npx eslint --fix --max-warnings=0

don't show arbeidsforEtterPeriode when null
  src/components/sykmeldingpanel/SykmeldingPanel.test.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/pages/sykmeldt/[sykmeldtId]/melding/[meldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/meldinger.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
Due: npx eslint --fix --max-warnings=0

handle errors from dinesykmeldte-api better
  src/services/minesykmeldte/mineSykmeldteService.test.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
Due: npx eslint --fix --max-warnings=0
