Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

set up isomorphic logging, using the nav logging framework on client
  package-lock.json
  package.json
  src/pages/_app.tsx
  src/utils/logger.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

update src/utils/logger.ts
  src/utils/logger.ts
Due: npx eslint --fix --max-warnings=0

set up graphql on a api route
  next.config.js
  package-lock.json
  package.json
  src/graphql/resolvers.ts
  src/graphql/schema.graphqls
  src/graphql/schema.ts
  src/pages/api/graphql.ts
  src/utils/logger.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

set up react query with prefetching and hydration on client
  .eslintrc
  Dockerfile
  codegen.yml
  next-env.d.ts
  package-lock.json
  package.json
  src/components/TestComponent.tsx
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/test.graphql
  src/graphql/queryPrefetcher.ts
  src/graphql/resolvers.ts
  src/graphql/schema.graphqls
  src/pages/_app.tsx
  src/pages/index.tsx
  src/shared/types.ts
  src/style/global.css
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix local api url and base path
  .env.production
  .gitignore
  codegen.yml
  nais-dev-gcp.yaml
  next.config.js
  package-lock.json
  package.json
  src/graphql/queries/react-query.generated.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

load mocked resolvers locally, non-mocked with production build
  src/graphql/mockresolvers/mockResolvers.ts
  src/graphql/resolvers.ts
  src/graphql/resolvers/rootResolver.ts
Due: npx eslint --fix --max-warnings=0

basic structure for showing sykmeldte on root route
  codegen.yml
  package-lock.json
  package.json
  src/components/TestComponent.tsx
  src/components/dinesykmeldte/DineSykmeldteList.module.css
  src/components/dinesykmeldte/DineSykmeldteList.tsx
  src/components/dinesykmeldteinfopanel/DineSykmeldteInfoPanel.tsx
  src/components/dinesykmeldteinfopanel/infoText.ts
  src/components/shared/veileder/Veileder.module.css
  src/components/shared/veileder/Veileder.tsx
  src/components/shared/veileder/VeilederIcon.tsx
  src/components/sykmeldinger/SykmeldingerList.module.css
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/components/virksomhetpicker/VirksomhetPicker.module.css
  src/components/virksomhetpicker/VirksomhetPicker.tsx
  src/graphql/mockresolvers/mockResolvers.ts
  src/graphql/queries/dineSykmeldte.graphql
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/sykmeldinger.graphql
  src/graphql/queries/test.graphql
  src/graphql/queries/virksomheter.graphql
  src/graphql/queryPrefetcher.ts
  src/graphql/resolvers.ts
  src/graphql/resolvers/mapperTypes.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/schema.graphqls
  src/pages/index.module.css
  src/pages/index.tsx
  src/pages/sykmeldt/[uuid]/index.tsx
  src/pages/sykmeldt/[uuid]/sykmelding/[personId].tsx
  src/shared/types.ts
  src/style/global.css
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Implement idporten authentication
  .env.development
  nais-dev-gcp.yaml
  package-lock.json
  package.json
  src/auth/idporten-client.ts
  src/auth/idporten.ts
  src/auth/withSession.ts
  src/pages/api/callback.ts
  src/pages/api/login.ts
  src/utils/env.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add auth middleware to all routes
  .env.development
  codegen.yml
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  src/auth/fakeLocalAuthTokenSet.json
  src/auth/idporten-client.ts
  src/auth/idporten.ts
  src/auth/withSession.ts
  src/components/dinesykmeldteinfopanel/DineSykmeldteInfoPanel.tsx
  src/components/shared/veileder/DismissableVeileder.tsx
  src/components/shared/veileder/Veileder.module.css
  src/components/shared/veileder/Veileder.tsx
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/virksomheter.graphql
  src/graphql/queryPrefetcher.ts
  src/graphql/resolvers/mapperTypes.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolverTypes.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/resolvers/rootResolver.ts
  src/graphql/schema.graphqls
  src/pages/404.tsx
  src/pages/500.tsx
  src/pages/_app.tsx
  src/pages/api/callback.ts
  src/pages/api/graphql.ts
  src/pages/api/login.ts
  src/pages/index.tsx
  src/pages/sykmeldt/[uuid]/index.tsx
  src/pages/sykmeldt/[uuid]/sykmelding/[personId].tsx
  src/utils/env.both.ts
  src/utils/env.server.ts
  src/utils/env.ts
  src/utils/tokenSetUtils.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add sentry
  .env.development
  nais-dev-gcp.yaml
  next.config.js
  package-lock.json
  package.json
  sentry.client.config.js
  sentry.properties
  sentry.server.config.js
Due: npx prettier --write

remove transpiling of modules, replace frontendlogger
  Dockerfile
  codegen.yml
  next.config.js
  package-lock.json
  package.json
  src/components/dinesykmeldte/DineSykmeldteList.tsx
  src/components/dinesykmeldteinfopanel/DineSykmeldteInfoPanel.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/components/virksomhetpicker/VirksomhetPicker.module.css
  src/components/virksomhetpicker/VirksomhetPicker.tsx
  src/graphql/queries/dineSykmeldte.graphql
  src/graphql/queries/fragments.graphql
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/sykmeldinger.graphql
  src/graphql/queries/virksomheter.graphql
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/mockresolvers/sykmelding-apen.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/resolvers/rootResolver.ts
  src/graphql/schema.graphqls
  src/graphql/typedef/common.graphqls
  src/graphql/typedef/root.graphqls
  src/graphql/typedef/sykmelding.graphqls
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/api/callback.ts
  src/pages/api/logger.ts
  src/pages/index.tsx
  src/style/global.css
  src/utils/logger.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

replace openid-client and next-iron-session with wonderwall
  .env.development
  .env.production
  .github/workflows/deploy-dev.yml
  .prettierrc.js
  Dockerfile
  dirty-deploy.sh
  nais-dev-gcp.yaml
  package-lock.json
  package.json
  src/auth/fakeLocalAuthTokenSet.json
  src/auth/idporten-client.ts
  src/auth/idporten.ts
  src/auth/withAuthantication.ts
  src/auth/withSession.ts
  src/graphql/queryPrefetcher.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolverTypes.ts
  src/graphql/resolvers/rootResolver.ts
  src/pages/api/callback.ts
  src/pages/api/graphql.ts
  src/pages/api/login.ts
  src/pages/index.tsx
  src/pages/sykmeldt/[uuid]/index.tsx
  src/pages/sykmeldt/[uuid]/sykmelding/[personId].tsx
  src/utils/env.server.ts
  src/utils/logger.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix naming on handler higher order functions
  src/auth/withAuthantication.ts
Due: npx eslint --fix --max-warnings=0

use yarn
  .github/workflows/deploy-dev.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  .yarn/releases/yarn-3.0.2.cjs
  .yarnrc.yml
  Dockerfile
  README.md
  dirty-deploy.sh
  package-lock.json
  package.json
  src/graphql/queries/react-query.generated.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

rename path params, fix decorator env, update deps
  .env.development
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
  Dockerfile
  nais-dev-gcp.yaml
  next.config.js
  package.json
  scripts/strip-less
  sentry.client.config.js
  sentry.server.config.js
  src/components/dinesykmeldte/DineSykmeldteList.tsx
  src/components/shared/veileder/DismissableVeileder.tsx
  src/components/shared/veileder/Veileder.tsx
  src/components/shared/veileder/VeilederIcon.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/components/sykmeldte/SykmeldteList.module.css
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldteinfopanel/SykmeldteInfoPanel.tsx
  src/components/sykmeldteinfopanel/infoText.ts
  src/components/virksomhetpicker/VirksomhetPicker.tsx
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/pages/_document.tsx
  src/pages/api/logger.ts
  src/pages/index.tsx
  src/pages/sykmeldt/[sykmeldtId]/index.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].tsx
  src/style/global.css
  src/utils/env.both.ts
  src/utils/env.ts
  src/utils/logger.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

start of using minesykmeldte-api and tokenX
  nais-dev-gcp.yaml
  package.json
  src/auth/tokenx.ts
  src/components/sykmeldte/SykmeldteList.tsx
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/resolvers/rootResolver.ts
  src/graphql/typedef/root.graphqls
  src/services/mineSykmeldteService.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

clean up graphql API, fetch sykmeldte from API
  .lintstagedrc
  codegen.yml
  dirty-deploy.sh
  nais-dev-gcp.yaml
  package.json
  src/auth/withAuthantication.ts
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldteinfopanel/SykmeldteInfoPanel.tsx
  src/components/virksomhetpicker/VirksomhetPicker.tsx
  src/graphql/prefetching.ts
  src/graphql/queries/fragments.graphql
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/queries/virksomheter.graphql
  src/graphql/queryPrefetcher.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/mockresolvers/sykmelding-apen.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/resolvers/rootResolver.ts
  src/graphql/typedef/root.graphqls
  src/graphql/typedef/soknad.graphqls
  src/graphql/typedef/sykmelding.graphqls
  src/graphql/typedef/sykmeldt.graphqls
  src/pages/index.tsx
  src/pages/sykmeldt/[sykmeldtId]/index.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].tsx
  src/services/commonApiSchema.ts
  src/services/mineSykmeldteService.ts
  src/utils/env.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

implement landing page
  codegen.yml
  package.json
  src/components/sykmeldte/SykmeldteList.module.css
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/expandablesykmeldt/ExpandableSykmeldt.module.css
  src/components/sykmeldte/expandablesykmeldt/ExpandableSykmeldt.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcard/SykmeldtCard.module.css
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcard/SykmeldtCard.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcard/sykmeldticon/SykmeldtIcon.module.css
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcard/sykmeldticon/SykmeldtIcon.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcontent/LinkContent.module.css
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcontent/LinkContent.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcontent/SoknaderLink.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcontent/SykmeldingerLink.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcontent/SykmeldtContent.module.css
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcontent/SykmeldtContent.tsx
  src/graphql/prefetching.ts
  src/graphql/queries/react-query.generated.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/schema.ts
  src/pages/_document.tsx
  src/pages/api/graphql.ts
  src/pages/api/logger.ts
  src/pages/sykmeldt/[sykmeldtId]/soknader.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.tsx
  src/utils/logger.ts
  tsconfig.json
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add date validation to zod schema
  package.json
  src/services/commonApiSchema.ts
  src/services/mineSykmeldteService.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

setup test runner and test SykmeldteList and Links
  jest.config.js
  jest.setup.js
  package.json
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcard/SykmeldtCard.test.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcontent/SoknaderLink.test.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcontent/SoknaderLink.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcontent/SykmeldingerLink.test.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcontent/SykmeldtContent.tsx
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/pages/_document.tsx
  src/utils/test/dataCreators.ts
  src/utils/test/testUtils.tsx
  src/utils/tokenSetUtils.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

update fetch to match api changes in backend
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/sykmeldt.graphqls
  src/services/mineSykmeldteService.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

add data fetching flow for sykmelding and søknad
  package.json
  src/components/shared/links/LinkContent.module.css
  src/components/shared/links/LinkContent.tsx
  src/components/soknader/SoknaderList.module.css
  src/components/soknader/SoknaderList.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcontent/LinkContent.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcontent/SoknaderLink.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcontent/SykmeldingerLink.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcontent/SykmeldtContent.module.css
  src/graphql/prefetching.ts
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/soknad.graphql
  src/graphql/queries/sykmelding.graphql
  src/graphql/resolvers/mockresolvers/mockData.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/resolvers/rootResolver.ts
  src/graphql/typedef/root.graphqls
  src/graphql/typedef/soknad.graphqls
  src/graphql/typedef/sykmelding.graphqls
  src/hooks/useSykmeldt.ts
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.tsx
  src/services/commonApiSchema.ts
  src/services/mineSykmeldteService.ts
  src/services/minesykmeldte/mineSykmeldteSchema.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

test sykmelding and soknad list
  .github/workflows/deploy-dev.yml
  jest.config.js
  package.json
  src/components/shared/links/LinkContent.tsx
  src/components/shared/links/LinkPanel.module.css
  src/components/shared/links/LinkPanel.tsx
  src/components/soknader/SoknaderList.test.tsx
  src/components/soknader/SoknaderList.tsx
  src/components/sykmeldinger/SykmeldingerList.test.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcontent/SoknaderLink.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcontent/SykmeldingerLink.tsx
  src/pages/_app.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.tsx
  src/services/commonApiSchema.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

initial useUpdateBreadcrumb and useParam impl.
  .eslintrc
  src/hooks/useParam.ts
  src/hooks/useSykmeldt.ts
  src/pages/_app.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.tsx
  src/utils/breadcrumb.ts
Due: npx eslint --fix --max-warnings=0

test useParam and useUpdateBreadcrumb hooks
  jest.setup.js
  package.json
  src/hooks/useBreadcrumbs.test.tsx
  src/hooks/useBreadcrumbs.ts
  src/hooks/useParam.test.tsx
  src/pages/_app.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

ssr breadcrumbs
  jest.setup.js
  src/graphql/queries/react-query.generated.ts
  src/graphql/resolvers/mockresolvers/mockData.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/hooks/useBreadcrumbs.ts
  src/pages/_document.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.tsx
  src/services/commonApiSchema.ts
  src/utils/sykmeldtUtils.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

deduplicate breadcrumb creation
  next.config.js
  src/hooks/useBreadcrumbs.test.tsx
  src/hooks/useBreadcrumbs.ts
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.tsx
Due: npx eslint --fix --max-warnings=0

mark søknad and sykmeldinger as read on visit
  .gitattributes
  jest.setup.js
  next.config.js
  package.json
  src/graphql/queries/markRead.graphql
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/soknad.graphql
  src/graphql/queries/sykmelding.graphql
  src/graphql/resolvers/mockresolvers/mockData.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/resolvers/rootResolver.ts
  src/graphql/typedef/root.graphqls
  src/hooks/useBreadcrumbs.test.tsx
  src/pages/404.page.tsx
  src/pages/500.page.tsx
  src/pages/_app.page.tsx
  src/pages/_document.page.tsx
  src/pages/api/graphql.api.ts
  src/pages/api/is_alive.api.ts
  src/pages/api/is_ready.api.ts
  src/pages/api/logger.api.ts
  src/pages/index.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
  src/services/minesykmeldte/mineSykmeldteSchema.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/utils/env.ts
  src/utils/test/locationUtils.ts
  tsconfig.json
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix breadcrumbs, bump deps
  codegen.yml
  jest.setup.js
  package.json
  src/auth/withAuthentication.ts
  src/graphql/prefetching.ts
  src/graphql/queries/react-query.generated.ts
  src/graphql/resolvers.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolverTypes.ts
  src/graphql/resolvers/rootResolver.ts
  src/graphql/schema.ts
  src/hooks/useBreadcrumbs.test.tsx
  src/hooks/useBreadcrumbs.ts
  src/pages/_document.page.tsx
  src/pages/api/graphql.api.ts
  src/pages/index.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
  src/utils/logger.ts
  src/utils/test/dataCreators.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

handle api requests that are 403
  codegen.yml
  src/graphql/queries/clientFetcher.ts
  src/graphql/queries/react-query.generated.ts
Due: npx eslint --fix --max-warnings=0

add snyk workflow and fix high severity next vulnerability
  .github/workflows/deploy-prod.yml
  .snyk
  next-env.d.ts
  package.json
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix breadcrumbs, bump deps
  yarn.lock
Due: none

implement side menu for all sub pages
  jest.setup.js
  next.config.js
  package.json
  src/components/shared/StateProvider.tsx
  src/components/sidenavigation/SideNavigation.module.css
  src/components/sidenavigation/SideNavigation.test.tsx
  src/components/sidenavigation/SideNavigation.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/expandablesykmeldt/ExpandableSykmeldt.tsx
  src/graphql/resolvers/mockresolvers/mockData.ts
  src/pages/_app.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].module.css
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
  src/style/global.css
  src/utils/test/testUtils.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

test expand/close toggle
  src/components/shared/StateProvider.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].test.tsx
  src/utils/test/dataCreators.ts
  src/utils/test/testUtils.tsx
Due: npx eslint --fix --max-warnings=0

rename reducer
  src/components/shared/StateProvider.tsx
  src/components/sidenavigation/SideNavigation.module.css
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fetch virksomheter from backend
  src/graphql/resolvers/rootResolver.ts
  src/services/minesykmeldte/mineSykmeldteSchema.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
Due: npx eslint --fix --max-warnings=0

speed up github actions build
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  next.config.js
Due: none

bump minor versions
  package.json
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

upgrade major version of eslint
  package.json
  yarn.lock
Due: npx prettier --write

Path conditions:
  npx prettier --write: any of: *.{md,html,css,json}
  npx eslint --fix --max-warnings=0: any of: *.{ts,tsx}
