Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json}": "npx prettier --write",
  "*.{ts,tsx}": "npx eslint --fix --max-warnings=0"
}

fix(graphql): log structured request errors (#771)
  src/graphql/apollo.test.ts
  src/graphql/apollo.ts
Due: npx eslint --fix --max-warnings=0

feat(tiltakspakke): vis kom-i-gang-boks
  src/app/[sykmeldtId]/SykmeldtIdPage.tsx
  src/app/[sykmeldtId]/page.test.tsx
  src/components/SykmeldtInfoPanel/SykmeldteInfoPanel.tsx
  src/components/komigangtidlig/KomIGangTidligInfo.test.tsx
  src/components/komigangtidlig/KomIGangTidligInfo.tsx
  src/components/komigangtidlig/useVisKomIGangTidlig.ts
  src/components/paaminnelse/PaaminnelseModul.test.tsx
  src/components/paaminnelse/paaminnelseUtils.test.ts
  src/components/paaminnelse/paaminnelseUtils.ts
  src/components/paaminnelse/usePaaminnelseModul.ts
  src/components/shared/veileder/DismissableVeileder.test.tsx
  src/components/shared/veileder/DismissableVeileder.tsx
  src/services/tiltakspakke/tiltakspakkevurderingGating.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingGating.ts
  src/services/tiltakspakke/useTiltakspakkevurdering.ts
  src/utils/test/tiltakspakkevurderingProbe.tsx
Due: npx eslint --fix --max-warnings=0

refactor(amplitude): fjern avslått Amplitude-logging
  .env.development
  .env.test
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  src/amplitude/amplitude.tsx
  src/amplitude/taxonomyEvents.ts
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
  src/components/PageSideMenu/PageSideMenu.tsx
  src/components/shared/errors/PageError.tsx
  src/components/soknader/SoknaderList.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsRead.tsx
  src/components/sykmeldte/SykmeldteNotifying/SortBy.tsx
  src/components/sykmeldtefilter/SykmeldteFilter.tsx
  src/hooks/useBreadcrumbs.ts
  src/utils/env.ts
  vitest.setup.mts
Due: npx eslint --fix --max-warnings=0

refactor(amplitude): fjern tom amplitude-modul
  src/amplitude/amplitude.tsx
Due: npx eslint --fix --max-warnings=0

fix(tiltakspakke): la kom i gang erstatte personalansvar
  src/app/[sykmeldtId]/SykmeldtIdPage.tsx
  src/app/[sykmeldtId]/page.test.tsx
  src/components/SykmeldtInfoPanel/SykmeldteInfoPanel.test.tsx
  src/components/SykmeldtInfoPanel/SykmeldteInfoPanel.tsx
  src/components/komigangtidlig/KomIGangTidligInfo.test.tsx
  src/components/komigangtidlig/KomIGangTidligInfo.tsx
  src/components/komigangtidlig/useVisKomIGangTidlig.ts
  src/components/shared/veileder/DismissableVeileder.test.tsx
  src/components/shared/veileder/DismissableVeileder.tsx
  src/services/tiltakspakke/useTiltakspakkevurdering.ts
Due: npx eslint --fix --max-warnings=0

fix(dialogmote): fjern gammel boks fra Dine sykmeldte
  src/app/[sykmeldtId]/SykmeldtIdPage.tsx
  src/components/DialogmoteInfoPanel/DialogmoteInfoPanel.tsx
  src/components/sykmeldinger/SykmeldingerList.test.tsx
Due: npx eslint --fix --max-warnings=0

feat(tiltakspakke): vis kom-i-gang-boks (#772)
  src/app/[sykmeldtId]/SykmeldtIdPage.tsx
  src/app/[sykmeldtId]/page.test.tsx
  src/components/DialogmoteInfoPanel/DialogmoteInfoPanel.tsx
  src/components/SykmeldtInfoPanel/SykmeldteInfoPanel.test.tsx
  src/components/SykmeldtInfoPanel/SykmeldteInfoPanel.tsx
  src/components/komigangtidlig/KomIGangTidligInfo.tsx
  src/components/komigangtidlig/useVisKomIGangTidlig.ts
  src/components/paaminnelse/PaaminnelseModul.test.tsx
  src/components/paaminnelse/paaminnelseUtils.test.ts
  src/components/paaminnelse/paaminnelseUtils.ts
  src/components/paaminnelse/usePaaminnelseModul.ts
  src/components/sykmeldinger/SykmeldingerList.test.tsx
  src/services/tiltakspakke/tiltakspakkevurderingGating.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingGating.ts
  src/services/tiltakspakke/useTiltakspakkevurdering.ts
  src/utils/test/tiltakspakkevurderingProbe.tsx
Due: npx eslint --fix --max-warnings=0

Opprydding etter kommentarer
  src/components/PageSideMenu/PageSideMenu.tsx
Due: npx eslint --fix --max-warnings=0

nav dekoratoren 422 amplitude cleanup (#773)
  .env.development
  .env.test
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  package.json
  pnpm-lock.yaml
  src/amplitude/amplitude.tsx
  src/amplitude/taxonomyEvents.ts
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
  src/components/PageSideMenu/PageSideMenu.tsx
  src/components/shared/errors/PageError.tsx
  src/components/soknader/SoknaderList.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsRead.tsx
  src/components/sykmeldte/SykmeldteNotifying/SortBy.tsx
  src/components/sykmeldtefilter/SykmeldteFilter.tsx
  src/hooks/useBreadcrumbs.ts
  src/utils/env.ts
  vitest.setup.mts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

feat(flaggskip): use flaggskipet integration
  .env.development
  .env.test
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/services/flaggskipet/flaggskipetClient.ts
  src/services/flaggskipet/flaggskipetContract.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
  src/shared/types.ts
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

feat(tiltakspakke): use only one feature toggle
  .env.development
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/app/api/graphql/route.ts
  src/app/api/lumi-feedback/route.ts
  src/app/api/mark-hendelser-resolved/route.ts
  src/app/api/paaminnelse/[narmestelederId]/route.test.ts
  src/app/api/paaminnelse/[narmestelederId]/route.ts
  src/app/api/tiltakspakkevurdering/route.test.ts
  src/app/api/tiltakspakkevurdering/route.ts
  src/app/layout.tsx
  src/auth/withAuthenticatedApiRoute.test.ts
  src/auth/withAuthenticatedApiRoute.ts
  src/graphql/prefetching.ts
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

feat(oppfolging): vis arbeidsgivers ansvar ved sykefravær
  src/app/[sykmeldtId]/SykmeldtIdPage.tsx
  src/app/[sykmeldtId]/page.test.tsx
  src/components/AnsvarVedSykefravaer/AnsvarVedSykefravaer.test.tsx
  src/components/AnsvarVedSykefravaer/AnsvarVedSykefravaer.tsx
  src/components/NarmestelederInfo/NarmestelederInfoSection.test.tsx
  src/components/NarmestelederInfo/NarmestelederInfoSection.tsx
Due: npx eslint --fix --max-warnings=0

fix(oppfolging): lukk ansvarspunkter ved innlasting
  src/components/AnsvarVedSykefravaer/AnsvarVedSykefravaer.test.tsx
  src/components/AnsvarVedSykefravaer/AnsvarVedSykefravaer.tsx
Due: npx eslint --fix --max-warnings=0

feat(flaggskip): use flaggskipet integration (#774)
  .env.development
  .env.test
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/app/api/graphql/route.ts
  src/app/api/lumi-feedback/route.ts
  src/app/api/mark-hendelser-resolved/route.ts
  src/app/api/paaminnelse/[narmestelederId]/route.test.ts
  src/app/api/paaminnelse/[narmestelederId]/route.ts
  src/app/api/tiltakspakkevurdering/route.test.ts
  src/app/api/tiltakspakkevurdering/route.ts
  src/app/layout.tsx
  src/auth/withAuthenticatedApiRoute.test.ts
  src/auth/withAuthenticatedApiRoute.ts
  src/graphql/prefetching.ts
  src/services/flaggskipet/flaggskipetClient.ts
  src/services/flaggskipet/flaggskipetContract.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
  src/shared/types.ts
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

feat(tiltakspakkevurdering): change toggle to call flaggskipet every time
  src/services/flaggskipet/flaggskipetClient.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
Due: npx eslint --fix --max-warnings=0

feat(tiltakspakkevurdering): change toggle to call flaggskipet every time (#776)
  src/services/flaggskipet/flaggskipetClient.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
Due: npx eslint --fix --max-warnings=0

refactor(tiltakspakke): uttrykk virksomhetsvalg i gating
  src/components/NarmestelederInfo/NarmestelederInfoSection.test.tsx
  src/components/NarmestelederInfo/NarmestelederInfoSection.tsx
  src/components/SykmeldtInfoPanel/SykmeldteInfoPanel.test.tsx
  src/components/SykmeldtInfoPanel/SykmeldteInfoPanel.tsx
  src/services/tiltakspakke/useTiltaksgruppeForVirksomhetsvalg.ts
  src/services/tiltakspakke/useTiltakspakkevurdering.ts
  src/utils/test/tiltakspakkevurderingProbe.tsx
Due: npx eslint --fix --max-warnings=0

feat(oppfolging): vis arbeidsgivers ansvar ved sykefravær (#775)
  src/app/[sykmeldtId]/SykmeldtIdPage.tsx
  src/app/[sykmeldtId]/page.test.tsx
  src/components/AnsvarVedSykefravaer/AnsvarVedSykefravaer.test.tsx
  src/components/AnsvarVedSykefravaer/AnsvarVedSykefravaer.tsx
  src/components/NarmestelederInfo/NarmestelederInfoSection.test.tsx
  src/components/NarmestelederInfo/NarmestelederInfoSection.tsx
  src/components/SykmeldtInfoPanel/SykmeldteInfoPanel.test.tsx
  src/components/SykmeldtInfoPanel/SykmeldteInfoPanel.tsx
  src/services/tiltakspakke/useTiltaksgruppeForVirksomhetsvalg.ts
  src/services/tiltakspakke/useTiltakspakkevurdering.ts
  src/utils/test/tiltakspakkevurderingProbe.tsx
Due: npx eslint --fix --max-warnings=0

feat(observability): migrer browsertelemetri til @nais/apm
  .env.test
  .npmrc
  instrumentation-client.ts
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/sykmeldt/[sykmeldtId]/melding/[meldingId]/MeldingPage.tsx
  src/app/sykmeldt/[sykmeldtId]/soknad/[soknadId]/SoknadPage.tsx
  src/app/sykmeldt/[sykmeldtId]/soknad/[soknadId]/page.test.tsx
  src/app/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId]/SykmeldingPage.tsx
  src/components/Providers/Providers.tsx
  src/components/shared/errors/ErrorBoundary.test.tsx
  src/components/shared/errors/ErrorBoundary.tsx
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsReadModal.test.tsx
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsReadModal.tsx
  src/faro/faro.ts
  src/graphql/apollo.test.ts
  src/graphql/apollo.ts
  src/hooks/useBreadcrumbs.test.tsx
  src/hooks/useBreadcrumbs.ts
  src/observability/ApmRouteTracker.test.tsx
  src/observability/ApmRouteTracker.tsx
  src/observability/apolloErrorOwnership.test.ts
  src/observability/apolloErrorOwnership.ts
  src/observability/browser.test.ts
  src/observability/browser.ts
  src/observability/browserLogger.test.ts
  src/observability/browserLogger.ts
  src/observability/clientErrorLogger.test.ts
  src/observability/clientErrorLogger.ts
  src/utils/test/testUtils.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix(observability): stram inn browsertelemetri
  .env.test
  src/app/layout.tsx
  src/app/sykmeldt/[sykmeldtId]/melding/[meldingId]/MeldingPage.tsx
  src/app/sykmeldt/[sykmeldtId]/soknad/[soknadId]/SoknadPage.tsx
  src/app/sykmeldt/[sykmeldtId]/soknad/[soknadId]/page.test.tsx
  src/app/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId]/SykmeldingPage.tsx
  src/components/Providers/Providers.tsx
  src/components/shared/errors/ErrorBoundary.test.tsx
  src/components/shared/errors/ErrorBoundary.tsx
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsReadModal.test.tsx
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsReadModal.tsx
  src/graphql/apollo.test.ts
  src/graphql/apollo.ts
  src/hooks/useBreadcrumbs.test.tsx
  src/hooks/useBreadcrumbs.ts
  src/observability/ApmRouteTracker.test.tsx
  src/observability/ApmRouteTracker.tsx
  src/observability/apolloErrorOwnership.test.ts
  src/observability/apolloErrorOwnership.ts
  src/observability/browser.test.ts
  src/observability/browser.ts
  src/observability/browserLogger.test.ts
  src/observability/browserLogger.ts
  src/observability/clientErrorLogger.test.ts
  src/observability/clientErrorLogger.ts
  src/utils/test/testUtils.tsx
Due: npx eslint --fix --max-warnings=0

refactor(observability): forenkle browser-scrubbing
  src/observability/browser.test.ts
  src/observability/browser.ts
Due: npx eslint --fix --max-warnings=0

fix(observability): stram inn scrubbergrenser
  src/observability/browser.test.ts
  src/observability/browser.ts
Due: npx eslint --fix --max-warnings=0

Migrer browsertelemetri til @nais/apm (#779)
  .npmrc
  instrumentation-client.ts
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/components/Providers/Providers.tsx
  src/components/shared/errors/ErrorBoundary.test.tsx
  src/components/shared/errors/ErrorBoundary.tsx
  src/faro/faro.ts
  src/observability/ApmRouteTracker.test.tsx
  src/observability/ApmRouteTracker.tsx
  src/observability/browser.test.ts
  src/observability/browser.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

feat: standardiser tiltakspakkevurdering-feil
  src/app/api/tiltakspakkevurdering/route.test.ts
  src/app/api/tiltakspakkevurdering/route.ts
  src/observability/runtimeErrorContract.test.ts
  src/observability/runtimeErrorContract.ts
  src/services/tiltakspakke/tiltakspakkevurderingRuntimeErrorSerialization.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
Due: npx eslint --fix --max-warnings=0

chore: tydeliggjør tiltakspakke-feilmelding
  src/app/api/tiltakspakkevurdering/route.test.ts
  src/app/api/tiltakspakkevurdering/route.ts
  src/services/tiltakspakke/tiltakspakkevurderingRuntimeErrorSerialization.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
Due: npx eslint --fix --max-warnings=0

Standardiser feilmetadata for tiltakspakkevurdering (#780)
  src/app/api/tiltakspakkevurdering/route.test.ts
  src/app/api/tiltakspakkevurdering/route.ts
  src/observability/runtimeErrorContract.test.ts
  src/observability/runtimeErrorContract.ts
  src/services/tiltakspakke/tiltakspakkevurderingRuntimeErrorSerialization.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
Due: npx eslint --fix --max-warnings=0

chore(nais): aktiver AID-pilot i prod
  nais/nais-prod.yaml
Due: none

chore(nais): aktiver AID-pilot i prod (#800)
  nais/nais-prod.yaml
Due: none

Mål levering og bruk av AID-påminnelsen
  src/components/paaminnelse/PaaminnelseModul.tsx
  src/components/paaminnelse/PaaminnelseTelemetry.test.tsx
  src/components/paaminnelse/usePaaminnelseModul.ts
  src/components/paaminnelse/usePaaminnelseTelemetry.ts
  src/observability/aidTelemetry.test.ts
  src/observability/aidTelemetry.ts
  src/observability/browser.ts
  src/services/tiltakspakke/tiltakspakkevurderingGating.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingGating.ts
  src/services/tiltakspakke/useTiltakspakkevurdering.ts
Due: npx eslint --fix --max-warnings=0

Forenkle sammensetningen av påminnelsesmodulen
  src/components/paaminnelse/PaaminnelseTelemetry.test.tsx
  src/components/paaminnelse/paaminnelseActions.ts
  src/components/paaminnelse/paaminnelseAvailability.test.ts
  src/components/paaminnelse/paaminnelseAvailability.ts
  src/components/paaminnelse/usePaaminnelseModul.ts
  src/components/paaminnelse/usePaaminnelseTelemetry.ts
  src/observability/aidTelemetry.test.ts
  src/observability/aidTelemetry.ts
  src/services/tiltakspakke/tiltakspakkevurderingContract.ts
  src/services/tiltakspakke/tiltakspakkevurderingGating.ts
  src/services/tiltakspakke/useTiltakspakkevurdering.ts
Due: npx eslint --fix --max-warnings=0

Forenkle repoinstruksjoner og fjern oppsettskontroller
  .github/copilot-instructions.md
  .github/instructions/accessibility.instructions.md
  .github/instructions/copilot-review.instructions.md
  .github/instructions/docker.instructions.md
  .github/instructions/frontend.instructions.md
  .github/instructions/github-actions.instructions.md
  .github/instructions/norwegian-text.instructions.md
  .github/instructions/security.instructions.md
  .github/workflows/verify-agent-setup.yml
  AGENTS.md
Due: npx prettier --write

Mål levering og bruk av AID-påminnelsen (#801)
  src/components/paaminnelse/PaaminnelseModul.tsx
  src/components/paaminnelse/PaaminnelseTelemetry.test.tsx
  src/components/paaminnelse/paaminnelseActions.ts
  src/components/paaminnelse/paaminnelseAvailability.test.ts
  src/components/paaminnelse/paaminnelseAvailability.ts
  src/components/paaminnelse/usePaaminnelseModul.ts
  src/components/paaminnelse/usePaaminnelseTelemetry.ts
  src/observability/aidTelemetry.test.ts
  src/observability/aidTelemetry.ts
  src/observability/browser.ts
  src/services/tiltakspakke/tiltakspakkevurderingContract.ts
  src/services/tiltakspakke/tiltakspakkevurderingGating.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingGating.ts
  src/services/tiltakspakke/useTiltakspakkevurdering.ts
Due: npx eslint --fix --max-warnings=0

Se [Slack](https://nav-it.slack.com/archives/C012X796B4L/p1780922999275879) (#711)
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
Due: npx eslint --fix --max-warnings=0

fix: upgrade Next.js for security fixes
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: npx prettier --write

fix: upgrade Next.js for security fixes (#803)
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: npx prettier --write

feat(prototype): tre varianter for sykefraværsoppfølging
  package.json
  scripts/prototype.mjs
  src/app/prototype/PrototypePage.tsx
  src/app/prototype/page.tsx
  src/prototype/components/AktueltNaBlokk.tsx
  src/prototype/components/Dm1StatusKort.tsx
  src/prototype/components/DokumenterOgHistorikk.tsx
  src/prototype/components/ForberedelseKort.tsx
  src/prototype/components/KildeMerke.tsx
  src/prototype/components/Nokkelinfo.tsx
  src/prototype/components/PrototypeRamme.tsx
  src/prototype/components/VidereAvtale.tsx
  src/prototype/data/scenarier.ts
  src/prototype/state/PrototypeContext.tsx
  src/prototype/types.ts
  src/prototype/utils/format.ts
  src/prototype/utils/oppfolging.ts
  src/prototype/varianter/VariantA.tsx
  src/prototype/varianter/VariantB.tsx
  src/prototype/varianter/VariantC.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

feat(prototype): samle oppfølging på fellessiden
  src/app/prototype/PrototypePage.tsx
  src/components/LabsWarning/LabsWarning.tsx
  src/components/Providers/Providers.tsx
  src/prototype/README.md
  src/prototype/components/AktueltNaBlokk.tsx
  src/prototype/components/Dm1StatusKort.tsx
  src/prototype/components/DokumenterOgHistorikk.tsx
  src/prototype/components/ForberedelseKort.tsx
  src/prototype/components/KildeMerke.tsx
  src/prototype/components/Nokkelinfo.tsx
  src/prototype/components/OppfolgingArbeidsflate.tsx
  src/prototype/components/OppfolgingDialog.module.css
  src/prototype/components/OppfolgingDialog.tsx
  src/prototype/components/PrototypeRamme.tsx
  src/prototype/components/VidereAvtale.tsx
  src/prototype/data/scenarier.ts
  src/prototype/prototype.module.css
  src/prototype/state/PrototypeContext.test.tsx
  src/prototype/state/PrototypeContext.tsx
  src/prototype/types.ts
  src/prototype/utils/oppfolging.test.ts
  src/prototype/utils/oppfolging.ts
  src/prototype/varianter/VariantA.tsx
  src/prototype/varianter/VariantB.tsx
  src/prototype/varianter/VariantC.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0
