Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

bump major version of graphql
  .gitignore
  package.json
  src/graphql/prefetching.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix naming of filter søknad predicate
  src/components/soknader/SoknaderList.tsx
Due: npx eslint --fix --max-warnings=0

implement shared page header
  src/components/pagewrapper/PageWrapper.module.css
  src/components/pagewrapper/PageWrapper.tsx
  src/components/shared/StateProvider.tsx
  src/components/virksomhetpicker/VirksomhetPicker.module.css
  src/components/virksomhetpicker/VirksomhetPicker.tsx
  src/pages/_document.page.tsx
  src/pages/index.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

filter sykmledte on index page
  next.config.js
  package.json
  src/components/pagewrapper/PageWrapper.tsx
  src/components/shared/StateProvider.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/expandablesykmeldt/ExpandableSykmeldt.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcard/sykmeldticon/SykmeldtIcon.tsx
  src/components/sykmeldte/useSykmeldtFilter.tsx
  src/components/sykmeldtefilter/SykmeldteFilter.module.css
  src/components/sykmeldtefilter/SykmeldteFilter.tsx
  src/pages/index.page.tsx
  src/utils/sykmeldtUtils.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

clean up filter code and add some tests
  .eslintrc
  next-logger.config.js
  next.config.js
  package.json
  src/components/pagewrapper/PageWrapper.tsx
  src/components/shared/StateProvider.tsx
  src/components/shared/links/LinkPanel.tsx
  src/components/sidenavigation/SideNavigation.tsx
  src/components/soknader/SoknaderList.test.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
  src/components/sykmeldinger/SykmeldingerList.test.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.test.tsx
  src/components/sykmeldingpanel/sykmeldingerinfoitem/SykmeldingInfoItem.tsx
  src/components/sykmeldingpanel/sykmeldingperiode/sykmeldigPeriodeUtils.ts
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcard/sykmeldticon/SykmeldtIcon.tsx
  src/components/sykmeldte/useFilteredSykmeldte.tsx
  src/components/sykmeldte/useSykmeldtFilter.tsx
  src/components/sykmeldtefilter/SykmeldteFilter.tsx
  src/components/virksomhetpicker/VirksomhetPicker.test.tsx
  src/components/virksomhetpicker/VirksomhetPicker.tsx
  src/graphql/resolvers/mockresolvers/mockData.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/hooks/useSelectedSykmeldt.ts
  src/pages/_document.page.tsx
  src/pages/index.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].test.tsx
  src/utils/soknadUtils.ts
  src/utils/stringUtils.ts
  src/utils/test/dataCreators.ts
  src/utils/test/testUtils.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

test PageWrapper.tsx
  src/components/pagewrapper/PageWrapper.test.tsx
  src/components/pagewrapper/PageWrapper.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.test.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].test.tsx
Due: npx eslint --fix --max-warnings=0

test filters through index.page.tsx
  .babelrc
  jest-env.d.ts
  next.config.js
  package.json
  src/auth/tokenx.ts
  src/components/shared/veileder/DismissableVeileder.module.css
  src/components/shared/veileder/DismissableVeileder.tsx
  src/components/shared/veileder/Veileder.module.css
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldtefilter/SykmeldtFilter.test.tsx
  src/components/sykmeldtefilter/SykmeldteFilter.tsx
  src/components/virksomhetpicker/VirksomhetPicker.tsx
  src/pages/index.test.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].test.tsx
  src/utils/sykmeldtUtils.ts
  src/utils/test/dataCreators.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

tweak pr, bump deps
  .eslintrc
  package.json
  src/components/pagewrapper/PageWrapper.tsx
  src/components/shared/links/LinkPanel.module.css
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcard/sykmeldticon/SykmeldtIcon.tsx
  src/components/virksomhetpicker/VirksomhetPicker.module.css
  src/components/virksomhetpicker/VirksomhetPicker.tsx
  src/graphql/queries/react-query.generated.ts
  src/pages/api/graphql.api.ts
  src/pages/index.test.tsx
  src/utils/test/dataCreators.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

robust local test data generator without data duplication
  src/graphql/queries/react-query.generated.ts
  src/graphql/resolvers/mockresolvers/mockData.ts
  src/graphql/resolvers/mockresolvers/mockDb/index.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.test.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockUtils.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].test.tsx
Due: npx eslint --fix --max-warnings=0

deploy to demo
  .env.production
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  nais-labs-gcp.yaml
  src/auth/withAuthentication.ts
  src/components/sidenavigation/SideNavigation.tsx
  src/graphql/resolvers.ts
  src/graphql/resolvers/mockresolvers/mockDb/index.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/pages/_app.page.tsx
  src/pages/_document.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/utils/env.ts
  src/utils/test/testUtils.tsx
Due: npx eslint --fix --max-warnings=0

clarify mockdb hack
  src/graphql/resolvers/mockresolvers/mockDb/index.ts
Due: npx eslint --fix --max-warnings=0

handle different types of Søknad link panels
  jest.setup.js
  src/components/shared/links/LinkPanel.module.css
  src/components/shared/links/LinkPanel.tsx
  src/components/soknader/SoknaderList.test.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.test.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
  src/components/soknader/soknaderlistsection/soknadmodal/SoknadModalContent.module.css
  src/components/soknader/soknaderlistsection/soknadmodal/SoknadModalContent.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/pages/_app.page.tsx
  src/utils/soknadUtils.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

The start of implementing Soknad details view
  src/components/shared/checkboxexplanation/CheckboxExplanation.module.css
  src/components/shared/checkboxexplanation/CheckboxExplanation.tsx
  src/components/shared/listItem/ListItem.module.css
  src/components/shared/listItem/ListItem.test.tsx
  src/components/shared/listItem/ListItem.tsx
  src/components/shared/listItemCheckbox/ListItemCheckbox.module.css
  src/components/shared/listItemCheckbox/ListItemCheckbox.test.tsx
  src/components/shared/listItemCheckbox/ListItemCheckbox.tsx
  src/components/shared/veileder/Veileder.tsx
  src/components/shared/veileder/VeilederMaleSvg.tsx
  src/components/soknadpanel/SoknadPanel.module.css
  src/components/soknadpanel/SoknadPanel.test.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.module.css
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/soknad.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/services/minesykmeldte/mineSykmeldteSchema.ts
  src/utils/test/dataCreators.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Remove sykmeldingId prop and nullable render
  src/components/soknadpanel/SoknadPanel.test.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
Due: npx eslint --fix --max-warnings=0

use søknadperioder from søknad
  src/components/shared/links/LinkPanel.module.css
  src/components/soknader/soknaderlistsection/PreviewSoknadDescription.module.css
  src/components/soknader/soknaderlistsection/PreviewSoknadDescription.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.test.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/soknad.graphql
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/services/commonApiSchema.ts
  src/services/minesykmeldte/mineSykmeldteSchema.ts
  src/utils/soknadUtils.ts
  src/utils/test/dataCreators.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

use a single build and artifact, update ingress
  .env.production
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy.yml
  nais-dev-gcp.yaml
  nais-labs-gcp.yaml
  next.config.js
  package.json
  src/auth/withAuthentication.ts
  src/components/pagewrapper/PageWrapper.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.test.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
  src/graphql/resolvers/mockresolvers/mockDb/index.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/utils/env.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

deploy to prod
  .github/workflows/deploy.yml
  nais-prod-gcp.yaml
Due: none

move readyness apis to internal
  nais-dev-gcp.yaml
  nais-labs-gcp.yaml
  nais-prod-gcp.yaml
  package.json
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/soknad.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/pages/api/internal/is_alive.api.ts
  src/pages/api/internal/is_ready.api.ts
  src/services/minesykmeldte/mineSykmeldteSchema.ts
  src/utils/test/dataCreators.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

prepare deploy.yml for merge
  .github/workflows/deploy.yml
Due: none

group sykmeldte by notifying
  jest.setup.js
  src/components/soknader/soknaderlistsection/SoknaderListSection.test.tsx
  src/components/soknader/soknaderlistsection/soknadmodal/SoknadModalContent.tsx
  src/components/sykmeldte/SykmeldteList.module.css
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/expandablesykmeldt/ExpandableSykmeldt.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcard/SykmeldtCard.test.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcard/SykmeldtCard.tsx
  src/pages/index.test.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].test.tsx
  src/utils/sykmeldtUtils.ts
  src/utils/test/customMatchers.ts
  src/utils/test/dataCreators.ts
  src/utils/tsUtils.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add dinesykmeldte-backend as outbound policy, use new intern url
  nais-dev-gcp.yaml
  nais-prod-gcp.yaml
Due: none

justerer ned loglevel til warn hvis man ikke har noen virksomheter
  src/hooks/useSelectedSykmeldt.ts
Due: npx eslint --fix --max-warnings=0

bump deps, force node-fetch transitive dep
  package.json
  src/hooks/useSelectedSykmeldt.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add expandable sykmeldinger summary on sykmeldt
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldte/expandablesykmeldt/ExpandableSykmeldt.module.css
  src/components/sykmeldte/expandablesykmeldt/ExpandableSykmeldt.tsx
  src/components/sykmeldte/expandablesykmeldt/expandablesykmeldtsummary/ExpandableSykmeldtSummary.module.css
  src/components/sykmeldte/expandablesykmeldt/expandablesykmeldtsummary/ExpandableSykmeldtSummary.tsx
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/sykmelding.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.test.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/resolvers/rootResolver.ts
  src/graphql/typedef/root.graphqls
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/utils/dateUtils.test.ts
  src/utils/dateUtils.ts
  src/utils/sykmeldingUtils.ts
  src/utils/sykmeldtUtils.ts
  src/utils/test/dataCreators.ts
  src/utils/tsUtils.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

save toggle state for sykmeldt summary in context
  src/components/shared/StateProvider.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/expandablesykmeldt/ExpandableSykmeldt.tsx
  src/components/sykmeldte/expandablesykmeldt/expandablesykmeldtsummary/ExpandableSykmeldtSummary.tsx
  src/utils/sykmeldtUtils.ts
Due: npx eslint --fix --max-warnings=0

test expandable sykmeldt summary
  src/components/shared/Alert/Alert.tsx
  src/components/shared/errors/LoadingError.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldte/expandablesykmeldt/ExpandableSykmeldt.tsx
  src/components/sykmeldte/expandablesykmeldt/expandablesykmeldtsummary/ExpandableSykmeldtSummary.module.css
  src/components/sykmeldte/expandablesykmeldt/expandablesykmeldtsummary/ExpandableSykmeldtSummary.test.tsx
  src/components/sykmeldte/expandablesykmeldt/expandablesykmeldtsummary/ExpandableSykmeldtSummary.tsx
  src/components/sykmeldte/expandablesykmeldt/expandablesykmeldtsummary/SummaryContent/SummaryContent.tsx
  src/components/sykmeldte/expandablesykmeldt/expandablesykmeldtsummary/SummaryContent/SummaryHeaderContent.module.css
  src/components/sykmeldte/expandablesykmeldt/expandablesykmeldtsummary/SummaryContent/SummaryHeaderContent.tsx
  src/components/sykmeldte/expandablesykmeldt/expandablesykmeldtsummary/SykmeldingerPerioderTable/SykmeldingerPerioderTable.tsx
  src/utils/dateUtils.test.ts
  src/utils/dateUtils.ts
  src/utils/sykmeldingUtils.test.ts
  src/utils/sykmeldingUtils.ts
  src/utils/test/dataCreators.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

bump to next 12.1 and use built in jest support
  .babelrc
  .eslintrc
  jest.config.js
  package.json
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add visual sub item for sykmelding and soknad in side navigation
  src/components/sidenavigation/SideNavigation.module.css
  src/components/sidenavigation/SideNavigation.test.tsx
  src/components/sidenavigation/SideNavigation.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

tweak landing page to be more mobile friendly
  src/components/pagewrapper/PageWrapper.module.css
  src/components/pagewrapper/PageWrapper.tsx
  src/components/shared/StateProvider.tsx
  src/components/shared/links/LinkPanel.module.css
  src/components/shared/links/LinkPanel.tsx
  src/components/sykmeldte/expandablesykmeldt/expandablesykmeldtsummary/ExpandableSykmeldtSummary.module.css
  src/components/sykmeldte/expandablesykmeldt/expandablesykmeldtsummary/SummaryContent/SummaryHeaderContent.module.css
  src/components/sykmeldte/expandablesykmeldt/expandablesykmeldtsummary/SummaryContent/SummaryHeaderContent.tsx
  src/components/sykmeldtefilter/SykmeldtFilter.test.tsx
  src/components/sykmeldtefilter/SykmeldteFilter.module.css
  src/components/sykmeldtefilter/SykmeldteFilter.tsx
  src/components/sykmeldtefilter/useFilterChangeHandlers.tsx
  src/components/sykmeldtefilter/useIsMoreThan5SykmeldteInSelectedVirksomhet.tsx
  src/components/virksomhetpicker/VirksomhetPicker.module.css
  src/components/virksomhetpicker/VirksomhetPicker.tsx
  src/pages/index.page.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

make korrigert søknad a jour with sendt søknad
  src/graphql/queries/react-query.generated.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/services/minesykmeldte/mineSykmeldteSchema.ts
Due: npx eslint --fix --max-warnings=0

add CODEOWNERS
  CODEOWNERS
Due: none

create a mobile friendly expandable nav on sub pages
  src/components/pagewrapper/PageWrapper.module.css
  src/components/pagewrapper/PageWrapper.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.test.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/PeriodSummary.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/PeriodSummaryTable.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/SummaryHeaderContent.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/SummaryHeaderContent.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SoknaderLink.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SoknaderLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SykmeldingerLink.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SykmeldingerLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/SykmeldtContent.module.css
  src/components/shared/SykmeldtPanel/SykmeldtContent/SykmeldtContent.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.module.css
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.module.css
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.tsx
  src/components/sidenavigation/ExpandableMobileNavigation.module.css
  src/components/sidenavigation/ExpandableMobileNavigation.tsx
  src/components/sidenavigation/SideNavigation.module.css
  src/components/sidenavigation/SideNavigation.tsx
  src/components/sidenavigation/SideNavigationList.module.css
  src/components/sidenavigation/SideNavigationList.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/expandablesykmeldt/ExpandableSykmeldt.tsx
  src/components/sykmeldte/expandablesykmeldt/sykmeldtcard/SykmeldtCard.tsx
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].test.tsx
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/utils/sykmeldtUtils.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

display hendelser, mark them as read before redirecting to dialogmøter
  next.config.js
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/HendelserLink.module.css
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/HendelserLink.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/HendelserLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SoknaderLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SykmeldingerLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/SykmeldtContent.tsx
  src/components/shared/links/LinkPanel.module.css
  src/components/shared/links/LinkPanel.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/graphql/queries/markRead.graphql
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/index.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/hendelse.graphqls
  src/graphql/typedef/root.graphqls
  src/graphql/typedef/sykmeldt.graphqls
  src/pages/500.page.tsx
  src/pages/api/dialogmoter-ferdigstille-proxy/[sykmeldtId].api.ts
  src/pages/api/dialogmoter-ferdigstille-proxy/[sykmeldtId].test.ts
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].test.tsx
  src/services/commonApiSchema.ts
  src/services/minesykmeldte/mineSykmeldteSchema.ts
  src/utils/test/dataCreators.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

remove frist from ny søknad
  src/components/shared/links/LinkPanel.test.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/services/commonApiSchema.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

add modal for unlinking sykmeldt from virksomhet
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.module.css
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.tsx
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/unlinkSykmeldt.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/resolvers/rootResolver.ts
  src/graphql/typedef/root.graphqls
  src/utils/sykmeldingUtils.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add close button to the bottom of accordions
  src/components/MarkdownPage/components/ExpandableInfo.module.css
  src/components/MarkdownPage/components/ExpandableInfo.tsx
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/PeriodSummary.tsx
  src/components/shared/buttons/AccordionCloseButton.module.css
  src/components/shared/buttons/AccordionCloseButton.tsx
  src/components/sidenavigation/ExpandableMobileNavigation.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

implement design for sykmeldinger list
  src/components/shared/Skeleton/Skeleton.module.css
  src/components/shared/Skeleton/Skeleton.tsx
  src/components/shared/links/LinkPanel.module.css
  src/components/soknader/soknaderlistsection/SoknaderListSection.module.css
  src/components/sykmeldinger/SykmeldingerList.module.css
  src/components/sykmeldinger/SykmeldingerList.test.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/graphql/queries/clientFetcher.ts
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
  src/utils/sykmeldtUtils.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

implement actual resolver for unliking sykmeldt from org
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/rootResolver.ts
  src/services/minesykmeldte/mineSykmeldteSchema.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
Due: npx eslint --fix --max-warnings=0

Path conditions:
  npx prettier --write: any of: *.{md,html,css,json}
  npx eslint --fix --max-warnings=0: any of: *.{ts,tsx}
