Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json}": "npx prettier --write",
  "*.{ts,tsx}": "npx eslint --fix --max-warnings=0"
}

add oppfolgingsplan to gql schema
  src/components/soknadpanel/SporsmalVarianter/Periode.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDataCreators.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockUtils.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/oppfolgingsplan.graphqls
  src/graphql/typedef/sykmeldt.graphqls
  src/services/commonApiSchema.ts
  src/services/minesykmeldte/mineSykmeldteSchema.test.ts
  src/services/minesykmeldte/mineSykmeldteSchema.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/services/minesykmeldte/schema/common.test.ts
  src/services/minesykmeldte/schema/common.ts
  src/services/minesykmeldte/schema/dialogmote.ts
  src/services/minesykmeldte/schema/melding.ts
  src/services/minesykmeldte/schema/oppfolgingsplan.ts
  src/services/minesykmeldte/schema/soknad.test.ts
  src/services/minesykmeldte/schema/soknad.ts
  src/services/minesykmeldte/schema/sykmelding.ts
  src/services/minesykmeldte/schema/sykmeldt.ts
  src/services/minesykmeldte/schema/virksomhet.ts
Due: npx eslint --fix --max-warnings=0

Display sendt soknad at the top of the list
  src/components/soknader/SoknaderList.tsx
Due: npx eslint --fix --max-warnings=0

Run ignored test
  src/utils/sykmeldingPeriodUtils.test.ts
Due: npx eslint --fix --max-warnings=0

add lest field to ny søknad schema
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/services/minesykmeldte/schema/soknad.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

warn users with no js enabled
  sentry.client.config.js
  sentry.server.config.js
  src/components/UnsupportedBrowser/NoJsWarning.tsx
  src/pages/_app.page.tsx
Due: npx eslint --fix --max-warnings=0

Show fnr
  src/components/soknadpanel/SoknadPanel.test.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.test.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.test.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
  src/utils/stringUtils.test.ts
  src/utils/stringUtils.ts
Due: npx eslint --fix --max-warnings=0

show notifications for oppfolgingsplaner
  next.config.js
  src/components/meldinger/Aktitiet/Aktivitet.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/DialogmoteLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/LinkMessageList.module.css
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/LinkMessageList.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/SykmeldtContent.tsx
  src/components/sidenavigation/SideNavigationList.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/index.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/metrics.ts
  src/pages/api/dialogmoter-ferdigstille-proxy/[sykmeldtId].api.ts
  src/pages/api/dialogmoter-ferdigstille-proxy/[sykmeldtId].test.ts
  src/pages/api/hendelser-ferdigstille-proxy/[type]/[sykmeldtId].api.ts
  src/pages/api/hendelser-ferdigstille-proxy/[type]/[sykmeldtId].test.ts
  src/utils/sykmeldtUtils.ts
  src/utils/test/dataCreators.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

tweak testdata and update labs URL
  .github/workflows/deploy.yml
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/pages/api/hendelser-ferdigstille-proxy/[type]/[sykmeldtId].api.ts
  src/pages/api/hendelser-ferdigstille-proxy/[type]/[sykmeldtId].test.ts
Due: npx eslint --fix --max-warnings=0

Add NotifcationDot component
  src/components/shared/NotifcationDot/NotifcationDot.module.css
  src/components/shared/NotifcationDot/NotifcationDot.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.module.css
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.tsx
  src/components/sidenavigation/SideNavigationMenuItem.module.css
  src/components/sidenavigation/SideNavigationMenuItem.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Lines heading with content and use People icon
  src/components/pagewrapper/PageWrapper.module.css
  src/components/pagewrapper/PageWrapper.tsx
  src/pages/sykmeldt/[sykmeldtId]/melding/[meldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/meldinger.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Styling for side menu
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/SummaryHeaderContent.tsx
  src/components/sidenavigation/SideNavigation.module.css
  src/components/sidenavigation/SideNavigation.test.tsx
  src/components/sidenavigation/SideNavigationList.module.css
  src/components/sidenavigation/SideNavigationList.test.tsx
  src/components/sidenavigation/SideNavigationList.tsx
  src/components/sidenavigation/SideNavigationMenuItem.module.css
  src/components/sidenavigation/SideNavigationMenuItem.tsx
  src/utils/sykmeldtUtils.ts
  src/utils/test/dataCreators.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

pin gcloud bucket upload deps
  .github/workflows/deploy.yml
  next.config.js
Due: none

add breadcrumb to specific sykmeldt
  jest.setup.js
  next.config.js
  src/auth/withAuthentication.ts
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.module.css
  src/components/sykmeldte/PaginatedSykmeldteList.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/useExpandSykmeldte.ts
  src/hooks/useBreadcrumbs.test.tsx
  src/hooks/useBreadcrumbs.ts
  src/hooks/useFocusRefetch.ts
  src/hooks/useParam.ts
  src/pages/[sykmeldtId].module.css
  src/pages/[sykmeldtId].page.tsx
  src/pages/[sykmeldtId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/melding/[meldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/meldinger.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
  src/state/expandedSlice.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

refetch sykmeldinger and søknader list on focus
  package.json
  src/hooks/useSykmeldt.ts
  src/pages/sykmeldt/[sykmeldtId]/meldinger.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix possessives of names ending in S or X
  src/utils/sykmeldtUtils.test.ts
  src/utils/sykmeldtUtils.ts
Due: npx eslint --fix --max-warnings=0

have newest sykmelding periods on top in summary
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.tsx
  src/components/sykmeldte/PaginatedSykmeldteList.test.tsx
Due: npx eslint --fix --max-warnings=0

add sendTilNavoDato field to sendt søknad gql schema
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/services/minesykmeldte/schema/soknad.ts
Due: npx eslint --fix --max-warnings=0

add sendTilNavoDato field to full søknad
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/services/minesykmeldte/schema/soknad.ts
Due: npx eslint --fix --max-warnings=0

datoSendtTilNav is nullable
  src/services/minesykmeldte/schema/soknad.ts
Due: npx eslint --fix --max-warnings=0

add sendt to arbeidsgiver field to soknad
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/services/minesykmeldte/schema/soknad.ts
Due: npx eslint --fix --max-warnings=0

add sendt to arbeidsgiver field to soknad graphql
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/soknad.graphql
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

only show not sent to nav warning when not sent to nav
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/soknad.graphql
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

add sendt to arbeidsgiver date field to sykmelding
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/sykmelding.graphqls
  src/services/minesykmeldte/schema/sykmelding.ts
Due: npx eslint --fix --max-warnings=0

override ansi-regex version
  package.json
  yarn.lock
Due: npx prettier --write

not sent soknad notification
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.tsx
  src/components/shared/SykmeldtPanel/ManglerSoknadInfo/ManglerSoknadInfo.module.css
  src/components/shared/SykmeldtPanel/ManglerSoknadInfo/ManglerSoknadInfo.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SoknaderLink.module.css
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SoknaderLink.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SoknaderLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.module.css
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.tsx
  src/components/shared/icons/InfoIcon.tsx
  src/components/shared/links/LinkPanel.test.tsx
  src/components/soknader/SoknaderList.test.tsx
  src/components/soknader/SoknaderList.tsx
  src/components/soknader/SoknaderveilederInfo/MerOmVarslinger.module.css
  src/components/soknader/SoknaderveilederInfo/MerOmVarslinger.tsx
  src/components/soknader/SoknaderveilederInfo/SoknaderVeilederInfo.module.css
  src/components/soknader/SoknaderveilederInfo/SoknaderVeilederInfo.tsx
  src/components/soknader/soknaderlistsection/SoknadTag.test.tsx
  src/components/soknader/soknaderlistsection/SoknadTag.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.test.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/utils/soknadUtils.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add more mock data for soknad
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

use shared eslint config
  .eslintrc
  .github/workflows/deploy.yml
  .prettierrc.js
  .yarnrc.yml
  Dockerfile
  nais-dev-gcp.yaml
  package.json
  src/components/sidenavigation/SideNavigationMenuItem.tsx
  src/hooks/useSykmeldt.ts
  src/pages/_document.page.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add tests for withAuthentication HoCs
  src/auth/withAuthentication.test.ts
  src/auth/withAuthentication.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
Due: npx eslint --fix --max-warnings=0

remove temporary warnings
  src/pages/[sykmeldtId].module.css
  src/pages/[sykmeldtId].page.tsx
  src/pages/[sykmeldtId].test.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

mark as friskmeldt after latest tom
  src/graphql/resolvers/mockresolvers/mockDb/mockUtils.ts
Due: npx eslint --fix --max-warnings=0

display fnr, orgnr and add orgnavn to sykmeldt
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/InfoItem.module.css
  src/components/shared/SykmeldtPanel/SykmeldtInfo/InfoItem.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.module.css
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/sykmeldt.graphqls
  src/services/minesykmeldte/schema/sykmeldt.ts
  src/utils/stringUtils.ts
  src/utils/test/dataCreators.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

text and font size changes for header and subtitle
  src/components/pagewrapper/PageWrapper.module.css
  src/components/pagewrapper/PageWrapper.tsx
  src/components/sidenavigation/ExpandableMobileNavigation.module.css
  src/components/sidenavigation/ExpandableMobileNavigation.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
  src/pages/sykmeldt/[sykmeldtId]/melding/[meldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/meldinger.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

disable print button on phones
  package.json
  src/components/soknadpanel/SoknadPanel.module.css
  src/components/sykmeldingpanel/SykmeldingPanel.module.css
  yarn.lock
Due: npx prettier --write

change dialogmøte url
  src/pages/api/hendelser-ferdigstille-proxy/[type]/[sykmeldtId].api.ts
Due: npx eslint --fix --max-warnings=0

adjust spacing and colors
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.module.css
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.module.css
  src/components/shared/links/LinkPanel.module.css
  src/components/shared/veileder/Veileder.module.css
  src/components/shared/veileder/Veileder.tsx
  src/components/soknader/SoknaderveilederInfo/MerOmVarslinger.module.css
  src/components/soknader/SoknaderveilederInfo/SoknaderVeilederInfo.module.css
Due: npx prettier --write, npx eslint --fix --max-warnings=0

split sendt soknader in to ulest and lest soknader
  src/components/soknader/SoknaderList.test.tsx
  src/components/soknader/SoknaderList.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
Due: npx eslint --fix --max-warnings=0

[skip ci] wip amend pls
  next.config.js
  package.json
  src/pages/api/pdf.api.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

correctly order sykmeldinger and søknader
  package.json
  src/components/soknader/SoknaderList.test.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
  src/components/sykmeldinger/SykmeldingerList.test.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/utils/soknadUtils.ts
  src/utils/sykmeldingUtils.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add warning when user is logged out instead of yeeting to idporten
  src/components/UserWarnings/LoggedOut/LoggedOut.module.css
  src/components/UserWarnings/LoggedOut/LoggedOut.test.tsx
  src/components/UserWarnings/LoggedOut/LoggedOut.tsx
  src/components/UserWarnings/UnsupportedBrowser/UnsupportedBrowser.tsx
  src/graphql/apollo.ts
  src/pages/_app.page.tsx
  src/state/metadataSlice.ts
  src/state/store.ts
  src/utils/test/testUtils.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0
