Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json}": "npx prettier --write",
  "*.{ts,tsx}": "npx eslint --fix --max-warnings=0"
}

fix: dont crash on 0% gradert
  src/components/soknadpanel/SoknadPerioder.test.tsx
  src/utils/soknadUtils.ts
Due: npx eslint --fix --max-warnings=0

chore: remove altinn info in soknad
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
Due: npx eslint --fix --max-warnings=0

chore: upgrade cdn action to v2
  .github/workflows/upload-public.yml
Due: none

chore: upgrade actions checkout to v4
  .github/workflows/upload-public.yml
Due: none

chore: node 22 (now LTS)
  .lintstagedrc
  .mise.toml
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  Dockerfile
  package.json
Due: npx prettier --write

chore: fix åpningstid
  src/components/MarkdownPage/components/KontaktInfoPanel.tsx
Due: npx eslint --fix --max-warnings=0

fix: tiltakArbeidsplassen and add hensynArbeidsplassen
  src/components/sykmeldingpanel/Arbeidsevne.tsx
  src/components/sykmeldingpanel/FriskmeldingPrognose.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.test.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/sykmelding.graphql
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

chore: bump dependencies
  package.json
  src/auth/withAuthentication.ts
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.tsx
  src/components/sykmeldingpanel/MulighetForArbeidList.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

feat: add kontakt dato
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldingpanel/Tilbakedatering.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/sykmelding.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

fix: add id for labels
  src/components/SoknaderInfo/SoknaderInfo.tsx
  src/components/meldinger/Aktitiet/Aktivitet.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/InfoItem.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.tsx
Due: npx eslint --fix --max-warnings=0

fix: add role to alerts
  src/components/LabsWarning/LabsWarning.tsx
  src/components/feedback/GeneralFeedback.tsx
Due: npx eslint --fix --max-warnings=0

chore: use .nais
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yml
  .nais/envs/.env.demo
  .nais/envs/.env.dev
  .nais/envs/.env.prod
  .nais/nais-demo.yaml
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
Due: none

chore: main workflow
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yml
Due: none

chore: bump dependencies
  next-env.d.ts
  next.config.js
  package.json
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

automated: update distroless with newest digest
  Dockerfile
Due: none

chore: bump dependencies
  package.json
  yarn.lock
Due: npx prettier --write

chore: bump dinesykmeldte-sidemeny
  package.json
  src/pages/_app.page.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix: dont mark soknad as read every time
  package.json
  src/components/soknader/soknaderlistsection/SoknaderListSection.test.tsx
  src/components/soknader/soknaderlistsection/soknadmodal/SoknadModalContent.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix: dont mark soknad as read every time (#486)
  package.json
  src/components/soknader/soknaderlistsection/SoknaderListSection.test.tsx
  src/components/soknader/soknaderlistsection/soknadmodal/SoknadModalContent.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

chore: use esyfo-backend
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
Due: none
