Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json}": "npx prettier --write",
  "*.{ts,tsx}": "npx eslint --fix --max-warnings=0"
}

fix compilation error
  src/components/MarkdownPage/MarkdownPage.tsx
  src/components/MarkdownPage/components/MDXContent.tsx
Due: npx eslint --fix --max-warnings=0

chore: move more pages to app
  src/app/sykmeldt/[sykmeldtId]/melding/[meldingId]/page.tsx
  src/app/sykmeldt/[sykmeldtId]/soknad/[soknadId]/page.test.tsx
  src/app/sykmeldt/[sykmeldtId]/soknad/[soknadId]/page.tsx
  src/app/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId]/page.test.tsx
  src/app/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId]/page.tsx
Due: npx eslint --fix --max-warnings=0

chore: move sykmeldt pages to app
  src/app/sykmeldt/[sykmeldtId]/meldinger/page.tsx
  src/app/sykmeldt/[sykmeldtId]/soknader/page.tsx
  src/app/sykmeldt/[sykmeldtId]/sykmeldinger/page.tsx
Due: npx eslint --fix --max-warnings=0

chore: move error and loading to app router
  .github/workflows/build-and-deploy.yml
  TODO.md
  src/app/[sykmeldtId]/page.test.tsx
  src/app/[sykmeldtId]/page.tsx
  src/app/error.tsx
  src/app/layout.tsx
  src/app/loading.tsx
  src/app/not-found.tsx
  src/app/providers.tsx
  src/hooks/useBreadcrumbs.ts
  src/pages/404.tsx
  src/pages/500.tsx
  src/pages/[sykmeldtId].page.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/info/oppfolging.page.tsx
  src/pages/info/sporsmal-og-svar.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/melding/[meldingId].tsx
  src/pages/sykmeldt/[sykmeldtId]/meldinger.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.tsx
  vitest.setup.mts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

update gitignore
  .gitignore
  next-env.d.ts
Due: npx eslint --fix --max-warnings=0

chore: move internal api endpoints to app router
  src/app/api/internal/is_alive/route.ts
  src/app/api/internal/is_ready/route.ts
  src/pages/api/internal/is_alive.ts
  src/pages/api/internal/is_ready.ts
Due: npx eslint --fix --max-warnings=0

chore: migrate api routes to app router
  src/app/api/graphql/route.ts
  src/app/api/logger/route.ts
  src/app/api/lumi-feedback/route.ts
  src/app/api/mark-hendelser-resolved/route.ts
  src/app/api/paaminnelse/[narmestelederId]/route.test.ts
  src/app/api/paaminnelse/[narmestelederId]/route.ts
  src/app/api/tiltakspakkevurdering/route.test.ts
  src/app/api/tiltakspakkevurdering/route.ts
  src/auth/withAuthenticatedAppRoute.test.ts
  src/auth/withAuthenticatedAppRoute.ts
  src/auth/withAuthentication.test.ts
  src/auth/withAuthentication.ts
  src/graphql/prefetching.ts
  src/pages/api/graphql.ts
  src/pages/api/logger.ts
  src/pages/api/lumi-feedback.ts
  src/pages/api/mark-hendelser-resolved.ts
  src/pages/api/paaminnelse/[narmestelederId].test.ts
  src/pages/api/paaminnelse/[narmestelederId].ts
  src/pages/api/tiltakspakkevurdering.test.ts
  src/pages/api/tiltakspakkevurdering.ts
  vitest.setup.mts
Due: npx eslint --fix --max-warnings=0

feat: update head
  TODO.md
  src/app/sykmeldt/[sykmeldtId]/melding/[meldingId]/MeldingPage.tsx
  src/app/sykmeldt/[sykmeldtId]/melding/[meldingId]/page.tsx
  src/app/sykmeldt/[sykmeldtId]/meldinger/MeldingerPage.tsx
  src/app/sykmeldt/[sykmeldtId]/meldinger/page.tsx
  src/app/sykmeldt/[sykmeldtId]/soknad/[soknadId]/SoknadPage.tsx
  src/app/sykmeldt/[sykmeldtId]/soknad/[soknadId]/page.test.tsx
  src/app/sykmeldt/[sykmeldtId]/soknad/[soknadId]/page.tsx
  src/app/sykmeldt/[sykmeldtId]/soknader/SoknaderPage.tsx
  src/app/sykmeldt/[sykmeldtId]/soknader/page.tsx
  src/app/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId]/SykmeldingPage.tsx
  src/app/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId]/page.test.tsx
  src/app/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId]/page.tsx
  src/app/sykmeldt/[sykmeldtId]/sykmeldinger/SykmeldingerPage.tsx
  src/app/sykmeldt/[sykmeldtId]/sykmeldinger/page.tsx
  tsconfig.json
Due: npx prettier --write, npx eslint --fix --max-warnings=0

debug workflow
  .github/workflows/build-and-deploy.yml
Due: none

feat: add auth check
  src/app/layout.tsx
  src/auth/withAuthenticatedAppRoute.ts
Due: npx eslint --fix --max-warnings=0

revert to use main branch in workflow
  .github/workflows/build-and-deploy.yml
  next.config.js
  src/components/Providers/Providers.tsx
  src/hooks/useSelectedSykmeldt.ts
Due: npx eslint --fix --max-warnings=0

feat: opt-out of next deployment id
  .github/workflows/build-and-deploy.yml
Due: none

feat: opt-out of next deployment id (#760)
  .github/workflows/build-and-deploy.yml
Due: none

fix: always call router.replace for initial bedrift query param
  src/hooks/useSelectedSykmeldt.ts
Due: npx eslint --fix --max-warnings=0

fix: rett opp PR-feedback (logger-config, auth-redirect, API-headers)
  src/app/[sykmeldtId]/SykmeldtIdPage.tsx
  src/app/[sykmeldtId]/page.test.tsx
  src/app/[sykmeldtId]/page.tsx
  src/app/api/mark-hendelser-resolved/route.ts
  src/app/api/tiltakspakkevurdering/route.ts
  src/app/layout.tsx
  src/auth/withAuthenticatedAppRoute.ts
  src/components/PageLoadingState/PageLoadingState.tsx
  src/components/Providers/Providers.tsx
Due: npx eslint --fix --max-warnings=0

fix: login redirects
  src/auth/constants.ts
  src/auth/withAuthenticatedAppRoute.ts
  src/proxy.ts
Due: npx eslint --fix --max-warnings=0

fix(logging): forward client logs to Faro
  src/app/layout.tsx
  src/components/Providers/Providers.tsx
Due: npx eslint --fix --max-warnings=0

feat(paaminnelse): vis påminnelsesmodul på enkeltvis sykmelding (#731)
  src/app/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId]/SykmeldingPage.tsx
  src/app/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId]/page.test.tsx
  src/components/paaminnelse/PaaminnelseModul.test.tsx
  src/components/paaminnelse/PaaminnelseModul.tsx
Due: npx eslint --fix --max-warnings=0

refactor(paaminnelse): sekvensiell gating + robustere tester etter review
  src/components/paaminnelse/PaaminnelseModul.test.tsx
  src/components/paaminnelse/usePaaminnelseModul.ts
  src/services/paaminnelse/paaminnelseService.test.ts
Due: npx eslint --fix --max-warnings=0

refactor(paaminnelse): fjern overflødig basePath-kommentar
  src/components/paaminnelse/PaaminnelseModul.tsx
Due: npx eslint --fix --max-warnings=0

test(paaminnelse): lås BFF-klientkontrakten med egne unit-tester
  src/services/paaminnelse/paaminnelseClient.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingClient.test.ts
Due: npx eslint --fix --max-warnings=0

refactor(paaminnelse): rydd hook-tekstlekkasje og navnekollisjon
  src/components/paaminnelse/PaaminnelseModul.tsx
  src/components/paaminnelse/usePaaminnelseModul.ts
  src/services/paaminnelse/paaminnelseClient.test.ts
  src/services/paaminnelse/paaminnelseClient.ts
Due: npx eslint --fix --max-warnings=0

feat(paaminnelse): vis modul i demo med mock-data
  nais/nais-demo.yaml
Due: none

refactor(paaminnelse): splitt modul i klient, hook, state og kort
  src/components/paaminnelse/PaaminnelseBestiltKort.tsx
  src/components/paaminnelse/PaaminnelseModul.tsx
  src/components/paaminnelse/PaaminnelseTilgjengeligKort.tsx
  src/components/paaminnelse/paaminnelseModulState.test.ts
  src/components/paaminnelse/paaminnelseModulState.ts
  src/components/paaminnelse/usePaaminnelseModul.ts
  src/services/paaminnelse/paaminnelseClient.ts
  src/services/tiltakspakke/tiltakspakkevurderingClient.ts
Due: npx eslint --fix --max-warnings=0

feat(paaminnelse): tilpass modul til Figma-fasit og fiks review-funn (#731)
  .env.development
  src/app/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId]/SykmeldingPage.tsx
  src/app/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId]/page.test.tsx
  src/components/paaminnelse/PaaminnelseModul.test.tsx
  src/components/paaminnelse/PaaminnelseModul.tsx
  src/services/paaminnelse/paaminnelseService.test.ts
  src/services/paaminnelse/paaminnelseService.ts
Due: npx eslint --fix --max-warnings=0

feat: use tanstack-query and simplify logic
  package.json
  pnpm-lock.yaml
  src/app/api/paaminnelse/[narmestelederId]/route.test.ts
  src/app/api/paaminnelse/[narmestelederId]/route.ts
  src/app/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId]/SykmeldingPage.tsx
  src/components/Providers/Providers.tsx
  src/components/paaminnelse/PaaminnelseModul.test.tsx
  src/components/paaminnelse/PaaminnelseModul.tsx
  src/components/paaminnelse/paaminnelseModulState.test.ts
  src/components/paaminnelse/paaminnelseModulState.ts
  src/components/paaminnelse/paaminnelseUtils.test.ts
  src/components/paaminnelse/paaminnelseUtils.ts
  src/components/paaminnelse/usePaaminnelseModul.ts
  src/queries/queryClient.ts
  src/services/paaminnelse/paaminnelseClient.test.ts
  src/services/paaminnelse/paaminnelseContract.ts
  src/services/paaminnelse/paaminnelseService.test.ts
  src/services/paaminnelse/paaminnelseService.ts
  src/utils/test/testUtils.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

refactor: replace MDX info pages with tsx-files
  src/app/info/oppfolging/page.tsx
  src/app/info/sporsmal-og-svar/page.tsx
  src/components/MarkdownPage/MarkdownPage.tsx
  src/components/MarkdownPage/components/MDXContent.tsx
  src/components/MarkdownPage/components/Timeline.tsx
  src/components/MarkdownPage/staticMarkdownUtils.ts
  src/docs/oppfolging.mdx
  src/docs/sporsmal-og-svar.mdx
Due: npx eslint --fix --max-warnings=0

chore: remove unused MDX and codemod packages
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

feat: replace global loaders with skeletons
  src/app/loading.tsx
  src/app/sykmeldt/[sykmeldtId]/meldinger/MeldingerPage.tsx
  src/app/sykmeldt/[sykmeldtId]/soknad/[soknadId]/SoknadPage.tsx
  src/app/sykmeldt/[sykmeldtId]/soknader/SoknaderPage.tsx
  src/app/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId]/SykmeldingPage.tsx
  src/app/sykmeldt/[sykmeldtId]/sykmeldinger/SykmeldingerPage.tsx
  src/components/MarkdownPage/components/ExpandableInfo.tsx
  src/components/shared/pagefallbackloader/PageFallbackLoader.tsx
  src/components/shared/skeletons/InfoRowSkeleton.tsx
  src/components/shared/skeletons/LinkPanelSkeleton.tsx
  src/components/shared/skeletons/ListSectionSkeleton.tsx
  src/components/shared/skeletons/SkeletonRegion.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.test.tsx
  src/components/soknadpanel/SoknadPanelSkeleton.tsx
  src/components/sykmeldingpanel/SykmeldingPanelSkeleton.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShortSkeleton.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/SykmeldteListSkeleton.tsx
  tsconfig.json
Due: npx prettier --write, npx eslint --fix --max-warnings=0

refactor: migrate from next link legacy behaviour
  src/components/PageSideMenu/PageSideMenu.tsx
  src/components/shared/SykmeldtPanel/ManglerSoknadInfo/ManglerSoknadInfo.tsx
  src/components/shared/TilbakeLink/TilbakeLink.tsx
Due: npx eslint --fix --max-warnings=0

chore: sync hovmester customizations
  .github/.hovmester-manifest.json
  .github/agents/barista.agent.md
  .github/agents/designer.agent.md
  .github/agents/hovmester.agent.md
  .github/agents/inspektor-claude.agent.md
  .github/agents/inspektor-gpt.agent.md
  .github/agents/juniorkokk.agent.md
  .github/agents/kokk.agent.md
  .github/agents/konditor.agent.md
  .github/agents/souschef.agent.md
Due: npx prettier --write

fix(oppfolgingsplan): rett ødelagt lenke og fjern NY_-prefiks
  .env.development
  .env.test
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  src/components/meldinger/Aktitiet/Aktivitet.test.tsx
  src/components/meldinger/Aktitiet/Aktivitet.tsx
  src/hooks/getOppfolgingsplanUrl.ts
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

fix(oppfolgingsplan): rett ødelagt lenke og fjern NY_-prefiks (#767)
  .env.development
  .env.test
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  src/components/meldinger/Aktitiet/Aktivitet.test.tsx
  src/components/meldinger/Aktitiet/Aktivitet.tsx
  src/hooks/getOppfolgingsplanUrl.ts
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

fix(logging): improve GraphQL error handling
  src/graphql/apollo.test.ts
  src/graphql/apollo.ts
  src/hooks/useSykmeldt.ts
Due: npx eslint --fix --max-warnings=0

Potential fix for pull request finding
  src/graphql/apollo.test.ts
Due: npx eslint --fix --max-warnings=0

fix(logging): improve GraphQL error handling (#770)
  src/graphql/apollo.test.ts
  src/graphql/apollo.ts
  src/hooks/useSykmeldt.ts
Due: npx eslint --fix --max-warnings=0

fix(graphql): log structured request errors
  src/graphql/apollo.test.ts
  src/graphql/apollo.ts
Due: npx eslint --fix --max-warnings=0

refactor(graphql): simplify status checks
  src/graphql/apollo.ts
Due: npx eslint --fix --max-warnings=0
