Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

enable SSR'd feature toggles
  package.json
  src/auth/withAuthentication.ts
  src/graphql/prefetching.ts
  src/pages/[sykmeldtId].page.tsx
  src/shared/types.ts
  src/toggles/context.tsx
  src/toggles/ssr.tsx
  src/toggles/toggles.ts
  src/toggles/utils.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

bump everything except aksel
  package.json
  yarn.lock
Due: npx prettier --write

fix unleash auth
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

migrate to aksel v5
  package.json
  src/components/UserWarnings/LoggedOut/LoggedOut.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.tsx
  src/components/soknader/SoknaderList.test.tsx
  src/components/soknader/SoknaderList.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.test.tsx
  src/components/soknader/soknaderlistsection/soknadmodal/SoknadModalContent.tsx
  src/components/soknadpanel/SoknadPanel.test.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/SykmeldteNonNotifying/SykmeldteNonNotifying.tsx
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsReadModal.tsx
  src/components/sykmeldte/SykmeldteNotifying/Sykmeldte.tsx
  src/components/sykmeldte/SykmeldteNotifying/SykmeldteNotifying.tsx
  src/pages/_app.page.tsx
  src/toggles/context.tsx
  src/utils/test/testUtils.tsx
  vitest.setup.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

pin transitive vite version
  package.json
  vitest.config.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

bulk bump some deps
  package.json
  yarn.lock
Due: npx prettier --write

bump dependencies
  package.json
  yarn.lock
Due: npx prettier --write

fix veileder styling
  src/components/shared/veileder/Veileder.tsx
Due: npx eslint --fix --max-warnings=0

bulk-bump deps
  package.json
  yarn.lock
Due: npx prettier --write

test beta sidemeny
  package.json
  yarn.lock
Due: npx prettier --write

add specific error for when someone is trying to load the wrong person
  src/components/shared/TilbakeLink/TilbakeLink.tsx
  src/components/shared/errors/PageError.tsx
  src/components/shared/errors/SykmeldtNotFound.tsx
  src/hooks/useSykmeldt.ts
  src/pages/404.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
Due: npx eslint --fix --max-warnings=0

slik at bullet points vises for ul-elementer
  src/components/MarkdownPage/MarkdownPage.tsx
Due: npx eslint --fix --max-warnings=0

La til lenke for samtalestøtte for arbeidsgiver
  src/docs/oppfolging.mdx
Due: none

yarn 4, node 20, bump deps
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yml
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  Dockerfile
  package.json
  yarn.lock
Due: npx prettier --write

don't flash users with bedrift-query param with unfiltered users, don't allow invalid orgnr
  src/components/sykmeldte/useFilteredSykmeldte.tsx
  src/components/sykmeldte/useSortedSykmeldteNotifying.tsx
  src/components/sykmeldtefilter/useIsMoreThan5SykmeldteInSelectedVirksomhet.tsx
  src/hooks/useSelectedSykmeldt.ts
Due: npx eslint --fix --max-warnings=0

loading state on VirksomhetsPicker when reading query param
  package.json
  src/components/virksomhetpicker/VirksomhetPicker.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

feat: add backend portion of flexjar usage
  .env.development
  .env.test
  codegen.yml
  nais/envs/.env.demo
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/resolvers/rootResolver.ts
  src/graphql/typedef/common.graphqls
  src/graphql/typedef/root.graphqls
  src/services/feedback/feedback-service.ts
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

flexjar behind toggle and localStorage
  src/components/feedback/FeedbackReducer.tsx
  src/components/feedback/GeneralFeedback.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/SykmeldteNonNotifying/PaginatedSykmeldteList.tsx
  src/components/sykmeldte/SykmeldteNonNotifying/SykmeldteGrouped.tsx
  src/components/sykmeldte/SykmeldteNonNotifying/SykmeldteNonNotifying.tsx
  src/components/sykmeldte/SykmeldteNotifying/SykmeldteNotifying.tsx
  src/components/sykmeldtefilter/SykmeldteFilter.tsx
  src/graphql/queries/feedback.graphql
  src/graphql/queries/graphql.generated.ts
  src/pages/_app.page.tsx
Due: npx eslint --fix --max-warnings=0

styling
  src/components/shared/IconHeading/IconHeading.tsx
  src/components/shared/checkboxexplanation/CheckboxExplanation.tsx
  src/components/shared/icons/CheckboxIcon.tsx
  src/components/shared/listItem/ListItem.tsx
  src/components/shared/veileder/Veileder.module.css
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/sykmeldingpanel/AnnenInfo.tsx
  src/components/sykmeldingpanel/Egenmeldingsdager.tsx
  src/components/sykmeldingpanel/FriskmeldingPrognose.tsx
  src/components/sykmeldingpanel/MeldingTilArbeidsgiver.tsx
  src/components/sykmeldingpanel/MulighetForArbeidList.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldingpanel/SykmeldingenGjelder.tsx
  src/components/sykmeldingpanel/sykmeldingperiode/MulighetForArbeid.tsx
  src/components/sykmeldingpanel/sykmeldingperiode/SykmeldingPeriode.tsx
  src/components/sykmeldingpanelshort/AnnenInfoShort.tsx
  src/pages/[sykmeldtId].page.tsx
  src/style/global.css
  src/utils/sykmeldingPeriodUtils.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

text-white on button on focus
  src/components/feedback/GeneralFeedback.tsx
Due: npx eslint --fix --max-warnings=0

improvements for title and headings
  package.json
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
  src/components/meldinger/Aktitiet/Aktivitet.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.tsx
  src/components/sykmeldte/SykmeldteNonNotifying/SykmeldteGrouped.tsx
  src/components/sykmeldte/SykmeldteNonNotifying/SykmeldteNonNotifying.tsx
  src/components/sykmeldte/SykmeldteNotifying/Sykmeldte.tsx
  src/pages/[sykmeldtId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/melding/[meldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/meldinger.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

accessibility for GuidPanel
  src/components/shared/veileder/Veileder.tsx
  src/components/soknader/SoknaderveilederInfo/MerOmVarslinger.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
Due: npx eslint --fix --max-warnings=0

hide images and add aria-labelledby on page error
  src/components/meldinger/Aktitiet/Aktivitet.tsx
  src/components/shared/errors/PageError.tsx
  src/components/shared/errors/SykmeldtNotFound.tsx
Due: npx eslint --fix --max-warnings=0

remove as li on BodyShort
  src/components/sykmeldingpanel/sykmeldingperiode/SykmeldingPeriode.tsx
Due: npx eslint --fix --max-warnings=0

replace deprecated Grid with HGrid
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
  src/components/meldinger/MeldingerList.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/components/sykmeldtefilter/SykmeldteFilter.tsx
Due: npx eslint --fix --max-warnings=0

Strammer opp linjene for visning av sykmelding og søknad
  src/components/SykmeldingPanelUtenlandsk/SykmeldingPanelUtenlandsk.tsx
  src/components/shared/IconHeading/IconHeading.tsx
  src/components/shared/checkboxexplanation/CheckboxExplanation.tsx
  src/components/shared/icons/CheckboxIcon.tsx
  src/components/shared/listItem/ListItem.tsx
  src/components/shared/veileder/Veileder.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/soknadpanel/SoknadPerioder.tsx
  src/components/soknadpanel/SoknadenGjelder.tsx
  src/components/soknadpanel/SporsmalVarianter/Behandlingsdager.tsx
  src/components/soknadpanel/SporsmalVarianter/CheckboxGruppe.tsx
  src/components/soknadpanel/SporsmalVarianter/Dato.tsx
  src/components/soknadpanel/SporsmalVarianter/Fritekst.tsx
  src/components/soknadpanel/SporsmalVarianter/JaEllerNei.tsx
  src/components/soknadpanel/SporsmalVarianter/Kvittering.tsx
  src/components/soknadpanel/SporsmalVarianter/Land.tsx
  src/components/soknadpanel/SporsmalVarianter/Periode.tsx
  src/components/soknadpanel/SporsmalVarianter/RadioGruppe.tsx
  src/components/soknadpanel/SporsmalVarianter/Tall.tsx
  src/components/soknadpanel/SporsmalVarianter/Undertekst.tsx
  src/components/soknadpanel/SporsmalVarianter/shared/SporsmalListItem.tsx
  src/components/sykmeldingpanel/Egenmeldingsdager.tsx
  src/components/sykmeldingpanel/FriskmeldingPrognose.tsx
  src/components/sykmeldingpanel/MeldingTilArbeidsgiver.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldingpanel/sykmeldingperiode/MulighetForArbeid.tsx
  src/components/sykmeldingpanel/sykmeldingperiode/SykmeldingPeriode.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/style/global.css
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Add bekreftelsespunkter
  src/graphql/typedef/soknad.graphqls
Due: none

Revert "ignore sporsmal svartype bekreftelsespunkter"
  src/components/soknadpanel/SporsmalVarianter/SporsmalVarianter.tsx
Due: npx eslint --fix --max-warnings=0

add and ignore sporsmal tag TIL_SLUTT
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/objectResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
Due: npx eslint --fix --max-warnings=0

split fnr
  src/components/SykmeldingPanelUtenlandsk/SykmeldingPanelUtenlandsk.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/soknadpanel/SoknadenGjelder.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldingpanel/SykmeldingenGjelder.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
  src/pages/sykmeldt/[sykmeldtId]/melding/[meldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/meldinger.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
  src/utils/stringUtils.ts
  src/utils/sykmeldtUtils.ts
Due: npx eslint --fix --max-warnings=0

periods as list in sykmeldingperiode
  src/components/soknadpanel/SoknadPerioder.tsx
  src/components/sykmeldingpanel/sykmeldingperiode/SykmeldingPeriode.tsx
Due: npx eslint --fix --max-warnings=0

chore(deps): bump all deps
  .husky/pre-commit
  .yarn/releases/yarn-4.0.1.cjs
  .yarn/releases/yarn-4.1.0.cjs
  .yarnrc.yml
  package.json
  scripts/postinstall.js
  vitest.config.mts
  vitest.setup.mts
  yarn.lock
Due: npx prettier --write

feat: add buttons for marking all sykmeldinger/søknad as read
  src/amplitude/taxonomyEvents.ts
  src/components/shared/ListSection/ListSection.tsx
  src/components/soknader/SoknaderList.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
Due: npx eslint --fix --max-warnings=0

chore: change mark button text and some styling
  src/components/shared/ListSection/ListSection.tsx
  src/components/soknader/SoknaderList.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
Due: npx eslint --fix --max-warnings=0

fix: styling for pagination on mobile
  src/components/sykmeldte/SykmeldteNonNotifying/PaginatedSykmeldteList.test.tsx
  src/components/sykmeldte/SykmeldteNonNotifying/PaginatedSykmeldteList.tsx
Due: npx eslint --fix --max-warnings=0

chore: bump dependencies
  package.json
  tsconfig.json
  yarn.lock
Due: npx prettier --write

fix: missing text
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/sykmeldingpanel/AnnenInfo.tsx
  src/components/sykmeldingpanel/sykmeldingperiode/MulighetForArbeid.tsx
  src/components/sykmeldingpanelshort/AnnenInfoShort.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockDataCreators.ts
Due: npx eslint --fix --max-warnings=0

Path conditions:
  npx prettier --write: any of: *.{md,html,css,json}
  npx eslint --fix --max-warnings=0: any of: *.{ts,tsx}
