Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json}": "npx prettier --write",
  "*.{ts,tsx}": "npx eslint --fix --max-warnings=0"
}

semantically correct list in sykmelding view
  src/components/shared/BlueInfoSection/BlueInfoSection.module.css
  src/components/shared/BlueInfoSection/BlueInfoSection.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.module.css
  src/components/sykmeldingpanel/SykmeldingPanel.test.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

make behandler nullable
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/sykmelding.graphqls
  src/services/minesykmeldte/schema/sykmelding.ts
Due: npx eslint --fix --max-warnings=0

a11y fixes
  src/components/shared/links/LinkPanel.module.css
  src/components/soknadpanel/SoknadPanel.module.css
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/soknadpanel/SoknadPerioder.module.css
  src/components/soknadpanel/SoknadPerioder.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.module.css
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldingpanel/sykmeldingperiode/SykmeldingPeriode.module.css
  src/components/sykmeldingpanel/sykmeldingperiode/SykmeldingPeriode.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.module.css
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsRead.module.css
  src/components/sykmeldte/SykmeldteNotifying/SykmeldteNotifying.module.css
  src/components/sykmeldte/SykmeldteNotifying/SykmeldteNotifying.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add more amplitude events
  jest-env.d.ts
  src/amplitude/amplitude.tsx
  src/amplitude/taxonomyEvents.ts
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
  src/components/PageSideMenu/PageSideMenu.tsx
  src/components/SoknaderInfo/SoknaderInfo.tsx
  src/components/meldinger/Aktitiet/Aktivitet.tsx
  src/components/meldinger/MeldingerList.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.tsx
  src/components/shared/errors/PageError.tsx
  src/components/shared/veileder/DismissableVeileder.tsx
  src/components/shared/veileder/Veileder.tsx
  src/components/soknader/SoknaderList.tsx
  src/components/soknader/soknaderlistsection/soknadmodal/SoknadModalContent.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsRead.tsx
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsReadModal.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/soknad.graphql
  src/hooks/useBreadcrumbs.test.tsx
  src/hooks/useBreadcrumbs.ts
  src/pages/sykmeldt/[sykmeldtId]/melding/[meldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].test.tsx
Due: npx eslint --fix --max-warnings=0

add utenlandsk to sykmeldinger schema
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/typedef/sykmelding.graphqls
  src/services/minesykmeldte/schema/countries-norwegian.json
  src/services/minesykmeldte/schema/sykmelding.ts
  src/services/minesykmeldte/schema/utenlandskSykmelding.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add utenlandsk sykmelding
  src/components/LabsWarning/LabsWarning.module.css
  src/components/SykepengerBeforeChristmas/SykepengerBeforeChristmas.module.css
  src/components/SykmeldingPanelUtenlandsk/SykmeldingPanelUtenlandsk.module.css
  src/components/SykmeldingPanelUtenlandsk/SykmeldingPanelUtenlandsk.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.test.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/sykmelding.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/utils/test/dataCreators.ts
  src/utils/utenlanskUtils.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix text for unread utenlandsk sykmelding
  src/components/sykmeldinger/SykmeldingerList.tsx
Due: npx eslint --fix --max-warnings=0

add test user with utenlandsk sykmelding
  src/components/LabsWarning/LabsWarning.module.css
  src/graphql/resolvers/mockresolvers/mockDb/index.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

validate at least 1 period with zod
  src/services/minesykmeldte/schema/sykmelding.ts
Due: npx eslint --fix --max-warnings=0

add some explicit logging when trying to reduce 0-length array
  src/utils/sortByNotifying.ts
Due: npx eslint --fix --max-warnings=0

add cause to amplitude events when showing PageError
  src/components/shared/errors/ErrorBoundary.tsx
  src/components/shared/errors/PageError.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/pages/404.page.tsx
  src/pages/500.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/meldinger.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
Due: npx eslint --fix --max-warnings=0

use refetchQueries, add sanity check for unlink
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.tsx
Due: npx eslint --fix --max-warnings=0

fix bug with amplitude logging when using extra data
  src/amplitude/amplitude.tsx
Due: npx eslint --fix --max-warnings=0

upgrade to apollo 4, bump other deps
  package.json
  src/auth/withAuthentication.ts
  src/graphql/resolvers/resolverTypes.ts
  src/pages/api/graphql.api.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

reduce bundle size by moving error images to svg
  .github/workflows/deploy.yml
  src/components/shared/errors/NotFoundMom.tsx
  src/components/shared/errors/PageError.tsx
  src/components/shared/errors/PageErrorDad.tsx
  src/components/shared/errors/svgs/not-found-mom.svg
  src/components/shared/errors/svgs/page-error-dad.svg
Due: npx eslint --fix --max-warnings=0

make assetPrefix available at build time
  .env.production
  .github/workflows/deploy.yml
  Dockerfile
  nais-dev-gcp.yaml
  nais-labs-gcp.yaml
  nais-prod-gcp.yaml
Due: none

don't render error when user is logged out
  src/components/sykmeldte/SykmeldteList.tsx
Due: npx eslint --fix --max-warnings=0

add enum
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
Due: npx eslint --fix --max-warnings=0

upgrade to next 13
  jest-env.d.ts
  jest.setup.js
  package.json
  src/components/PageSideMenu/PageSideMenu.tsx
  src/components/meldinger/Aktitiet/Aktivitet.tsx
  src/components/shared/SykmeldtPanel/ManglerSoknadInfo/ManglerSoknadInfo.tsx
  src/components/shared/TilbakeLink/TilbakeLink.tsx
  src/components/shared/errors/PageError.tsx
  src/components/shared/links/LinkPanel.tsx
  src/components/sykmeldinger/SykmeldingerList.test.tsx
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsRead.module.css
  src/pages/[sykmeldtId].test.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add cool loading state to client side navigation
  package.json
  src/components/PageLoadingState/PageLoadingState.module.css
  src/components/PageLoadingState/PageLoadingState.tsx
  src/components/PageSideMenu/PageSideMenu.tsx
  src/pages/_app.page.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

remove sykepenger before christmas info
  src/components/SykepengerBeforeChristmas/SykepengerBeforeChristmas.module.css
  src/components/SykepengerBeforeChristmas/SykepengerBeforeChristmas.tsx
  src/pages/_app.page.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fallback and log when enum is missing for sporsmal tag
  package.json
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/services/minesykmeldte/schema/soknad.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

bump next auth wonderwall to increase openid-client timeout
  package.json
  yarn.lock
Due: npx prettier --write

fix page loading on mobile
  src/components/PageLoadingState/PageLoadingState.module.css
Due: npx prettier --write

more a11y fixes
  src/components/shared/NotifcationDot/NotifcationDot.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.module.css
  src/components/sykmeldte/SykmeldteNonNotifying/PaginatedSykmeldteList.tsx
  src/components/sykmeldtefilter/SykmeldtFilter.test.tsx
  src/components/sykmeldtefilter/SykmeldteFilter.tsx
  src/components/virksomhetpicker/VirksomhetPicker.tsx
  src/pages/[sykmeldtId].test.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

design changes for sykmeldingen
  src/components/SykmeldingPanelUtenlandsk/SykmeldingPanelUtenlandsk.module.css
  src/components/SykmeldingPanelUtenlandsk/SykmeldingPanelUtenlandsk.tsx
  src/components/shared/IconHeading/IconHeading.module.css
  src/components/shared/IconHeading/IconHeading.tsx
  src/components/shared/listItem/ListItem.module.css
  src/components/shared/listItem/ListItem.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/soknadpanel/SoknadPerioder.module.css
  src/components/soknadpanel/SporsmalVarianter/shared/SporsmalListItem.module.css
  src/components/sykmeldingpanel/AnnenInfo.module.css
  src/components/sykmeldingpanel/AnnenInfo.tsx
  src/components/sykmeldingpanel/FriskmeldingPrognose.module.css
  src/components/sykmeldingpanel/FriskmeldingPrognose.tsx
  src/components/sykmeldingpanel/MeldingTilArbeidsgiver.module.css
  src/components/sykmeldingpanel/MeldingTilArbeidsgiver.tsx
  src/components/sykmeldingpanel/MulighetForArbeidList.module.css
  src/components/sykmeldingpanel/MulighetForArbeidList.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.module.css
  src/components/sykmeldingpanel/SykmeldingPanel.test.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldingpanel/SykmeldingenGjelder.module.css
  src/components/sykmeldingpanel/SykmeldingenGjelder.tsx
  src/components/sykmeldingpanel/sykmeldingperiode/MulighetForArbeid.module.css
  src/components/sykmeldingpanel/sykmeldingperiode/SykmeldingPeriode.module.css
  src/components/sykmeldingpanel/sykmeldingperiode/SykmeldingPeriode.tsx
  src/components/sykmeldingpanelshort/AnnenInfoShort.module.css
  src/components/sykmeldingpanelshort/AnnenInfoShort.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.module.css
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.test.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/utils/sykmeldingPeriodUtils.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix rare edge case of missing notifying user
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/dialogmoter.graphqls
  src/graphql/typedef/oppfolgingsplan.graphqls
  src/services/minesykmeldte/schema/dialogmote.ts
  src/services/minesykmeldte/schema/oppfolgingsplan.ts
  src/utils/soknadUtils.ts
  src/utils/sortByNotifying.ts
Due: npx eslint --fix --max-warnings=0

attempt 2 of notifying filter edge case
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SoknaderLink.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/SykmeldteNonNotifying/PaginatedSykmeldteList.test.tsx
  src/utils/soknadUtils.ts
  src/utils/sortByNotifying.ts
  src/utils/sykmeldtUtils.ts
  src/utils/tsUtils.ts
Due: npx eslint --fix --max-warnings=0

too short period length
  src/utils/sykmeldingPeriodUtils.test.ts
  src/utils/sykmeldingPeriodUtils.ts
Due: npx eslint --fix --max-warnings=0

don't minify for labs
  .github/workflows/deploy.yml
  next.config.js
  package.json
  src/pages/_app.page.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add deploy server and eliminate ts-node warning
  .github/workflows/deploy.yml
  package.json
  yarn.lock
Due: npx prettier --write

update oppfølgingsplan urls
  package.json
  src/pages/api/hendelser-ferdigstille-proxy/[type]/[sykmeldtId].api.ts
  src/pages/api/hendelser-ferdigstille-proxy/[type]/[sykmeldtId].test.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

take into account bedrift-query param when initializing virksomhet-picker
  src/components/PageLoadingState/PageLoadingState.tsx
  src/hooks/useSelectedSykmeldt.ts
  src/pages/[sykmeldtId].page.tsx
Due: npx eslint --fix --max-warnings=0

Use Google Artifact Registry (GAR) for docker image pull
  .github/workflows/deploy.yml
  README.md
  nais-dev-demo-gcp.yaml
  src/pages/_document.page.tsx
  src/utils/env.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add egenmeldingsdager to schema
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/sykmelding.graphqls
  src/services/minesykmeldte/schema/sykmelding.ts
Due: npx eslint --fix --max-warnings=0

add egenmeldingsdager
  .env.development
  nais-dev-gcp.yaml
  next.config.js
  package.json
  src/auth/withAuthentication.test.ts
  src/components/sykmeldingpanel/Egenmeldingsdager.module.css
  src/components/sykmeldingpanel/Egenmeldingsdager.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/sykmelding.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/utils/env.ts
  src/utils/test/dataCreators.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

update esyfo demo urls
  src/pages/api/hendelser-ferdigstille-proxy/[type]/[sykmeldtId].api.ts
  src/pages/api/hendelser-ferdigstille-proxy/[type]/[sykmeldtId].test.ts
Due: npx eslint --fix --max-warnings=0

wip refactor environment handling and use reusable gha-workflows
  .env.development
  .env.production
  .env.test
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yml
  .gitignore
  jest.config.js
  jest.setup.js
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  package.json
  src/amplitude/amplitude.tsx
  src/auth/withAuthentication.test.ts
  src/auth/withAuthentication.ts
  src/components/DialogmoteInfoPanel/DialogmoteSykmeldingerInfoPanel.tsx
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
  src/components/UserWarnings/UnsupportedBrowser/UnsupportedBrowser.tsx
  src/components/UxSignals/UxSignalsWidget.tsx
  src/components/meldinger/Aktitiet/Aktivitet.tsx
  src/components/shared/errors/PageError.tsx
  src/components/shared/links/LinkPanel.tsx
  src/graphql/apollo.ts
  src/hooks/useBreadcrumbs.ts
  src/pages/_document.page.tsx
  src/pages/api/graphql.api.ts
  src/pages/api/public-env.api.ts
  src/services/minesykmeldte/mineSykmeldteService.test.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/utils/clientMetric.ts
  src/utils/env.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0
