Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json}": "npx prettier --write",
  "*.{ts,tsx}": "npx eslint --fix --max-warnings=0"
}

chore: use esyfo-backend (#487)
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
Due: none

chore: ignore esyfo-branch
  .github/workflows/deploy.yml
  .github/workflows/upload-public.yml
Due: none

chore: bump yarn, use corepack
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: npx prettier --write

chore: remove unleash, flexjar, prometheus
  .env.development
  .env.test
  .nais/envs/.env.demo
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
  package.json
  src/auth/withAuthentication.ts
  src/components/feedback/FeedbackReducer.tsx
  src/components/feedback/GeneralFeedback.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/graphql/prefetching.ts
  src/graphql/queries/feedback.graphql
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/resolvers/rootResolver.ts
  src/graphql/typedef/root.graphqls
  src/metrics.ts
  src/pages/[sykmeldtId].page.tsx
  src/pages/_app.page.tsx
  src/pages/api/hendelser-ferdigstille-proxy/[type]/[sykmeldtId].api.ts
  src/pages/api/internal/prometheus.api.ts
  src/pages/api/metrics.api.ts
  src/services/feedback/feedback-service.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/shared/types.ts
  src/toggles/context.tsx
  src/toggles/ssr.tsx
  src/toggles/toggles.ts
  src/toggles/utils.ts
  src/utils/env.ts
  src/utils/stringUtils.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

chore: simplify workflows
  .github/workflows/deploy.yml
Due: none

chore: dry-run dev and prod deploy with temp esyfo ingress
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yml
  .github/workflows/upload-public.yml
  .nais/envs/.env.demo
  .nais/envs/.env.dev
  .nais/envs/.env.prod
  .nais/nais-demo.yaml
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
  CODEOWNERS
  README.md
  dirty-deploy.sh
Due: npx prettier --write

chore: claim actual ingress
  .github/workflows/deploy.yml
  .nais/envs/.env.demo
  .nais/envs/.env.dev
  .nais/envs/.env.prod
  .nais/nais-demo.yaml
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
Due: none

chore: prepare for merge by renaming GHA branch filters
  .github/workflows/deploy.yml
  .github/workflows/upload-public.yml
Due: none

automated: update distroless with newest digest
  Dockerfile
Due: none

Only log if consent
  .npmrc
  package.json
  src/amplitude/amplitude.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Only log if consent (#491)
  .npmrc
  package.json
  src/amplitude/amplitude.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

bump next 15
  package.json
  yarn.lock
Due: npx prettier --write

bump next 15 (#492)
  package.json
  yarn.lock
Due: npx prettier --write

Correct opening hours for Arbeidsgivertelefonen
  src/components/MarkdownPage/components/KontaktInfoPanel.tsx
Due: npx eslint --fix --max-warnings=0

Correct opening hours for Arbeidsgivertelefonen (#493)
  src/components/MarkdownPage/components/KontaktInfoPanel.tsx
Due: npx eslint --fix --max-warnings=0

Update form-data
  package.json
  yarn.lock
Due: npx prettier --write

Add to form-data to resolutions
  package.json
  yarn.lock
Due: npx prettier --write

Remove directly installed form-data as we don't use it directly.
  package.json
  yarn.lock
Due: npx prettier --write

Update form-data (#499)
  package.json
  yarn.lock
Due: npx prettier --write

Revert "fix(deps): bump next from 15.3.1 to 15.4.7 (#519)"
  package.json
  yarn.lock
Due: npx prettier --write

Revert "fix(deps): bump next from 15.3.1 to 15.4.7 (#519)" (#522)
  package.json
  yarn.lock
Due: npx prettier --write

Get isPilotUser as part of mineSykmeldteService.ts
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/resolvers/rootResolver.ts
  src/graphql/typedef/root.graphqls
  src/graphql/typedef/sykmeldt.graphqls
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/services/minesykmeldte/schema/sykmeldt.ts
  src/utils/tsUtils.ts
  vitest.setup.mts
Due: npx eslint --fix --max-warnings=0

Remove unused code
  src/graphql/resolvers/rootResolver.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

Send isPilotUser from mineSykmeldte.
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/SykmeldtContent.tsx
Due: npx eslint --fix --max-warnings=0

Fix test
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.test.tsx
Due: npx eslint --fix --max-warnings=0

Force upgrade sha.js using resolutions
  package.json
  yarn.lock
Due: npx prettier --write

Upgrade version og distroless nodejs22 image
  Dockerfile
Due: none

Patch vulnerability in sha.js (#527)
  Dockerfile
  package.json
  yarn.lock
Due: npx prettier --write

Upgrade next.js to 15.5.3
  .gitignore
  next-env.d.ts
  package.json
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Alter rules for how and when we deploy from branch and pr
  .github/workflows/deploy.yml
Due: none

Alter rules for when we publish public files
  .github/workflows/upload-public.yml
Due: none

Alter rules for how and when we deploy from branch and pr (#529)
  .github/workflows/deploy.yml
  .github/workflows/upload-public.yml
Due: none
