Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

refactor(survey): simplify lumi survey questions and add outro
  src/components/lumi/Lumi.tsx
  src/components/lumi/survey.ts
Due: npx eslint --fix --max-warnings=0

refactor(survey): simplify lumi survey questions and add outro
  next-env.d.ts
Due: npx eslint --fix --max-warnings=0

refactor(survey): simplify lumi survey questions and add outro
  next-env.d.ts
  src/components/lumi/survey.ts
Due: npx eslint --fix --max-warnings=0

refactor(survey): migrate from logic to visibleIf
  src/components/lumi/survey.ts
Due: npx eslint --fix --max-warnings=0

Adjust survey text
  src/components/lumi/Lumi.tsx
  src/components/lumi/survey.ts
Due: npx eslint --fix --max-warnings=0

delete local notes
  .local-notes/lumi-page-concept.md
Due: npx prettier --write

fix
  next-env.d.ts
Due: npx eslint --fix --max-warnings=0

Use latest lumi
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

refactor(lumi): simplify feedback API route to thin proxy
  src/pages/api/lumi-feedback.api.ts
Due: npx eslint --fix --max-warnings=0

Remove default params
  src/components/lumi/Lumi.tsx
Due: npx eslint --fix --max-warnings=0

fix(lumi): only show survey on home page
  src/pages/[sykmeldtId].page.tsx
  src/pages/_app.page.tsx
Due: npx eslint --fix --max-warnings=0

Optional last question
  src/components/lumi/survey.ts
  src/pages/[sykmeldtId].test.tsx
Due: npx eslint --fix --max-warnings=0

style(lumi): use structured logging in feedback API route
  src/pages/api/lumi-feedback.api.ts
Due: npx eslint --fix --max-warnings=0

Lumi (#626)
  .env.development
  .env.test
  nais/envs/.env.demo
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  package.json
  pnpm-lock.yaml
  src/components/lumi/Lumi.tsx
  src/components/lumi/survey.ts
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/pages/[sykmeldtId].page.tsx
  src/pages/[sykmeldtId].test.tsx
  src/pages/_app.page.tsx
  src/pages/api/lumi-feedback.api.ts
  src/utils/env.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

chore: sync copilot config from esyfo-cli [docs]
  .github/agents/kokk.agent.md
  .github/agents/konditor.agent.md
  .github/instructions/frontend.instructions.md
  .github/skills/accessibility/SKILL.md
  .github/skills/docker/SKILL.md
  .github/skills/klarsprak/SKILL.md
  .github/skills/lumi-survey/references/nais-konfigurasjon.md
  .github/skills/nais-manifest/SKILL.md
  .github/skills/observability-setup/SKILL.md
  .github/skills/observability-setup/metadata.json
  .github/skills/observability-setup/references/alerting.md
  .github/skills/observability-setup/references/micrometer.md
  .github/skills/observability-setup/references/promql-logql.md
  .github/skills/security-review/SKILL.md
  .github/skills/security-review/metadata.json
  .github/skills/security-review/references/api-security.md
  .github/skills/security-review/references/gdpr-privacy.md
Due: npx prettier --write

chore: sync copilot config from esyfo-cli [docs] (#631)
  .github/agents/kokk.agent.md
  .github/agents/konditor.agent.md
  .github/instructions/frontend.instructions.md
  .github/skills/accessibility/SKILL.md
  .github/skills/docker/SKILL.md
  .github/skills/klarsprak/SKILL.md
  .github/skills/lumi-survey/references/nais-konfigurasjon.md
  .github/skills/nais-manifest/SKILL.md
  .github/skills/observability-setup/SKILL.md
  .github/skills/observability-setup/metadata.json
  .github/skills/observability-setup/references/alerting.md
  .github/skills/observability-setup/references/micrometer.md
  .github/skills/observability-setup/references/promql-logql.md
  .github/skills/security-review/SKILL.md
  .github/skills/security-review/metadata.json
  .github/skills/security-review/references/api-security.md
  .github/skills/security-review/references/gdpr-privacy.md
Due: npx prettier --write

fix(deps): lazy-load nav-dekoratoren SSR helpers to fix Turbopack NFT error
  next.config.js
  src/pages/_document.page.tsx
Due: npx eslint --fix --max-warnings=0

chore: sync copilot config from esyfo-cli [docs]
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/epic.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/agents/hovmester.agent.md
Due: npx prettier --write

chore: sync copilot config from esyfo-cli [docs] (#632)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/epic.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/agents/hovmester.agent.md
Due: npx prettier --write

build(deps): patch vulnerable packages
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

build(deps): patch vulnerable packages (#634)
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

chore: sync copilot config from esyfo-cli [docs]
  .github/agents/hovmester.agent.md
  .github/agents/kokk.agent.md
  .github/agents/konditor.agent.md
  .github/agents/mattilsynet.agent.md
  .github/agents/souschef.agent.md
Due: npx prettier --write

chore: sync copilot config from esyfo-cli [docs] (#635)
  .github/agents/hovmester.agent.md
  .github/agents/kokk.agent.md
  .github/agents/konditor.agent.md
  .github/agents/mattilsynet.agent.md
  .github/agents/souschef.agent.md
Due: npx prettier --write

chore: migrer til hovmester-sync fra esyfo-cli
  .github/workflows/copilot-config-auto-approve.yml
  .github/workflows/hovmester-sync.yml
  .github/workflows/hovmester-verify.yml
Due: none

chore: migrer til hovmester-sync fra esyfo-cli (#653)
  .github/workflows/copilot-config-auto-approve.yml
  .github/workflows/hovmester-sync.yml
  .github/workflows/hovmester-verify.yml
Due: none

chore: bump faro deps
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

chore: bump vite and vitest
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

chore(deps): bump vite, vitest og faro for sikkerhetsfiks (#656)
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

chore: regenerate lock file
  pnpm-lock.yaml
Due: none

chore: sync hovmester customizations
  .github/.hovmester-manifest.json
  .github/agents/hovmester.agent.md
  .github/agents/inspektør-claude.agent.md
  .github/agents/inspektør-gpt.agent.md
  .github/agents/kokk.agent.md
  .github/agents/konditor.agent.md
  .github/agents/souschef.agent.md
  .github/instructions/copilot-review.instructions.md
  .github/instructions/frontend.instructions.md
  .github/instructions/norwegian-text.instructions.md
  .github/skills/accessibility-review/SKILL.md
  .github/skills/aksel-design/SKILL.md
  .github/skills/auth-overview/SKILL.md
  .github/skills/brainstorm/SKILL.md
  .github/skills/conventional-commit/SKILL.md
  .github/skills/create-a-skill/SKILL.md
  .github/skills/figma-workflow/SKILL.md
  .github/skills/grill-me/SKILL.md
  .github/skills/issue-management/SKILL.md
  .github/skills/issue-management/references/projects.md
  .github/skills/klarsprak/SKILL.md
  .github/skills/nais-manifest/SKILL.md
  .github/skills/nais-manifest/references/pod-lifecycle.md
  .github/skills/nav-architecture-review/SKILL.md
  .github/skills/nav-troubleshoot/SKILL.md
  .github/skills/observability-setup/SKILL.md
  .github/skills/pull-request/SKILL.md
  .github/skills/readme-update/SKILL.md
  .github/skills/security-review/SKILL.md
  .github/skills/tdd/SKILL.md
Due: npx prettier --write

doc: update with correct wiki link
  README.md
Due: npx prettier --write

doc: update with correct wiki link (#659)
  README.md
Due: npx prettier --write

doc: remove deprecated link
  README.md
Due: npx prettier --write

doc: remove deprecated link (#660)
  README.md
Due: npx prettier --write

refactor(oppfolgingsplan): fjern pilotbruker-logikk
  .env.development
  .env.test
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/components/PageSideMenu/PageSideMenu.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/SykmeldtContent.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/sykmeldt.graphqls
  src/hooks/getOppfolgingsplanUrl.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/services/minesykmeldte/schema/sykmeldt.ts
  src/services/oppfolgingsplan/oppfolgingsplanService.ts
  src/utils/env.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

fix(error-boundary): log errors with err serializer
  src/components/shared/errors/ErrorBoundary.tsx
Due: npx eslint --fix --max-warnings=0

Path conditions:
  npx prettier --write: any of: *.{md,html,css,json}
  npx eslint --fix --max-warnings=0: any of: *.{ts,tsx}
