Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json}": "npx prettier --write",
  "*.{ts,tsx}": "npx eslint --fix --max-warnings=0"
}

fix: manual biome fix
  biome.json
  src/components/PageSideMenu/PageSideMenu.tsx
  src/components/UserWarnings/UnsupportedBrowser/UnsupportedBrowser.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.tsx
  src/components/shared/errors/PageError.tsx
  src/components/shared/errors/SykmeldtNotFound.tsx
  src/components/shared/icons/CheckboxIcon.tsx
  src/components/shared/icons/InfoIcon.tsx
  src/components/shared/veileder/VeilederFemaleSvg.tsx
  src/components/shared/veileder/VeilederMaleSvg.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/hooks/useBreadcrumbs.ts
  src/pages/500.page.tsx
  src/pages/_document.page.tsx
  src/utils/test/testUtils.tsx
  vitest.setup.mts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix: unreachable if part
  src/hooks/useSykmeldt.ts
Due: npx eslint --fix --max-warnings=0

fix: remove eslint comments
  biome.json
  codegen.yml
  src/auth/withAuthentication.ts
  src/components/UserWarnings/UnsupportedBrowser/UnsupportedBrowser.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/instrumentation.api.ts
  src/services/minesykmeldte/schema/common.test.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Stop tracking .mise.local.toml
  .mise.local.toml
Due: none

Stop tracking .mise.local.toml
  .gitignore
Due: none

fix: feedback copilot GitHub
  src/components/sykmeldte/useScrollLastItemIntoViewIfOutOfViewport.ts
Due: npx eslint --fix --max-warnings=0

fix: wrong filename for gitignore
  .gitignore
Due: none

feat: mise
  .mise.toml
Due: none

feat: pnpm
  .github/workflows/build-and-deploy.yml
  package-lock.json
  pnpm-lock.yaml
Due: npx prettier --write

feat: simplify husky remove lint-staged
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

fix: commiting unformatted files
  .husky/pre-commit
Due: none

feat: lefthook instead of husky and lint-staged
  .github/dependabot.yml
  .husky/.gitignore
  .husky/pre-commit
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

refactor: replace husky with lefthook for pre-commit hooks
  lefthook.yml
Due: none

chore: change to json format
  lefthook.json
  lefthook.yml
Due: npx prettier --write

fix: packageManager version
  package.json
Due: npx prettier --write

fix: reference to npm
  package.json
Due: npx prettier --write

fix: remove eslint and prettier references
  .github/dependabot.yml
Due: none

chore: replace npm with pnpm
  lefthook.json
Due: npx prettier --write

fix: remove prettier hook in codegen file
  codegen.yml
Due: none

chore: better comment
  .git-blame-ignore-revs
Due: none

feat: add pre-push tsc lint check
  lefthook.json
Due: npx prettier --write

fix: hardening pre-commit command
  lefthook.json
Due: npx prettier --write

chore: improve no-empty-commit message
  lefthook.json
Due: npx prettier --write

feat: pnpm package manager instead of npm; migrate hooks to lefthook and enforce checks (#600)
  .git-blame-ignore-revs
  .github/dependabot.yml
  .github/workflows/build-and-deploy.yml
  .husky/.gitignore
  .husky/pre-commit
  .mise.toml
  codegen.yml
  lefthook.json
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

Add automerge workflow
  .github/dependabot.yml
  .github/workflows/dependabot-automerge.yml
Due: none

Add merge queue check
  .github/workflows/build-and-deploy.yml
Due: none

Add automerge workflow (#608)
  .github/dependabot.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/dependabot-automerge.yml
Due: none

Add merge queue check
  .github/workflows/dependabot-automerge.yml
Due: none

Add merge queue check (#612)
  .github/workflows/dependabot-automerge.yml
Due: none

chore: improve mise tasks
  .mise.toml
  package.json
Due: npx prettier --write

chore: improve mise tasks (#613)
  .mise.toml
  package.json
Due: npx prettier --write

chore: sync copilot config from esyfo-cli [docs]
  .github/copilot-instructions.md
  .github/instructions/auth.instructions.md
  .github/instructions/frontend.instructions.md
  .github/instructions/nais.instructions.md
  .github/instructions/observability.instructions.md
  .github/instructions/security.instructions.md
  .github/instructions/testing-typescript.instructions.md
  .github/instructions/typescript.instructions.md
  .github/prompts/nais-manifest.prompt.md
  .github/skills/observability-setup/SKILL.md
Due: npx prettier --write

chore: sync copilot config from esyfo-cli [docs] (#621)
  .github/copilot-instructions.md
  .github/instructions/auth.instructions.md
  .github/instructions/frontend.instructions.md
  .github/instructions/nais.instructions.md
  .github/instructions/observability.instructions.md
  .github/instructions/security.instructions.md
  .github/instructions/testing-typescript.instructions.md
  .github/instructions/typescript.instructions.md
  .github/prompts/nais-manifest.prompt.md
  .github/skills/observability-setup/SKILL.md
Due: npx prettier --write

chore: sync copilot config from esyfo-cli [docs]
  .github/agents/hovmester.agent.md
  .github/agents/inspektør-claude.agent.md
  .github/agents/inspektør-gemini.agent.md
  .github/agents/inspektør-gpt.agent.md
  .github/agents/kokk.agent.md
  .github/agents/konditor.agent.md
  .github/agents/mattilsynet.agent.md
  .github/agents/souschef.agent.md
  .github/instructions/auth-typescript.instructions.md
  .github/instructions/auth.instructions.md
  .github/instructions/frontend.instructions.md
  .github/instructions/security.instructions.md
  .github/instructions/testing-typescript.instructions.md
  .github/instructions/typescript.instructions.md
  .github/skills/issue-management/SKILL.md
  .github/skills/observability-setup/SKILL.md
  .github/skills/pull-request/SKILL.md
  .github/workflows/copilot-config-auto-approve.yml
Due: npx prettier --write

chore: sync copilot config from esyfo-cli [docs] (#622)
  .github/agents/hovmester.agent.md
  .github/agents/inspektør-claude.agent.md
  .github/agents/inspektør-gemini.agent.md
  .github/agents/inspektør-gpt.agent.md
  .github/agents/kokk.agent.md
  .github/agents/konditor.agent.md
  .github/agents/mattilsynet.agent.md
  .github/agents/souschef.agent.md
  .github/instructions/auth-typescript.instructions.md
  .github/instructions/auth.instructions.md
  .github/instructions/frontend.instructions.md
  .github/instructions/security.instructions.md
  .github/instructions/testing-typescript.instructions.md
  .github/instructions/typescript.instructions.md
  .github/skills/issue-management/SKILL.md
  .github/skills/observability-setup/SKILL.md
  .github/skills/pull-request/SKILL.md
  .github/workflows/copilot-config-auto-approve.yml
Due: npx prettier --write

wip
  .env.development
  .env.test
  .local-notes/lumi-page-concept.md
  nais/envs/.env.demo
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  src/components/lumi/Lumi.tsx
  src/components/lumi/survey.ts
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/pages/_app.page.tsx
  src/pages/api/lumi-feedback.api.ts
  src/utils/env.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0
