Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

fix(error-boundary): log errors with err serializer (#673)
  src/components/shared/errors/ErrorBoundary.tsx
Due: npx eslint --fix --max-warnings=0

chore: sync hovmester customizations
  .github/.hovmester-manifest.json
  .github/agents/designer.agent.md
  .github/agents/hovmester.agent.md
  .github/agents/inspektor-claude.agent.md
  .github/agents/inspektor-gpt.agent.md
  .github/agents/souschef.agent.md
  .github/skills/nav-architecture-review/SKILL.md
  .github/skills/prototype/SKILL.md
  .github/skills/prototype/references/figma-prototype.md
  .github/skills/repo-sync/SKILL.md
  .github/skills/repo-sync/scripts/sync.sh
Due: npx prettier --write

chore: sync hovmester customizations
  .github/.hovmester-manifest.json
  .github/agents/designer.agent.md
  .github/skills/prototype/SKILL.md
  .github/skills/prototype/references/figma-prototype.md
  .github/skills/prototype/references/visual-companion.md
  .github/skills/prototype/scripts/frame-template.tmpl
  .github/skills/prototype/scripts/helper.js
  .github/skills/prototype/scripts/server.js
Due: npx prettier --write

chore: sync hovmester customizations
  .github/.hovmester-manifest.json
  .github/agents/hovmester.agent.md
  .github/agents/inspektor-gpt.agent.md
  .github/skills/prototype/scripts/server.js
Due: npx prettier --write

Vise ny oppfølgingsplan til alle demobrukere
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
Due: npx eslint --fix --max-warnings=0

Set pilotUser til true i mockDB og dataCreators
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

chore: upgrade to pnpm 11 with supply chain hardening
  .mise.toml
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npx prettier --write

chore: upgrade to pnpm 11 with supply chain hardening (#688)
  .mise.toml
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npx prettier --write

refactor(oppfolgingsplan): fjern pilotbruker-logikk (#661)
  .env.development
  .env.test
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/components/PageSideMenu/PageSideMenu.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/SykmeldtContent.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/sykmeldt.graphqls
  src/hooks/getOppfolgingsplanUrl.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/services/minesykmeldte/schema/sykmeldt.ts
  src/services/oppfolgingsplan/oppfolgingsplanService.ts
  src/utils/env.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

build(deps): upgrade pnpm to 11.3.0
  .mise.toml
  package.json
Due: npx prettier --write

chore: add minimum release and blockexoticsubdeps
  pnpm-workspace.yaml
Due: none

chore: remove pnpm config from .npmrc
  .npmrc
Due: none

chore: remove minimatch override
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: remove rollup, which is not needed
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: vulnerable packages, remove unused overrides
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: lefthook false in allow builds
  pnpm-workspace.yaml
Due: none

build(deps): upgrade pnpm to 11.3.0, fix vulnerabilities (#692)
  .mise.toml
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npx prettier --write

chore: sync hovmester customizations
  .github/.hovmester-manifest.json
  .github/skills/prototype/scripts/helper.js
  .github/skills/prototype/scripts/server.js
Due: npx prettier --write

chore: sync hovmester customizations
  .github/.hovmester-manifest.json
  .github/agents/designer.agent.md
  .github/agents/hovmester.agent.md
  .github/agents/inspektor-claude.agent.md
  .github/agents/inspektor-gpt.agent.md
  .github/agents/juniorkokk.agent.md
  .github/agents/konditor.agent.md
  .github/agents/souschef.agent.md
  .github/instructions/accessibility.instructions.md
  .github/skills/accessibility-review/SKILL.md
  .github/skills/dulting/REFERENCE.md
  .github/skills/dulting/SKILL.md
Due: npx prettier --write

Se [Slack](https://nav-it.slack.com/archives/C012X796B4L/p1780922999275879)
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
Due: npx eslint --fix --max-warnings=0

refactor(lumi): skru av aktiv survey
  src/components/lumi/Lumi.tsx
  src/components/lumi/survey.ts
  src/pages/[sykmeldtId].page.tsx
  src/pages/[sykmeldtId].test.tsx
  src/pages/_app.page.tsx
Due: npx eslint --fix --max-warnings=0

refactor(lumi): rydd etter survey-fjerning
  src/pages/[sykmeldtId].page.tsx
Due: npx eslint --fix --max-warnings=0

chore: sync hovmester customizations
  .github/.hovmester-manifest.json
  .github/agents/barista.agent.md
  .github/agents/inspektor-claude.agent.md
  .github/agents/inspektor-gpt.agent.md
  .github/agents/souschef.agent.md
  .github/instructions/copilot-review.instructions.md
  .github/skills/klarsprak/references/ai-markorer.md
  .github/skills/nav-troubleshoot/SKILL.md
  .github/skills/nav-troubleshoot/references/observability-diagnose.md
  .github/skills/security-review/references/api-security.md
  .github/skills/security-review/references/nav-threat-model.md
Due: npx prettier --write

refactor(lumi): skru av aktiv survey (#713)
  src/components/lumi/Lumi.tsx
  src/components/lumi/survey.ts
  src/pages/[sykmeldtId].page.tsx
  src/pages/[sykmeldtId].test.tsx
  src/pages/_app.page.tsx
Due: npx eslint --fix --max-warnings=0

fix(deps): adapt zod 4 breaking changes
  src/services/minesykmeldte/schema/soknad.ts
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

Revert "fix(deps): bump html-react-parser from 5.2.17 to 6.1.3 (#709)"
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

Revert "fix(deps): bump html-react-parser from 5.2.17 to 6.1.3 (#709)" (#717)
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

Revert stuff
  package.json
  pnpm-lock.yaml
  src/components/lumi/Lumi.tsx
  src/components/lumi/survey.ts
  src/pages/[sykmeldtId].page.tsx
  src/pages/[sykmeldtId].test.tsx
  src/pages/_app.page.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Revert "refactor(lumi): skru av aktiv survey (#713)"
  src/components/lumi/Lumi.tsx
  src/components/lumi/survey.ts
  src/pages/[sykmeldtId].page.tsx
  src/pages/[sykmeldtId].test.tsx
  src/pages/_app.page.tsx
Due: npx eslint --fix --max-warnings=0

Revert "fix(deps): bump the testing group across 1 directory with 4 updates (#694)"
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

Revert "chore(deps-dev): bump dotenv in the dev-tools group across 1 directory (#699)"
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

revert several (#719)
  package.json
  pnpm-lock.yaml
  src/components/lumi/Lumi.tsx
  src/components/lumi/survey.ts
  src/pages/[sykmeldtId].page.tsx
  src/pages/[sykmeldtId].test.tsx
  src/pages/_app.page.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

chore: sync hovmester customizations
  .github/.hovmester-manifest.json
  .github/agents/designer.agent.md
  .github/skills/prototype/SKILL.md
  .github/skills/prototype/references/aksel-figma-katalog.json
  .github/skills/prototype/references/aksel-figma-katalog.md
  .github/skills/prototype/references/aksel-figma-tokens.md
  .github/skills/prototype/references/aksel-markup-fasit.md
  .github/skills/prototype/references/figma-prototype.md
  .github/skills/prototype/references/visual-companion.md
  .github/skills/prototype/scripts/frame-template.tmpl
Due: npx prettier --write

fix: lenk til sms og epost varsel
  src/docs/sporsmal-og-svar.mdx
Due: none

fix: lenk til sms og epost varsel (#723)
  src/docs/sporsmal-og-svar.mdx
Due: none

chore: sync hovmester customizations
  .github/.hovmester-manifest.json
  .github/agents/designer.agent.md
  .github/skills/prototype/SKILL.md
  .github/skills/prototype/references/figma-prototype.md
  .github/skills/prototype/references/visual-companion.md
Due: npx prettier --write

fix(amplitude): sanér dynamiske id-segmenter fra origin før sending til Amplitude
  src/amplitude/amplitude.test.ts
  src/amplitude/amplitude.tsx
Due: npx eslint --fix --max-warnings=0

fix(amplitude): bevar basePath ved origin-sanering
  src/amplitude/amplitude.test.ts
  src/amplitude/amplitude.tsx
Due: npx eslint --fix --max-warnings=0

feat(paaminnelse): legg til REST-kontrakt
  src/services/paaminnelse/paaminnelseContract.test.ts
  src/services/paaminnelse/paaminnelseContract.ts
Due: npx eslint --fix --max-warnings=0

Path conditions:
  npx prettier --write: any of: *.{md,html,css,json}
  npx eslint --fix --max-warnings=0: any of: *.{ts,tsx}
