Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json}": "npx prettier --write",
  "*.{ts,tsx}": "npx eslint --fix --max-warnings=0"
}

chore: undo type change
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/utils/test/testUtils.tsx
Due: npx eslint --fix --max-warnings=0

chore: undo format change
  src/components/soknader/soknaderlistsection/SoknaderListSection.test.tsx
Due: npx eslint --fix --max-warnings=0

chore: update apollo, next-logger to newer version
  package.json
  src/pages/api/logger.api.ts
  tsconfig.json
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix: jose import
  src/auth/withAuthentication.test.ts
Due: npx eslint --fix --max-warnings=0

chore: update side menu to version 7.0.10
  package.json
  yarn.lock
Due: npx prettier --write

fix: mock dekoratoren globally to prevent call setTimeout, which failed test sometimes.
  src/hooks/useBreadcrumbs.test.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].test.tsx
  vitest.config.mts
  vitest.setup.mts
Due: npx eslint --fix --max-warnings=0

chore: pin apollo client to version 3.12.11
  package.json
  yarn.lock
Due: npx prettier --write

chore: format all files with prettier
  .husky/pre-commit
  .prettierignore
  .prettierrc
  eslint.config.mjs
  package.json
  yarn.lock
Due: npx prettier --write

chore: replace yarn with npm
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-engines.cjs
  .yarnrc.yml
  package-lock.json
  package.json
  yarn.lock
Due: npx prettier --write

chore: use esyfo build and deploy
  .github/workflows/deploy.yml
Due: none

chore: rename build and deploy
  .github/workflows/build-and-deploy.yml
Due: none

chore: update to node 24
  .github/workflows/build-and-deploy.yml
  .mise.toml
  Dockerfile
  package-lock.json
  package.json
Due: npx prettier --write

chore: remove unused lint file
  .lintstagedrc
Due: none

doc: improve readme with more detailed description
  README.md
Due: npx prettier --write

chore: remove yarn related config
  .gitignore
  .prettierignore
Due: none

chore: rename nais folder to comply with GitHub Actions
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

doc: remove duplication
  README.md
Due: npx prettier --write

doc: improve wording
  README.md
Due: npx prettier --write

chore: remove yarn and migrate to npm, bump to Node 24 (#566)
  .github/workflows/build-and-deploy.yml
  .github/workflows/deploy.yml
  .gitignore
  .lintstagedrc
  .mise.toml
  .prettierignore
  .yarn/plugins/@yarnpkg/plugin-engines.cjs
  .yarnrc.yml
  Dockerfile
  README.md
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  package-lock.json
  package.json
  yarn.lock
Due: npx prettier --write

chore: bump libraries
  package-lock.json
  package.json
Due: npx prettier --write

chore: bump libraries (#567)
  package-lock.json
  package.json
Due: npx prettier --write

doc: fix build & deploy link
  README.md
Due: npx prettier --write

doc: fix build & deploy link (#568)
  README.md
Due: npx prettier --write

Update README.md
  README.md
Due: npx prettier --write

Update README.md (#569)
  README.md
Due: npx prettier --write

Add pilot url for oppfølgingsplan
  .env.development
  .env.test
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/components/PageSideMenu/PageSideMenu.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/SykmeldtContent.tsx
  src/components/shared/veileder/DismissableVeileder.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/possible-types.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/sykmeldt.graphqls
  src/hooks/useOppfolgingsplanUrl.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/services/minesykmeldte/schema/sykmeldt.ts
  src/services/oppfolgingsplan/oppfolgingsplanService.ts
  src/utils/env.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

Add pilot url for oppfølgingsplan
  src/hooks/useOppfolgingsplanUrl.ts
Due: npx eslint --fix --max-warnings=0

Add pilot url for oppfølgingsplan
  src/components/PageSideMenu/PageSideMenu.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.tsx
  src/hooks/getOppfolgingsplanUrl.ts
Due: npx eslint --fix --max-warnings=0

Pilot oppfolgingsplan (#590)
  .env.development
  .env.test
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/components/PageSideMenu/PageSideMenu.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/SykmeldtContent.tsx
  src/components/shared/veileder/DismissableVeileder.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/possible-types.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/sykmeldt.graphqls
  src/hooks/getOppfolgingsplanUrl.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/services/minesykmeldte/schema/sykmeldt.ts
  src/services/oppfolgingsplan/oppfolgingsplanService.ts
  src/utils/env.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

wip
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.tsx
  src/components/shared/links/LinkPanel.tsx
Due: npx eslint --fix --max-warnings=0

wip
  src/components/LabsWarning/LabsWarning.tsx
  src/components/MarkdownPage/components/KontaktInfoPanel.tsx
  src/components/NewVersionWarning/NewVersionWarning.tsx
  src/components/shared/Alert/Alert.tsx
  src/components/shared/IconHeading/IconHeading.tsx
  src/components/shared/SykmeldtPanel/ManglerSoknadInfo/ManglerSoknadInfo.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/InfoItem.tsx
  src/components/shared/icons/InfoIcon.tsx
  src/components/shared/links/LinkPanel.test.tsx
  src/components/shared/links/LinkPanel.tsx
  src/components/shared/listItem/ListItem.tsx
  src/components/soknader/SoknaderveilederInfo/MerOmVarslinger.tsx
  src/components/soknader/soknaderlistsection/SoknadTag.tsx
  src/components/soknadpanel/SporsmalVarianter/Behandlingsdager.tsx
  src/components/soknadpanel/SporsmalVarianter/CheckboxGruppe.tsx
  src/components/soknadpanel/SporsmalVarianter/Dato.tsx
  src/components/soknadpanel/SporsmalVarianter/Fritekst.tsx
  src/components/soknadpanel/SporsmalVarianter/JaEllerNei.tsx
  src/components/soknadpanel/SporsmalVarianter/Kvittering.tsx
  src/components/soknadpanel/SporsmalVarianter/Land.tsx
  src/components/soknadpanel/SporsmalVarianter/Periode.tsx
  src/components/soknadpanel/SporsmalVarianter/RadioGruppe.tsx
  src/components/soknadpanel/SporsmalVarianter/Tall.tsx
  src/components/soknadpanel/SporsmalVarianter/Undertekst.tsx
  src/components/sykmeldingpanel/Egenmeldingsdager.tsx
  src/components/sykmeldingpanel/sykmeldingperiode/MulighetForArbeid.tsx
  src/style/global.css
Due: npx prettier --write, npx eslint --fix --max-warnings=0

wip
  src/docs/aksel-v8-migrering.md
Due: npx prettier --write

wip
  next-env.d.ts
Due: npx eslint --fix --max-warnings=0

Change from localalert to infocard
  src/components/shared/SykmeldtPanel/ManglerSoknadInfo/ManglerSoknadInfo.tsx
Due: npx eslint --fix --max-warnings=0

feat: biome config
  .mise.local.toml
  .prettierignore
  .prettierrc
  biome.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: npx prettier --write
