Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

add support for demo branch deploy
  nais/nais-demo.yaml
Due: none

bump to dekorator-moduler@v2, use service discovery decorator
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  package.json
  src/pages/_document.page.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

use nextjs standalone output
  Dockerfile
  next.config.js
  src/pages/_document.page.tsx
Due: npx eslint --fix --max-warnings=0

bump deps
  package.json
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/resolvers.generated.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

use ExpansionCard in sykmeldte list
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.module.css
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.module.css
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldte/SykmeldteNonNotifying/PaginatedSykmeldteList.test.tsx
  src/pages/[sykmeldtId].test.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

reduce bundle size by using decorator amplitude
  package.json
  src/amplitude/amplitude.tsx
  src/pages/_app.page.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

change ingress for dev
  README.md
  nais/nais-dev.yaml
Due: npx prettier --write

change login error to be warn
  src/auth/withAuthentication.ts
Due: npx eslint --fix --max-warnings=0

enable egenmeldingsdager in production tomorrow at 12:00
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

simplify nextjs build (configmap not needed)
  Dockerfile
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

remove unused component
  src/components/sidenavigation/ExpandableMobileNavigation.module.css
  src/components/sidenavigation/ExpandableMobileNavigation.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add tailwind and replace some css modules with it
  package.json
  postcss.config.js
  src/components/DialogmoteInfoPanel/DialogmoteInfoPanel.module.css
  src/components/DialogmoteInfoPanel/DialogmoteInfoPanel.tsx
  src/components/LabsWarning/LabsWarning.module.css
  src/components/LabsWarning/LabsWarning.tsx
  src/components/NarmestelederInfo/NarmestelederInfo.module.css
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
  src/components/NewVersionWarning/NewVersionWarning.module.css
  src/components/NewVersionWarning/NewVersionWarning.tsx
  src/components/UserWarnings/LoggedOut/LoggedOut.module.css
  src/components/UserWarnings/LoggedOut/LoggedOut.tsx
  src/components/meldinger/Aktitiet/Aktivitet.module.css
  src/components/meldinger/Aktitiet/Aktivitet.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/LinkMessageList.module.css
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SoknaderLink.module.css
  src/components/sykmeldte/SykmeldteList.module.css
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/SykmeldteNonNotifying/OrgHeading.module.css
  src/components/sykmeldte/SykmeldteNonNotifying/OrgHeading.tsx
  src/components/sykmeldte/SykmeldteNonNotifying/PaginatedSykmeldteList.module.css
  src/components/sykmeldte/SykmeldteNonNotifying/PaginatedSykmeldteList.tsx
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsRead.module.css
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsRead.tsx
  src/components/sykmeldtefilter/SykmeldteFilter.module.css
  src/components/sykmeldtefilter/SykmeldteFilter.tsx
  src/components/virksomhetpicker/VirksomhetPicker.module.css
  src/components/virksomhetpicker/VirksomhetPicker.tsx
  src/style/global.css
  src/utils/tw-utils.ts
  tailwind.config.js
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Boost ram for demo app
  nais/nais-demo.yaml
Due: none

replace more css modules with tailwind
  src/components/shared/IconHeading/IconHeading.module.css
  src/components/shared/IconHeading/IconHeading.tsx
  src/components/shared/ListSection/ListSection.module.css
  src/components/shared/ListSection/ListSection.tsx
  src/components/shared/NotifcationDot/NotifcationDot.module.css
  src/components/shared/NotifcationDot/NotifcationDot.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.module.css
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.tsx
  src/components/shared/TilbakeLink/TilbakeLink.module.css
  src/components/shared/TilbakeLink/TilbakeLink.tsx
  src/components/shared/checkboxexplanation/CheckboxExplanation.module.css
  src/components/shared/checkboxexplanation/CheckboxExplanation.tsx
  src/components/shared/errors/PageError.module.css
  src/components/shared/errors/PageError.tsx
  src/components/shared/links/LinkButton.module.css
  src/components/shared/links/LinkButton.tsx
  src/components/shared/links/LinkPanel.module.css
  src/components/shared/links/LinkPanel.tsx
  src/components/shared/listItem/ListItem.module.css
  src/components/shared/listItem/ListItem.tsx
  src/components/shared/pagefallbackloader/PageFallbackLoader.module.css
  src/components/shared/pagefallbackloader/PageFallbackLoader.tsx
  src/components/shared/veileder/DismissableVeileder.module.css
  src/components/shared/veileder/DismissableVeileder.tsx
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsReadModal.module.css
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsReadModal.tsx
  src/components/sykmeldte/SykmeldteNotifying/SortBy.module.css
  src/components/sykmeldte/SykmeldteNotifying/SortBy.tsx
  src/components/sykmeldte/SykmeldteNotifying/SykmeldteNotifying.module.css
  src/components/sykmeldte/SykmeldteNotifying/SykmeldteNotifying.tsx
  src/components/sykmeldtefilter/SykmeldteFilter.tsx
  src/components/virksomhetpicker/VirksomhetPicker.tsx
  src/style/global.css
  tailwind.config.js
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add Pål's test user
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
Due: npx eslint --fix --max-warnings=0

Give Pål his very own søknad
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/mockresolvers/mockDb/soknader/utenlandsk-1.ts
Due: npx eslint --fix --max-warnings=0

bump everything
  package.json
  yarn.lock
Due: npx prettier --write

implement faro
  .env.development
  .env.test
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  next.config.js
  package.json
  src/faro/faro.ts
  src/graphql/resolvers/mockresolvers/mockDb/index.ts
  src/metrics.ts
  src/pages/_app.page.tsx
  src/utils/env.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

use library RSC
  .dockerignore
  Dockerfile
  package.json
  src/app/layout.tsx
  src/app/rsc/_Decorator.tsx
  src/app/rsc/_common-types.ts
  src/app/rsc/_fetch-decorator.tsx
  src/app/rsc/_urls.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

remove feature toggling for dialogmote guidepanels
  src/auth/withAuthentication.ts
  src/components/DialogmoteInfoPanel/DialogmoteInfoPanel.tsx
  src/components/DialogmoteInfoPanel/DialogmoteSykmeldingerInfoPanel.tsx
  src/state/metadataSlice.ts
Due: npx eslint --fix --max-warnings=0

split Veileder component with and without border
  src/components/DialogmoteInfoPanel/DialogmoteSykmeldingerInfoPanel.tsx
  src/components/MarkdownPage/components/Timeline.tsx
  src/components/SykmeldtInfoPanel/SykmeldteInfoPanel.tsx
  src/components/shared/veileder/DismissableVeileder.tsx
  src/components/shared/veileder/Veileder.module.css
  src/components/shared/veileder/Veileder.tsx
  src/components/soknader/SoknaderveilederInfo/SoknaderVeilederInfo.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

bump everything except ds and next
  codegen.yml
  package.json
  src/components/SykmeldtInfoPanel/SykmeldteInfoPanel.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/markRead.graphql
  src/graphql/queries/soknad.graphql
  src/graphql/queries/sykmelding.graphql
  src/graphql/queries/unlinkSykmeldt.graphql
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/aktivitetsvarsel.graphqls
  src/graphql/typedef/common.graphqls
  src/graphql/typedef/root.graphqls
  src/graphql/typedef/soknad.graphqls
  src/graphql/typedef/sykmelding.graphqls
  src/pages/[sykmeldtId].page.tsx
  src/pages/_app.page.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add debt.sh
  .husky/pre-commit
  package.json
  scripts/debt.sh
Due: npx prettier --write

bump designsystem
  package.json
  src/components/MarkdownPage/MarkdownPage.tsx
  src/components/MarkdownPage/components/ExpandableInfo.tsx
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
  src/components/SoknaderInfo/SoknaderInfo.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.test.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/SummaryHeaderContent.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/pages/[sykmeldtId].test.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

next 13.4
  package.json
  yarn.lock
Due: npx prettier --write

the last one changing css modules to tailwind
  src/components/MarkdownPage/components/KontaktInfoPanel.module.css
  src/components/MarkdownPage/components/KontaktInfoPanel.tsx
  src/components/MarkdownPage/components/SporsmalOgSvarWrapper.module.css
  src/components/MarkdownPage/components/SporsmalOgSvarWrapper.tsx
  src/components/MarkdownPage/components/Timeline.module.css
  src/components/MarkdownPage/components/Timeline.tsx
  src/components/SykmeldingPanelUtenlandsk/SykmeldingPanelUtenlandsk.module.css
  src/components/SykmeldingPanelUtenlandsk/SykmeldingPanelUtenlandsk.tsx
  src/components/shared/Skeleton/Skeleton.module.css
  src/components/shared/Skeleton/Skeleton.tsx
  src/components/shared/SykmeldtPanel/ManglerSoknadInfo/ManglerSoknadInfo.tsx
  src/components/shared/listItem/ListItem.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/sykmeldingpanel/AnnenInfo.module.css
  src/components/sykmeldingpanel/AnnenInfo.tsx
  src/components/sykmeldingpanel/Egenmeldingsdager.module.css
  src/components/sykmeldingpanel/Egenmeldingsdager.tsx
  src/components/sykmeldingpanel/FriskmeldingPrognose.module.css
  src/components/sykmeldingpanel/FriskmeldingPrognose.tsx
  src/components/sykmeldingpanel/MeldingTilArbeidsgiver.module.css
  src/components/sykmeldingpanel/MeldingTilArbeidsgiver.tsx
  src/components/sykmeldingpanel/MulighetForArbeidList.module.css
  src/components/sykmeldingpanel/MulighetForArbeidList.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.module.css
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldingpanel/SykmeldingenGjelder.module.css
  src/components/sykmeldingpanel/SykmeldingenGjelder.tsx
  src/components/sykmeldingpanel/sykmeldingperiode/MulighetForArbeid.module.css
  src/components/sykmeldingpanel/sykmeldingperiode/MulighetForArbeid.tsx
  src/components/sykmeldingpanel/sykmeldingperiode/SykmeldingPeriode.module.css
  src/components/sykmeldingpanel/sykmeldingperiode/SykmeldingPeriode.tsx
  src/components/sykmeldingpanelshort/AnnenInfoShort.module.css
  src/components/sykmeldingpanelshort/AnnenInfoShort.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.module.css
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

the last one changing css modules to tailwind
  src/components/MarkdownPage/components/ExpandableInfo.module.css
  src/components/MarkdownPage/components/KontaktInfoPanel.module.css
  src/components/MarkdownPage/components/KontaktInfoPanel.tsx
  src/components/MarkdownPage/components/SporsmalOgSvarWrapper.module.css
  src/components/MarkdownPage/components/SporsmalOgSvarWrapper.tsx
  src/components/MarkdownPage/components/Timeline.module.css
  src/components/MarkdownPage/components/Timeline.tsx
  src/components/SykmeldingPanelUtenlandsk/SykmeldingPanelUtenlandsk.module.css
  src/components/SykmeldingPanelUtenlandsk/SykmeldingPanelUtenlandsk.tsx
  src/components/shared/Skeleton/Skeleton.module.css
  src/components/shared/Skeleton/Skeleton.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.tsx
  src/components/shared/SykmeldtPanel/ManglerSoknadInfo/ManglerSoknadInfo.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.tsx
  src/components/shared/listItem/ListItem.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/sykmeldingpanel/AnnenInfo.module.css
  src/components/sykmeldingpanel/AnnenInfo.tsx
  src/components/sykmeldingpanel/Egenmeldingsdager.module.css
  src/components/sykmeldingpanel/Egenmeldingsdager.tsx
  src/components/sykmeldingpanel/FriskmeldingPrognose.module.css
  src/components/sykmeldingpanel/FriskmeldingPrognose.tsx
  src/components/sykmeldingpanel/MeldingTilArbeidsgiver.module.css
  src/components/sykmeldingpanel/MeldingTilArbeidsgiver.tsx
  src/components/sykmeldingpanel/MulighetForArbeidList.module.css
  src/components/sykmeldingpanel/MulighetForArbeidList.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.module.css
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldingpanel/SykmeldingenGjelder.module.css
  src/components/sykmeldingpanel/SykmeldingenGjelder.tsx
  src/components/sykmeldingpanel/sykmeldingperiode/MulighetForArbeid.module.css
  src/components/sykmeldingpanel/sykmeldingperiode/MulighetForArbeid.tsx
  src/components/sykmeldingpanel/sykmeldingperiode/SykmeldingPeriode.module.css
  src/components/sykmeldingpanel/sykmeldingperiode/SykmeldingPeriode.tsx
  src/components/sykmeldingpanelshort/AnnenInfoShort.module.css
  src/components/sykmeldingpanelshort/AnnenInfoShort.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.module.css
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

remove node option inspect
  package.json
Due: npx prettier --write

replace subtitle skeleton with prop
  package.json
  src/components/shared/Skeleton/Skeleton.tsx
  src/pages/sykmeldt/[sykmeldtId]/melding/[meldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/meldinger.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add http header csp
  next.config.js
Due: none

add uxsignals to csp script-src
  next.config.js
Due: none

bump dependencies
  package.json
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/resolvers.generated.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

set modal to be closed at first
  src/components/UserWarnings/LoggedOut/LoggedOut.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsRead.tsx
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsReadModal.tsx
Due: npx eslint --fix --max-warnings=0

bump dependencies
  next.config.js
  package.json
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SoknaderLink.tsx
  src/services/minesykmeldte/mineSykmeldteService.test.ts
  src/utils/env.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Boost demo memory limit to 2 GB
  nais/nais-demo.yaml
Due: none

remove snyk
  .snyk
Due: none

add permissions for workflows
  .github/workflows/deploy.yml
Due: none

Path conditions:
  npx prettier --write: any of: *.{md,html,css,json}
  npx eslint --fix --max-warnings=0: any of: *.{ts,tsx}
