Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json}": "npx prettier --write",
  "*.{ts,tsx}": "npx eslint --fix --max-warnings=0"
}

fix(prototype): avgrens veiledningen til dialogmøte 1
  src/app/prototype/page.tsx
  src/prototype/README.md
  src/prototype/components/OppfolgingArbeidsflate.tsx
  src/prototype/components/OppfolgingDialog.module.css
  src/prototype/components/OppfolgingDialog.tsx
  src/prototype/components/PrototypeRamme.tsx
  src/prototype/data/scenarier.ts
  src/prototype/prototype.module.css
  src/prototype/state/PrototypeContext.test.tsx
  src/prototype/state/PrototypeContext.tsx
  src/prototype/types.ts
  src/prototype/utils/oppfolging.test.ts
  src/prototype/utils/oppfolging.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix(prototype): vis relevante hendelser gjennom hele forløpet
  src/app/prototype/page.tsx
  src/prototype/README.md
  src/prototype/components/OppfolgingArbeidsflate.tsx
  src/prototype/components/OppfolgingDialog.tsx
  src/prototype/components/PrototypeRamme.tsx
  src/prototype/data/scenarier.ts
  src/prototype/prototype.module.css
  src/prototype/types.ts
  src/prototype/utils/oppfolging.test.ts
  src/prototype/utils/oppfolging.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix(prototype): synliggjør ansattopplysninger og flytt søket
  src/prototype/README.md
  src/prototype/components/OmAnsatt.module.css
  src/prototype/components/OmAnsatt.tsx
  src/prototype/components/OppfolgingArbeidsflate.tsx
  src/prototype/components/PrototypeRamme.tsx
  src/prototype/prototype.module.css
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix(prototype): tydeliggjør innganger til tjenester og dokumenter
  src/prototype/README.md
  src/prototype/components/OppfolgingArbeidsflate.tsx
  src/prototype/components/OppfolgingDialog.tsx
  src/prototype/components/PrototypeRamme.tsx
  src/prototype/prototype.module.css
Due: npx prettier --write, npx eslint --fix --max-warnings=0

feat: move paaminnelsemodul to top of page
  src/app/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId]/SykmeldingPage.tsx
  src/app/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId]/page.test.tsx
Due: npx eslint --fix --max-warnings=0

feat: move paaminnelsemodul to top of page (#804)
  src/app/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId]/SykmeldingPage.tsx
  src/app/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId]/page.test.tsx
Due: npx eslint --fix --max-warnings=0

feat: add demo scenario for showing tiltakspakke and default
  src/app/api/tiltakspakkevurdering/route.test.ts
  src/app/api/tiltakspakkevurdering/route.ts
  src/app/layout.tsx
  src/components/DemoBanner/DemoBanner.test.tsx
  src/components/DemoBanner/DemoBanner.tsx
  src/components/LabsWarning/LabsWarning.tsx
  src/services/tiltakspakke/tiltakspakkevurderingService.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
  src/utils/demoScenario.test.ts
  src/utils/demoScenario.ts
Due: npx eslint --fix --max-warnings=0

feat: add demo scenario for showing tiltakspakke and default (#806)
  src/app/api/tiltakspakkevurdering/route.test.ts
  src/app/api/tiltakspakkevurdering/route.ts
  src/app/layout.tsx
  src/components/DemoBanner/DemoBanner.test.tsx
  src/components/DemoBanner/DemoBanner.tsx
  src/components/LabsWarning/LabsWarning.tsx
  src/services/tiltakspakke/tiltakspakkevurderingService.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
  src/utils/demoScenario.test.ts
  src/utils/demoScenario.ts
Due: npx eslint --fix --max-warnings=0

Add actionable server diagnostics at failure boundaries
  package.json
  pnpm-lock.yaml
  src/app/api/lumi-feedback/route.test.ts
  src/app/api/lumi-feedback/route.ts
  src/app/api/mark-hendelser-resolved/route.ts
  src/app/api/paaminnelse/[narmestelederId]/route.test.ts
  src/app/api/paaminnelse/[narmestelederId]/route.ts
  src/auth/authFailureSerialization.test.ts
  src/auth/withAuthenticatedApiRoute.ts
  src/graphql/apollo.test.ts
  src/graphql/apollo.ts
  src/graphql/resolvers/backendFailureSerialization.test.ts
  src/graphql/resolvers/rootResolver.ts
  src/graphql/resolvers/withBackendFailure.ts
  src/observability/failureDiagnostics.ts
  src/observability/serverLog.ts
  src/services/flaggskipet/flaggskipetClient.ts
  src/services/minesykmeldte/mineSykmeldteService.test.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/services/minesykmeldte/schema/soknad.ts
  src/services/paaminnelse/paaminnelseService.test.ts
  src/services/paaminnelse/paaminnelseService.ts
  src/services/tiltakspakke/flaggskipetFailureSerialization.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Simplify transport diagnostics and keep authentication context explicit
  src/app/api/lumi-feedback/route.test.ts
  src/graphql/resolvers/backendFailureSerialization.test.ts
  src/observability/failureDiagnostics.ts
  src/observability/serverLog.ts
  src/services/paaminnelse/paaminnelseService.test.ts
  src/services/paaminnelse/paaminnelseService.ts
  src/services/tiltakspakke/flaggskipetFailureSerialization.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
Due: npx eslint --fix --max-warnings=0

Log each failure once with a stable diagnostics contract
  docs/logging.md
  src/app/api/mark-hendelser-resolved/route.test.ts
  src/app/api/mark-hendelser-resolved/route.ts
  src/app/api/paaminnelse/[narmestelederId]/route.test.ts
  src/app/api/paaminnelse/[narmestelederId]/route.ts
  src/app/api/tiltakspakkevurdering/route.test.ts
  src/app/api/tiltakspakkevurdering/route.ts
  src/auth/authFailureSerialization.test.ts
  src/auth/withAuthenticatedApiRoute.ts
  src/graphql/resolvers/backendFailureSerialization.test.ts
  src/graphql/resolvers/withBackendFailure.test.ts
  src/graphql/resolvers/withBackendFailure.ts
  src/observability/failureDiagnostics.ts
  src/observability/serverLog.test.ts
  src/observability/serverLog.ts
  src/services/minesykmeldte/mineSykmeldteService.test.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/services/paaminnelse/paaminnelseService.ts
  src/services/tiltakspakke/flaggskipetFailureSerialization.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingRuntimeErrorSerialization.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Gi serverfeil trygg og konkret diagnostikk (#807)
  docs/logging.md
  package.json
  pnpm-lock.yaml
  src/app/api/lumi-feedback/route.test.ts
  src/app/api/lumi-feedback/route.ts
  src/app/api/mark-hendelser-resolved/route.test.ts
  src/app/api/mark-hendelser-resolved/route.ts
  src/app/api/paaminnelse/[narmestelederId]/route.test.ts
  src/app/api/paaminnelse/[narmestelederId]/route.ts
  src/app/api/tiltakspakkevurdering/route.test.ts
  src/app/api/tiltakspakkevurdering/route.ts
  src/auth/authFailureSerialization.test.ts
  src/auth/withAuthenticatedApiRoute.ts
  src/graphql/apollo.test.ts
  src/graphql/apollo.ts
  src/graphql/resolvers/backendFailureSerialization.test.ts
  src/graphql/resolvers/rootResolver.ts
  src/graphql/resolvers/withBackendFailure.test.ts
  src/graphql/resolvers/withBackendFailure.ts
  src/observability/failureDiagnostics.ts
  src/observability/serverLog.test.ts
  src/observability/serverLog.ts
  src/services/flaggskipet/flaggskipetClient.ts
  src/services/minesykmeldte/mineSykmeldteService.test.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/services/minesykmeldte/schema/soknad.ts
  src/services/paaminnelse/paaminnelseService.test.ts
  src/services/paaminnelse/paaminnelseService.ts
  src/services/tiltakspakke/flaggskipetFailureSerialization.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingRuntimeErrorSerialization.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix: patch critical Next.js vulnerability
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

fix: patch critical Next.js vulnerability (#808)
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

Fjern «Beskjeder» og aktivitetsvarsler fra Dine sykmeldte
  README.md
  public/videos/aktivitetsplikt-nb.vtt
  public/videos/aktivitetsplikt.jpg
  public/videos/aktivitetsplikt.mp4
  src/app/[sykmeldtId]/page.test.tsx
  src/app/sykmeldt/[sykmeldtId]/melding/[meldingId]/MeldingPage.tsx
  src/app/sykmeldt/[sykmeldtId]/melding/[meldingId]/page.tsx
  src/app/sykmeldt/[sykmeldtId]/meldinger/MeldingerPage.tsx
  src/app/sykmeldt/[sykmeldtId]/meldinger/page.tsx
  src/components/PageSideMenu/PageSideMenu.test.tsx
  src/components/PageSideMenu/PageSideMenu.tsx
  src/components/meldinger/Aktitiet/Aktivitet.test.tsx
  src/components/meldinger/Aktitiet/Aktivitet.tsx
  src/components/meldinger/Aktitiet/aktivitetsvarsel.svg
  src/components/meldinger/MeldingerList.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/AktivitetsvarselLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/SykmeldtContent.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/markRead.graphql
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.test.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/aktivitetsvarsel.graphqls
  src/graphql/typedef/root.graphqls
  src/graphql/typedef/sykmeldt.graphqls
  src/hooks/useBreadcrumbs.ts
  src/hooks/useParam.ts
  src/observability/browser.test.ts
  src/observability/browser.ts
  src/services/minesykmeldte/mineSykmeldteService.test.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/services/minesykmeldte/schema/melding.ts
  src/services/minesykmeldte/schema/sykmeldt.test.ts
  src/services/minesykmeldte/schema/sykmeldt.ts
  src/utils/sortByNotifying.ts
  src/utils/sykmeldtUtils.test.ts
  src/utils/sykmeldtUtils.ts
  src/utils/test/dataCreators.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Fjern «Beskjeder» og aktivitetsvarsler fra Dine sykmeldte (#810)
  README.md
  public/videos/aktivitetsplikt-nb.vtt
  public/videos/aktivitetsplikt.jpg
  public/videos/aktivitetsplikt.mp4
  src/app/[sykmeldtId]/page.test.tsx
  src/app/sykmeldt/[sykmeldtId]/melding/[meldingId]/MeldingPage.tsx
  src/app/sykmeldt/[sykmeldtId]/melding/[meldingId]/page.tsx
  src/app/sykmeldt/[sykmeldtId]/meldinger/MeldingerPage.tsx
  src/app/sykmeldt/[sykmeldtId]/meldinger/page.tsx
  src/components/PageSideMenu/PageSideMenu.test.tsx
  src/components/PageSideMenu/PageSideMenu.tsx
  src/components/meldinger/Aktitiet/Aktivitet.test.tsx
  src/components/meldinger/Aktitiet/Aktivitet.tsx
  src/components/meldinger/Aktitiet/aktivitetsvarsel.svg
  src/components/meldinger/MeldingerList.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/AktivitetsvarselLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/SykmeldtContent.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/markRead.graphql
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.test.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/aktivitetsvarsel.graphqls
  src/graphql/typedef/root.graphqls
  src/graphql/typedef/sykmeldt.graphqls
  src/hooks/useBreadcrumbs.ts
  src/hooks/useParam.ts
  src/observability/browser.test.ts
  src/observability/browser.ts
  src/services/minesykmeldte/mineSykmeldteService.test.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/services/minesykmeldte/schema/melding.ts
  src/services/minesykmeldte/schema/sykmeldt.test.ts
  src/services/minesykmeldte/schema/sykmeldt.ts
  src/utils/sortByNotifying.ts
  src/utils/sykmeldtUtils.test.ts
  src/utils/sykmeldtUtils.ts
  src/utils/test/dataCreators.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0
