Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json}": "npx prettier --write",
  "*.{ts,tsx}": "npx eslint --fix --max-warnings=0"
}

use new dialogmøter data instead of hendelser
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/DialogmoteLink.module.css
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/DialogmoteLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/Dialogmoter.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/SykmeldtContent.tsx
  src/graphql/queries/react-query.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/dialogmoter.graphqls
  src/graphql/typedef/hendelse.graphqls
  src/graphql/typedef/sykmeldt.graphqls
  src/services/commonApiSchema.ts
  src/services/minesykmeldte/mineSykmeldteSchema.ts
  src/utils/sykmeldtUtils.ts
  src/utils/test/dataCreators.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

upload files to cdn on build
  .github/workflows/deploy.yml
Due: none

use nextjs asset prefix to serve static files from cdn
  nais-dev-gcp.yaml
  nais-prod-gcp.yaml
  next.config.js
Due: none

use standalone next output
  .dockerignore
  Dockerfile
  next.config.js
Due: none

refetch sykmeldte on focus
  src/components/sykmeldte/SykmeldteList.tsx
  src/hooks/useWindowFocus.ts
Due: npx eslint --fix --max-warnings=0

add prometheus metrics
  jest.config.js
  nais-dev-gcp.yaml
  nais-prod-gcp.yaml
  package.json
  src/auth/withAuthentication.ts
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
  src/components/shared/ErrorBoundary/ErrorBoundary.tsx
  src/graphql/resolvers/mockresolvers/mockDb/index.ts
  src/metrics.ts
  src/pages/404.page.tsx
  src/pages/500.page.tsx
  src/pages/_app.page.tsx
  src/pages/api/dialogmoter-ferdigstille-proxy/[sykmeldtId].api.ts
  src/pages/api/internal/prometheus.api.ts
  src/pages/api/logger.api.ts
  src/pages/api/metrics.api.ts
  src/pages/info/_middleware.ts
  src/pages/info/oppfolging.page.tsx
  src/pages/info/sporsmal-og-svar.page.tsx
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/utils/clientMetric.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

cache exchanged tokenx tokens inmemory between requests
  src/auth/tokenCache.ts
  src/auth/tokenx.ts
  src/metrics.ts
Due: npx eslint --fix --max-warnings=0

Use hendelseId
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/DialogmoteLink.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/DialogmoteLink.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/dialogmoter.graphqls
  src/services/commonApiSchema.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

verify jwt
  .yarn/releases/yarn-3.0.2.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  Dockerfile
  dirty-deploy.sh
  jest.setup.js
  next-logger.config.js
  package.json
  src/auth/tokenx.ts
  src/auth/verifyIdportenToken.ts
  src/auth/withAuthentication.ts
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
  src/components/shared/links/LinkPanel.tsx
  src/graphql/queries/clientFetcher.ts
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers.ts
  src/metrics.ts
  src/pages/_app.page.tsx
  src/pages/api/dialogmoter-ferdigstille-proxy/[sykmeldtId].api.ts
  src/pages/api/graphql.api.ts
  src/pages/api/logger.api.ts
  src/utils/clientMetric.ts
  src/utils/env.ts
  src/utils/logger.ts
  src/utils/soknadUtils.ts
  src/utils/test/dataCreators.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add help text to virksomhets picker
  package.json
  src/components/pagewrapper/PageWrapper.test.tsx
  src/components/sykmeldtefilter/SykmeldtFilter.test.tsx
  src/components/virksomhetpicker/VirksomhetPicker.module.css
  src/components/virksomhetpicker/VirksomhetPicker.test.tsx
  src/components/virksomhetpicker/VirksomhetPicker.tsx
  src/pages/index.test.tsx
  src/utils/test/testUtils.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add accordion with 'om søknaden'on søknader page
  src/components/SoknaderInfo/SoknaderInfo.module.css
  src/components/SoknaderInfo/SoknaderInfo.tsx
  src/components/shared/StateProvider.tsx
  src/components/soknader/SoknaderList.module.css
  src/components/soknader/SoknaderList.tsx
  src/components/soknader/SoknaderveilederInfo/SoknaderVeilederInfo.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix ssr breadcrumbs for info pages
  src/hooks/useBreadcrumbs.ts
Due: npx eslint --fix --max-warnings=0

Style update for sporsmal og svar page
  src/components/MarkdownPage/MarkdownPage.tsx
  src/components/MarkdownPage/components/KontaktInfoPanel.module.css
  src/components/MarkdownPage/components/KontaktInfoPanel.tsx
  src/components/MarkdownPage/components/SporsmalOgSvarWrapper.module.css
  src/components/MarkdownPage/components/SporsmalOgSvarWrapper.tsx
  src/components/MarkdownPage/components/Timeline.module.css
  src/components/MarkdownPage/components/Timeline.tsx
  src/components/shared/TilbakeLink/TilbakeLink.module.css
  src/components/shared/TilbakeLink/TilbakeLink.tsx
  src/docs/sporsmal-og-svar.md
  src/docs/sporsmal-og-svar.mdx
  src/pages/info/sporsmal-og-svar.page.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Fix classname for TilbakeLink
  src/components/MarkdownPage/components/Timeline.module.css
  src/components/MarkdownPage/components/Timeline.tsx
  src/components/shared/TilbakeLink/TilbakeLink.module.css
  src/components/shared/TilbakeLink/TilbakeLink.tsx
  src/docs/sporsmal-og-svar.mdx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Fix paragraph within paragraph
  src/components/MarkdownPage/components/Timeline.tsx
Due: npx eslint --fix --max-warnings=0

Fix ssr path variants
  src/hooks/useBreadcrumbs.ts
Due: npx eslint --fix --max-warnings=0

Tilbake link and blue header items in timeline page
  src/components/MarkdownPage/components/ExpandableInfo.module.css
  src/components/MarkdownPage/components/ExpandableInfo.tsx
  src/components/MarkdownPage/components/Timeline.module.css
  src/components/MarkdownPage/components/Timeline.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

paginate sykmeldte when more than 5 in list
  package.json
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
  src/components/SoknaderInfo/SoknaderInfo.tsx
  src/components/shared/StateProvider.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.module.css
  src/components/sykmeldte/PaginatedSykmeldteList.module.css
  src/components/sykmeldte/PaginatedSykmeldteList.test.tsx
  src/components/sykmeldte/PaginatedSykmeldteList.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/useExpandSykmeldte.ts
  src/components/sykmeldte/useFilteredSykmeldte.tsx
  src/components/sykmeldtefilter/SykmeldtFilter.test.tsx
  src/components/sykmeldtefilter/SykmeldteFilter.tsx
  src/components/sykmeldtefilter/useFilterChangeHandlers.tsx
  src/components/virksomhetpicker/VirksomhetPicker.test.tsx
  src/components/virksomhetpicker/VirksomhetPicker.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/hooks/useSelectedSykmeldt.ts
  src/pages/_app.page.tsx
  src/state/expandedSlice.ts
  src/state/filterSlice.ts
  src/state/paginationSlice.ts
  src/state/store.ts
  src/utils/sykmeldtUtils.ts
  src/utils/test/testUtils.tsx
  src/utils/tsUtils.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

format sykmeldt status relative to time
  src/components/pagewrapper/PageWrapper.tsx
  src/components/shared/ErrorBoundary/ErrorBoundary.tsx
  src/components/shared/ErrorBoundary/FallbackError.tsx
  src/components/shared/Skeleton/Skeleton.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.test.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/PeriodSummaryTable.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/SummaryHeaderContent.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/SummaryHeaderContent.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.tsx
  src/components/shared/SykmeldtStatus/SykmeldtStatus.test.tsx
  src/components/shared/SykmeldtStatus/SykmeldtStatus.tsx
  src/components/sidenavigation/ExpandableMobileNavigation.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldingpanel/sykmeldingperiode/sykmeldigPeriodeUtils.ts
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/virksomhetpicker/VirksomhetPicker.module.css
  src/graphql/resolvers/mockresolvers/mockDb/index.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/hooks/useSykmeldingerByIds.ts
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
  src/utils/dateUtils.ts
  src/utils/sykmeldingPeriodUtils.test.tsx
  src/utils/sykmeldingPeriodUtils.ts
  src/utils/sykmeldingUtils.ts
  src/utils/sykmeldtUtils.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

tweak spacing on index page
  src/components/NarmestelederInfo/NarmestelederInfo.module.css
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
  src/components/sykmeldte/PaginatedSykmeldteList.module.css
  src/components/sykmeldtefilter/SykmeldteFilter.module.css
  src/style/global.css
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add unread notifications in the side navigation menu
  src/components/sidenavigation/SideNavigation.module.css
  src/components/sidenavigation/SideNavigation.test.tsx
  src/components/sidenavigation/SideNavigationList.module.css
  src/components/sidenavigation/SideNavigationList.tsx
  src/components/sidenavigation/SideNavigationMenuItem.module.css
  src/components/sidenavigation/SideNavigationMenuItem.tsx
  src/components/sidenavigation/useActivePage.tsx
  src/components/soknader/SoknaderList.module.css
  src/components/sykmeldinger/SykmeldingerList.module.css
  src/components/sykmeldte/SykmeldteList.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

misc styling updates
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/PeriodSummary.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/PeriodSummary.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/SummaryHeaderContent.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.module.css
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.module.css
  src/components/shared/veileder/Veileder.module.css
  src/components/sidenavigation/SideNavigation.module.css
  src/components/sidenavigation/SideNavigation.tsx
  src/components/sidenavigation/SideNavigationMenuItem.module.css
  src/components/sidenavigation/SideNavigationMenuItem.tsx
  src/components/sykmeldinger/SykmeldingerList.module.css
  src/style/global.css
Due: npx prettier --write, npx eslint --fix --max-warnings=0

handle errors more gracefully (and beautifuller)
  jest.setup.js
  src/components/shared/ErrorBoundary/FallbackError.tsx
  src/components/shared/Skeleton/Skeleton.tsx
  src/components/shared/errors/ErrorBoundary.tsx
  src/components/shared/errors/LoadingError.tsx
  src/components/shared/errors/PageError.module.css
  src/components/shared/errors/PageError.tsx
  src/components/shared/errors/PageErrorDad.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/graphql/apollo.ts
  src/graphql/prefetching.ts
  src/hooks/useSykmeldt.ts
  src/pages/404.page.tsx
  src/pages/500.page.tsx
  src/pages/_app.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
  src/style/global.css
Due: npx prettier --write, npx eslint --fix --max-warnings=0

only show 'søknad ikke sendt' tag if ikkeSendtSoknadVarsel is set
  src/components/soknader/soknaderlistsection/SoknaderListSection.test.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/services/commonApiSchema.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

Styling, no line under last li and less spacing
  src/components/soknadpanel/SoknadPanel.module.css
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.module.css
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Reusable components, enums and move filter
  src/components/soknadpanel/SoknadPanel.module.css
  src/components/soknadpanel/SoknadPanel.test.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/soknadpanel/SporsmalVarianter/Behandlingsdager.tsx
  src/components/soknadpanel/SporsmalVarianter/Checkbox.tsx
  src/components/soknadpanel/SporsmalVarianter/CheckboxGruppe.tsx
  src/components/soknadpanel/SporsmalVarianter/Dato.tsx
  src/components/soknadpanel/SporsmalVarianter/Fritekst.tsx
  src/components/soknadpanel/SporsmalVarianter/JaEllerNei.tsx
  src/components/soknadpanel/SporsmalVarianter/Land.tsx
  src/components/soknadpanel/SporsmalVarianter/RadioGruppe.tsx
  src/components/soknadpanel/SporsmalVarianter/SporsmalVarianter.module.css
  src/components/soknadpanel/SporsmalVarianter/SporsmalVarianter.tsx
  src/components/soknadpanel/SporsmalVarianter/Tall.tsx
  src/components/soknadpanel/SporsmalVarianter/Undersporsmal.tsx
  src/components/soknadpanel/SporsmalVarianter/Undertekst.module.css
  src/components/soknadpanel/SporsmalVarianter/Undertekst.tsx
  src/components/soknadpanel/SporsmalVarianter/shared/SporsmalList.module.css
  src/components/soknadpanel/SporsmalVarianter/shared/SporsmalList.tsx
  src/components/soknadpanel/SporsmalVarianter/shared/SporsmalListItem.module.css
  src/components/soknadpanel/SporsmalVarianter/shared/SporsmalListItem.tsx
  src/components/soknadpanel/SporsmalVarianter/shared/SporsmalListItemNested.module.css
  src/components/soknadpanel/SporsmalVarianter/shared/SporsmalListItemNested.tsx
  src/components/soknadpanel/types.ts
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/objectResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/services/minesykmeldte/mineSykmeldteSchema.ts
  src/utils/soknadUtils.ts
  src/utils/test/dataCreators.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Early exit, better key and filter notNull
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/soknadpanel/SporsmalVarianter/Behandlingsdager.tsx
  src/components/soknadpanel/SporsmalVarianter/Checkbox.tsx
  src/components/soknadpanel/SporsmalVarianter/CheckboxGruppe.tsx
  src/components/soknadpanel/SporsmalVarianter/Dato.tsx
  src/components/soknadpanel/SporsmalVarianter/Fritekst.tsx
  src/components/soknadpanel/SporsmalVarianter/JaEllerNei.tsx
  src/components/soknadpanel/SporsmalVarianter/Land.tsx
  src/components/soknadpanel/SporsmalVarianter/RadioGruppe.tsx
  src/components/soknadpanel/SporsmalVarianter/Tall.tsx
  src/components/soknadpanel/SporsmalVarianter/Undertekst.tsx
  src/components/soknadpanel/SporsmalVarianter/shared/SporsmalListItemNested.tsx
Due: npx eslint --fix --max-warnings=0

Remove fravar and add sporsmal in Soknad
  codegen.yml
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.test.tsx
  src/components/shared/listItemCheckbox/ListItemCheckbox.module.css
  src/components/shared/listItemCheckbox/ListItemCheckbox.test.tsx
  src/components/shared/listItemCheckbox/ListItemCheckbox.tsx
  src/components/soknadpanel/SoknadPanel.module.css
  src/components/soknadpanel/SoknadPanel.test.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/soknadpanel/SoknadPerioder.module.css
  src/components/soknadpanel/SoknadPerioder.test.tsx
  src/components/soknadpanel/SoknadPerioder.tsx
  src/components/soknadpanel/SporsmalVarianter/Behandlingsdager.tsx
  src/components/soknadpanel/SporsmalVarianter/Checkbox.tsx
  src/components/soknadpanel/SporsmalVarianter/CheckboxGruppe.tsx
  src/components/soknadpanel/SporsmalVarianter/Dato.tsx
  src/components/soknadpanel/SporsmalVarianter/Fritekst.tsx
  src/components/soknadpanel/SporsmalVarianter/JaEllerNei.tsx
  src/components/soknadpanel/SporsmalVarianter/Land.tsx
  src/components/soknadpanel/SporsmalVarianter/RadioGruppe.tsx
  src/components/soknadpanel/SporsmalVarianter/SporsmalVarianter.module.css
  src/components/soknadpanel/SporsmalVarianter/SporsmalVarianter.tsx
  src/components/soknadpanel/SporsmalVarianter/Tall.tsx
  src/components/soknadpanel/SporsmalVarianter/Undersporsmal.tsx
  src/components/soknadpanel/SporsmalVarianter/Undertekst.tsx
  src/components/soknadpanel/types.ts
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/soknad.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/services/minesykmeldte/mineSykmeldteSchema.ts
  src/utils/dateUtils.test.ts
  src/utils/dateUtils.ts
  src/utils/stringUtils.ts
  src/utils/test/dataCreators.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

bump deps
  package.json
  yarn.lock
Due: npx prettier --write

tweak design on 404, more detailed error on period list
  src/auth/withAuthentication.ts
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.test.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.module.css
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.tsx
  src/components/shared/errors/ErrorBoundary.tsx
  src/components/shared/errors/NotFoundMom.tsx
  src/components/shared/errors/PageError.module.css
  src/components/shared/errors/PageError.tsx
  src/components/shared/links/LinkButton.module.css
  src/components/shared/links/LinkButton.tsx
  src/hooks/useSykmeldingerByIds.ts
  src/metrics.ts
  src/pages/404.page.tsx
  src/pages/api/metrics.api.ts
  src/utils/stringUtils.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

log user back in when unauthenticated against api routes
  src/auth/withAuthentication.ts
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.test.tsx
  src/graphql/apollo.ts
  src/metrics.ts
  src/pages/_app.page.tsx
Due: npx eslint --fix --max-warnings=0

Link unread to soknad if sendt or korrigert
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SoknaderLink.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/SoknaderLink.tsx
Due: npx eslint --fix --max-warnings=0

wip for fremtiden [skip ci]
  codegen.yml
  src/components/soknadpanel/SoknadPanel.test.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/soknadpanel/SporsmalVarianter/Behandlingsdager.tsx
  src/components/soknadpanel/SporsmalVarianter/Checkbox.tsx
  src/components/soknadpanel/SporsmalVarianter/CheckboxGruppe.tsx
  src/components/soknadpanel/SporsmalVarianter/Dato.tsx
  src/components/soknadpanel/SporsmalVarianter/Fritekst.tsx
  src/components/soknadpanel/SporsmalVarianter/JaEllerNei.tsx
  src/components/soknadpanel/SporsmalVarianter/Land.tsx
  src/components/soknadpanel/SporsmalVarianter/RadioGruppe.tsx
  src/components/soknadpanel/SporsmalVarianter/SporsmalVarianter.tsx
  src/components/soknadpanel/SporsmalVarianter/Tall.tsx
  src/components/soknadpanel/SporsmalVarianter/Undersporsmal.tsx
  src/components/soknadpanel/SporsmalVarianter/Undertekst.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/soknad.graphql
  src/graphql/resolvers/mockresolvers/mockDb/index.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/objectResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/common.graphqls
  src/graphql/typedef/soknad.graphqls
  src/services/minesykmeldte/mineSykmeldteSchema.ts
  src/shared/schema.ts
  src/utils/soknadUtils.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

make sporsmalstekst nullable
  codegen.yml
  src/components/pagewrapper/PageWrapper.test.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.test.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.test.tsx
  src/components/shared/SykmeldtStatus/SykmeldtStatus.test.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.test.tsx
  src/components/soknadpanel/SoknadPanel.test.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/soknadpanel/SoknadPerioder.test.tsx
  src/components/soknadpanel/SporsmalVarianter/Behandlingsdager.tsx
  src/components/soknadpanel/SporsmalVarianter/Checkbox.tsx
  src/components/soknadpanel/SporsmalVarianter/CheckboxGruppe.tsx
  src/components/soknadpanel/SporsmalVarianter/Dato.tsx
  src/components/soknadpanel/SporsmalVarianter/Fritekst.tsx
  src/components/soknadpanel/SporsmalVarianter/JaEllerNei.tsx
  src/components/soknadpanel/SporsmalVarianter/Periode.tsx
  src/components/soknadpanel/SporsmalVarianter/RadioGruppe.tsx
  src/components/soknadpanel/SporsmalVarianter/SporsmalVarianter.tsx
  src/components/soknadpanel/SporsmalVarianter/Tall.tsx
  src/components/soknadpanel/SporsmalVarianter/Undertekst.tsx
  src/components/sykmeldinger/SykmeldingerList.test.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldtefilter/SykmeldtFilter.test.tsx
  src/components/virksomhetpicker/VirksomhetPicker.test.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/objectResolvers.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
  src/hooks/useSykmeldingerByIds.ts
  src/pages/index.test.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].test.tsx
  src/services/minesykmeldte/mineSykmeldteSchema.test.ts
  src/services/minesykmeldte/mineSykmeldteSchema.ts
  src/utils/soknadUtils.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

add link to oppfølgingsplaner
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/SykmeldtContent.tsx
  src/components/sidenavigation/SideNavigationList.tsx
Due: npx eslint --fix --max-warnings=0

tweak design of pagination, scroll into view if there are few results on last page
  jest.setup.js
  src/components/sykmeldte/PaginatedSykmeldteList.module.css
  src/components/sykmeldte/PaginatedSykmeldteList.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix formatting of time relative sykmelding periods
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/SummaryHeaderContent.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.tsx
  src/components/shared/SykmeldtStatus/SykmeldtStatus.test.tsx
  src/components/shared/SykmeldtStatus/SykmeldtStatus.tsx
  src/components/sidenavigation/ExpandableMobileNavigation.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
  src/utils/sykmeldingPeriodUtils.test.ts
  src/utils/sykmeldingPeriodUtils.ts
Due: npx eslint --fix --max-warnings=0

fix period summary formatting when fom/tom is today/tomorrow
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/utils/dateUtils.ts
  src/utils/sykmeldingPeriodUtils.test.ts
  src/utils/sykmeldingPeriodUtils.ts
Due: npx eslint --fix --max-warnings=0

fix basepath prepended by accident on oppfolgingsplan link
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/DialogmoteLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/OppfolgingsplanLink.tsx
  src/components/shared/links/LinkPanel.test.tsx
  src/components/shared/links/LinkPanel.tsx
Due: npx eslint --fix --max-warnings=0
