Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json}": "npx prettier --write",
  "*.{ts,tsx}": "npx eslint --fix --max-warnings=0"
}

add ux signals survey widget
  src/components/UxSignals/UxSignalsWidget.module.css
  src/components/UxSignals/UxSignalsWidget.tsx
  src/pages/[sykmeldtId].page.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

reduce docker image size
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  Dockerfile
  package.json
  scripts/postinstall.js
  src/graphql/apollo.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

upgrade to release version of design system
  jest.setup.js
  next.config.js
  package.json
  src/components/pagewrapper/PageWrapper.module.css
  src/components/pagewrapper/PageWrapper.test.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/SummaryHeaderContent.module.css
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/SummaryHeaderContent.tsx
  src/components/shared/errors/PageError.tsx
  src/components/sidenavigation/SideNavigationMenuItem.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldte/PaginatedSykmeldteList.module.css
  src/components/sykmeldte/PaginatedSykmeldteList.test.tsx
  src/components/sykmeldte/PaginatedSykmeldteList.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldtefilter/SykmeldtFilter.test.tsx
  src/components/virksomhetpicker/VirksomhetPicker.module.css
  src/components/virksomhetpicker/VirksomhetPicker.test.tsx
  src/components/virksomhetpicker/VirksomhetPicker.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockUtils.ts
  src/pages/[sykmeldtId].test.tsx
  src/utils/test/dataCreators.ts
  src/utils/test/testUtils.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

use service discovery instead of internet
  nais-dev-gcp.yaml
  nais-prod-gcp.yaml
Due: none

speed up build
  .dockerignore
  .github/workflows/deploy.yml
  Dockerfile
  next-logger.config.js
  package.json
Due: npx prettier --write

bump testing-library, jest and react
  jest.setup.js
  package.json
  src/pages/[sykmeldtId].test.tsx
  src/pages/_app.page.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

upgrade user-events to 14
  .snyk
  package.json
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.test.tsx
  src/components/sidenavigation/SideNavigation.test.tsx
  src/components/soknader/soknaderlistsection/SoknaderListSection.test.tsx
  src/components/sykmeldte/PaginatedSykmeldteList.test.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldte/useFilteredSykmeldte.tsx
  src/components/sykmeldtefilter/SykmeldtFilter.test.tsx
  src/components/virksomhetpicker/VirksomhetPicker.test.tsx
  src/pages/[sykmeldtId].test.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

show innspillArbeidsplassen
  src/components/sykmeldingpanel/SykmeldingPanel.test.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/sykmelding.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/utils/test/dataCreators.ts
Due: npx eslint --fix --max-warnings=0

use @navikt/next-logger
  next-logger.config.js
  package.json
  src/auth/tokenx.ts
  src/auth/verifyIdportenToken.ts
  src/auth/withAuthentication.ts
  src/components/MarkdownPage/components/TimelineIcon.tsx
  src/components/meldinger/Aktitiet/Aktivitet.tsx
  src/components/shared/errors/ErrorBoundary.tsx
  src/components/soknadpanel/SporsmalVarianter/SporsmalVarianter.tsx
  src/graphql/apollo.ts
  src/hooks/useBreadcrumbs.ts
  src/hooks/useSelectedSykmeldt.ts
  src/hooks/useSykmeldt.ts
  src/metrics.ts
  src/pages/_app.page.tsx
  src/pages/_document.page.tsx
  src/pages/api/graphql.api.ts
  src/pages/api/hendelser-ferdigstille-proxy/[type]/[sykmeldtId].api.ts
  src/pages/api/logger.api.ts
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/utils/clientMetric.ts
  src/utils/logger.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

show graderte and show sorted virksomheter
  package.json
  src/components/sykmeldte/OrgHeading.module.css
  src/components/sykmeldte/OrgHeading.tsx
  src/components/sykmeldte/PaginatedSykmeldteList.tsx
  src/components/sykmeldte/Sykmeldte.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/useFilteredSykmeldte.tsx
  src/components/sykmeldte/useScrollLastItemIntoViewIfOutOfViewport.ts
  src/components/sykmeldtefilter/SykmeldteFilter.tsx
  src/components/sykmeldtefilter/useFilterChangeHandlers.tsx
  src/pages/[sykmeldtId].test.tsx
  src/state/filterSlice.ts
  src/utils/sykmeldtUtils.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

prioritize notSentSoknad icon before future icon
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.tsx
Due: npx eslint --fix --max-warnings=0

add showOrgHeading prop to test
  src/components/sykmeldte/PaginatedSykmeldteList.test.tsx
Due: npx eslint --fix --max-warnings=0

use dinesykmeldte-sidemeny lib
  package.json
  src/components/MarkdownPage/MarkdownPage.tsx
  src/components/NewVersionWarning/NewVersionWarning.module.css
  src/components/NewVersionWarning/NewVersionWarning.tsx
  src/components/PageSideMenu/PageSideMenu.tsx
  src/components/pagewrapper/PageWrapper.module.css
  src/components/pagewrapper/PageWrapper.test.tsx
  src/components/pagewrapper/PageWrapper.tsx
  src/components/shared/ListSection/ListSection.module.css
  src/components/shared/links/LinkPanel.test.tsx
  src/components/shared/links/LinkPanel.tsx
  src/components/sidenavigation/SideNavigation.module.css
  src/components/sidenavigation/SideNavigation.test.tsx
  src/components/sidenavigation/SideNavigation.tsx
  src/components/sidenavigation/SideNavigationList.module.css
  src/components/sidenavigation/SideNavigationList.test.tsx
  src/components/sidenavigation/SideNavigationList.tsx
  src/components/sidenavigation/SideNavigationMenuItem.module.css
  src/components/sidenavigation/SideNavigationMenuItem.tsx
  src/components/sidenavigation/useActivePage.tsx
  src/pages/[sykmeldtId].page.tsx
  src/pages/_app.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/melding/[meldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/meldinger.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmeldinger.page.tsx
  src/style/global.css
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

disable notifications
  src/components/PageSideMenu/PageSideMenu.tsx
Due: npx eslint --fix --max-warnings=0

use @navikt/next-auth-wonderwall
  jest.setup.js
  package.json
  src/auth/tokenCache.ts
  src/auth/tokenx.ts
  src/auth/verifyIdportenToken.ts
  src/auth/withAuthentication.test.ts
  src/auth/withAuthentication.ts
  src/services/minesykmeldte/mineSykmeldteService.test.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add prettier config to git-blame-ignore-rews
  .git-blame-ignore-revs
Due: none

ignore unfixable dependency vulnerability
  .snyk
Due: none

upgrade deps (no majors)
  package.json
  src/components/virksomhetpicker/VirksomhetPicker.test.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

set public path for breadcrumbs
  src/hooks/useBreadcrumbs.test.tsx
  src/hooks/useBreadcrumbs.ts
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].test.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].test.tsx
Due: npx eslint --fix --max-warnings=0

add amplitude
  nais-dev-gcp.yaml
  nais-labs-gcp.yaml
  nais-prod-gcp.yaml
  next.config.js
  package.json
  src/amplitude/amplitude.tsx
  src/amplitude/taxonomyEvents.ts
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.tsx
  src/components/sykmeldtefilter/SykmeldteFilter.tsx
  src/pages/_app.page.tsx
  src/utils/env.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

bump to newest amplitude sdk
  nais-dev-gcp.yaml
  package.json
  src/auth/withAuthentication.test.ts
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.module.css
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

use nav CDN instead of hjemmesnekra CDN
  .github/workflows/deploy.yml
  nais-dev-gcp.yaml
  nais-prod-gcp.yaml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

add mottatt varsel dates
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/dialogmoter.graphqls
  src/graphql/typedef/oppfolgingsplan.graphqls
  src/graphql/typedef/soknad.graphqls
  src/services/minesykmeldte/schema/dialogmote.ts
  src/services/minesykmeldte/schema/oppfolgingsplan.ts
  src/services/minesykmeldte/schema/soknad.ts
Due: npx eslint --fix --max-warnings=0

various a11y fixes
  src/components/MarkdownPage/MarkdownPage.tsx
  src/components/MarkdownPage/components/KontaktInfoPanel.tsx
  src/components/MarkdownPage/components/TimelineIcon.tsx
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
  src/components/shared/NotifcationDot/NotifcationDot.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/PeriodSummary/SummaryHeaderContent.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/InfoItem.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.test.tsx
  src/components/shared/TilbakeLink/TilbakeLink.tsx
  src/components/shared/errors/PageError.tsx
  src/components/shared/links/LinkPanel.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldtefilter/SykmeldteFilter.tsx
  src/docs/sporsmal-og-svar.mdx
  src/pages/_app.page.tsx
Due: npx eslint --fix --max-warnings=0

various a11y-fixes
  jest.setup.js
  package.json
  src/components/NewVersionWarning/NewVersionWarning.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.module.css
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.tsx
  src/components/shared/errors/PageError.tsx
  src/components/shared/errors/PageErrorDad.tsx
  src/components/shared/listItem/ListItem.test.tsx
  src/components/shared/listItem/ListItem.tsx
  src/components/shared/veileder/Veileder.module.css
  src/components/soknader/SoknaderveilederInfo/MerOmVarslinger.module.css
  src/components/soknader/SoknaderveilederInfo/MerOmVarslinger.tsx
  src/components/soknader/SoknaderveilederInfo/SoknaderVeilederInfo.module.css
  src/components/soknader/SoknaderveilederInfo/SoknaderVeilederInfo.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
  src/components/sykmeldte/PaginatedSykmeldteList.module.css
  src/pages/_app.page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknader.page.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

use NAV CDN for videos as well
  .github/workflows/deploy.yml
  .github/workflows/upload-public.yml
  next.config.js
  public/favicon.svg
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
  src/components/UserWarnings/UnsupportedBrowser/UnsupportedBrowser.tsx
  src/components/meldinger/Aktitiet/Aktivitet.tsx
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

sykepenger before christmas info
  src/components/SykepengerBeforeChristmas/SykepengerBeforeChristmas.module.css
  src/components/SykepengerBeforeChristmas/SykepengerBeforeChristmas.tsx
  src/pages/_app.page.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

give collect-auto metadata to deduce app
  src/amplitude/amplitude.tsx
Due: npx eslint --fix --max-warnings=0

sort sykmeldte with notifications
  src/amplitude/taxonomyEvents.ts
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.tsx
  src/components/sykmeldte/SykmeldteList.module.css
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/SykmeldteNonNotifying/OrgHeading.module.css
  src/components/sykmeldte/SykmeldteNonNotifying/OrgHeading.tsx
  src/components/sykmeldte/SykmeldteNonNotifying/PaginatedSykmeldteList.module.css
  src/components/sykmeldte/SykmeldteNonNotifying/PaginatedSykmeldteList.test.tsx
  src/components/sykmeldte/SykmeldteNonNotifying/PaginatedSykmeldteList.tsx
  src/components/sykmeldte/SykmeldteNonNotifying/SykmeldteGrouped.tsx
  src/components/sykmeldte/SykmeldteNonNotifying/SykmeldteNonNotifying.tsx
  src/components/sykmeldte/SykmeldteNotifying/SortBy.module.css
  src/components/sykmeldte/SykmeldteNotifying/SortBy.tsx
  src/components/sykmeldte/SykmeldteNotifying/Sykmeldte.tsx
  src/components/sykmeldte/SykmeldteNotifying/SykmeldteNotifying.module.css
  src/components/sykmeldte/SykmeldteNotifying/SykmeldteNotifying.tsx
  src/components/sykmeldte/SykmeldteNotifying/useSortBy.tsx
  src/components/sykmeldte/useSortedSykmeldteNotifying.tsx
  src/components/sykmeldtefilter/SykmeldtFilter.test.tsx
  src/components/sykmeldtefilter/SykmeldteFilter.module.css
  src/components/sykmeldtefilter/SykmeldteFilter.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/sykmeldte.graphql
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/pages/[sykmeldtId].page.tsx
  src/pages/[sykmeldtId].test.tsx
  src/state/sortByNotifyingSlice.ts
  src/state/store.ts
  src/utils/sortByNotifying.ts
  src/utils/test/dataCreators.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

add dialogmøte a/b-test based on fnr and 6 weeks of continious sykmeldinger
  .github/workflows/deploy.yml
  src/amplitude/taxonomyEvents.ts
  src/auth/withAuthentication.test.ts
  src/auth/withAuthentication.ts
  src/components/DialogmoteInfoPanel/DialogmoteInfoPanel.module.css
  src/components/DialogmoteInfoPanel/DialogmoteInfoPanel.tsx
  src/components/DialogmoteInfoPanel/DialogmoteSykmeldingerInfoPanel.tsx
  src/components/shared/veileder/DismissableVeileder.tsx
  src/components/shared/veileder/Veileder.module.css
  src/components/shared/veileder/Veileder.tsx
  src/components/sykmeldinger/SykmeldingerList.test.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/metrics.ts
  src/pages/[sykmeldtId].page.tsx
  src/pages/api/hendelser-ferdigstille-proxy/[type]/[sykmeldtId].api.ts
  src/state/metadataSlice.ts
  src/utils/sykmeldtUtils.test.ts
  src/utils/sykmeldtUtils.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

hackily 'fix' publicRuntimeConfig bug
  src/pages/_document.page.tsx
  src/pages/api/public-env.api.ts
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

update cdn-upload action
  .github/workflows/deploy.yml
  .github/workflows/upload-public.yml
  nais-dev-gcp.yaml
Due: none

add service for mark all notifications as read
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/markAllSykmeldingerAndSoknaderAsRead.graphql
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/resolvers/rootResolver.ts
  src/graphql/typedef/root.graphqls
  src/services/minesykmeldte/mineSykmeldteService.ts
Due: npx eslint --fix --max-warnings=0

remove sentry
  .github/workflows/deploy.yml
  .gitignore
  Dockerfile
  nais-prod-gcp.yaml
  next.config.js
  package.json
  sentry.client.config.js
  sentry.server.config.js
  yarn.lock
Due: npx prettier --write

mark all notifications as read
  src/components/sykmeldte/SykmeldteList.test.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsRead.module.css
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsRead.tsx
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsReadModal.module.css
  src/components/sykmeldte/SykmeldteNotifying/MarkAllAsReadModal.tsx
  src/components/sykmeldte/SykmeldteNotifying/SykmeldteNotifying.module.css
  src/components/sykmeldte/SykmeldteNotifying/SykmeldteNotifying.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/mockresolvers/mockResolvers.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

a11y fixes soknad
  src/components/shared/BlueInfoSection/BlueInfoSection.tsx
  src/components/shared/checkboxexplanation/CheckboxExplanation.tsx
  src/components/shared/icons/CheckboxIcon.tsx
  src/components/shared/listItem/ListItem.module.css
  src/components/shared/listItem/ListItem.tsx
  src/components/soknadpanel/SoknadPanel.module.css
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/soknadpanel/SoknadPerioder.tsx
  src/components/soknadpanel/SporsmalVarianter/shared/SporsmalListItem.module.css
  src/components/soknadpanel/SporsmalVarianter/shared/SporsmalListItem.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.test.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.module.css
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0
