Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

feat(paaminnelse): legg til optional adapter-config
  src/utils/env.test.ts
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

feat(paaminnelse): legg til fail-closed serveradaptere
  src/services/paaminnelse/paaminnelseService.test.ts
  src/services/paaminnelse/paaminnelseService.ts
  src/services/paaminnelse/schema/paaminnelse.ts
  src/services/tiltakspakke/schema/tiltakspakke.ts
  src/services/tiltakspakke/tiltakspakkeService.test.ts
  src/services/tiltakspakke/tiltakspakkeService.ts
Due: npx eslint --fix --max-warnings=0

feat(paaminnelse): legg til REST-api for bestilling
  src/pages/api/paaminnelse/[narmestelederId].api.test.ts
  src/pages/api/paaminnelse/[narmestelederId].api.ts
  src/services/paaminnelse/paaminnelseService.test.ts
Due: npx eslint --fix --max-warnings=0

feat(paaminnelse): legg til frontend-hook
  src/hooks/usePaaminnelse.test.tsx
  src/hooks/usePaaminnelse.ts
Due: npx eslint --fix --max-warnings=0

feat(paaminnelse): legg til Aksel-modul
  src/components/shared/errors/ErrorBoundary.test.tsx
  src/components/shared/errors/ErrorBoundary.tsx
  src/components/sykmeldinger/SykmeldingerList.test.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/components/sykmeldinger/paaminnelse/PaaminnelseModul.test.tsx
  src/components/sykmeldinger/paaminnelse/PaaminnelseModul.tsx
Due: npx eslint --fix --max-warnings=0

feat(paaminnelse): legg til PII-frie analytics-events
  src/components/sykmeldinger/paaminnelse/PaaminnelseModul.test.tsx
  src/components/sykmeldinger/paaminnelse/PaaminnelseModul.tsx
Due: npx eslint --fix --max-warnings=0

feat(paaminnelse): wire opp backend og dev-toggle
  .env.development
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/services/tiltakspakke/tiltakspakkeService.test.ts
  src/services/tiltakspakke/tiltakspakkeService.ts
  src/utils/env.test.ts
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

fix(paaminnelse): kvalitetssikre påminnelsemodul
  README.md
  src/amplitude/amplitude.test.ts
  src/amplitude/amplitude.tsx
  src/amplitude/taxonomyEvents.ts
  src/components/shared/errors/PageError.test.tsx
  src/components/shared/errors/PageError.tsx
  src/components/sykmeldinger/SykmeldingerList.test.tsx
  src/components/sykmeldinger/paaminnelse/PaaminnelseModul.test.tsx
  src/components/sykmeldinger/paaminnelse/PaaminnelseModul.tsx
  src/hooks/useBreadcrumbs.test.tsx
  src/hooks/useBreadcrumbs.ts
  src/pages/api/paaminnelse/[narmestelederId].api.test.ts
  src/pages/api/paaminnelse/[narmestelederId].api.ts
  src/services/paaminnelse/paaminnelseMock.test.ts
  src/services/paaminnelse/paaminnelseMock.ts
  src/utils/env.test.ts
  src/utils/env.ts
  vitest.setup.mts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix(paaminnelse): vis modul alltid i dev
  src/pages/api/paaminnelse/[narmestelederId].api.test.ts
  src/pages/api/paaminnelse/[narmestelederId].api.ts
  src/utils/env.test.ts
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

feat(paaminnelse): legg til BFF for oppfølgingsplan
  .env.development
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/pages/api/paaminnelse/[narmestelederId].api.test.ts
  src/pages/api/paaminnelse/[narmestelederId].api.ts
  src/services/paaminnelse/paaminnelseContract.ts
  src/services/paaminnelse/paaminnelseService.test.ts
  src/services/paaminnelse/paaminnelseService.ts
  src/services/paaminnelse/schema/paaminnelse.ts
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

chore(paaminnelse): rydd scope etter inspeksjon
  .env.development
  nais/nais-demo.yaml
Due: none

chore(nais): presiser namespace for påminnelsebackend
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

chore(paaminnelse): legg til Nav-sporingsheadere
  src/services/paaminnelse/paaminnelseService.test.ts
  src/services/paaminnelse/paaminnelseService.ts
Due: npx eslint --fix --max-warnings=0

refactor(paaminnelse): fjern timing fra BFF-kontrakt
  src/pages/api/paaminnelse/[narmestelederId].api.test.ts
  src/pages/api/paaminnelse/[narmestelederId].api.ts
  src/services/paaminnelse/paaminnelseContract.ts
  src/services/paaminnelse/paaminnelseService.test.ts
  src/services/paaminnelse/paaminnelseService.ts
  src/services/paaminnelse/schema/paaminnelse.ts
Due: npx eslint --fix --max-warnings=0

refactor(paaminnelse): bruk narmestelederId som nøkkel mot backend
  src/pages/api/paaminnelse/[narmestelederId].api.test.ts
  src/pages/api/paaminnelse/[narmestelederId].api.ts
  src/services/paaminnelse/BACKEND_KONTRAKT.md
  src/services/paaminnelse/paaminnelseContract.ts
  src/services/paaminnelse/paaminnelseService.test.ts
  src/services/paaminnelse/paaminnelseService.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

feat(paaminnelse): legg til synligFra for per-sykmelding-visning
  src/pages/api/paaminnelse/[narmestelederId].api.test.ts
  src/pages/api/paaminnelse/[narmestelederId].api.ts
  src/services/paaminnelse/BACKEND_KONTRAKT.md
  src/services/paaminnelse/paaminnelseContract.ts
  src/services/paaminnelse/paaminnelseService.test.ts
  src/services/paaminnelse/paaminnelseService.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

refactor(paaminnelse): la backend autorisere, fjern BFF-tilgangssjekk
  src/pages/api/paaminnelse/[narmestelederId].api.test.ts
  src/pages/api/paaminnelse/[narmestelederId].api.ts
  src/services/paaminnelse/BACKEND_KONTRAKT.md
  src/services/paaminnelse/paaminnelseContract.ts
  src/services/paaminnelse/paaminnelseService.test.ts
  src/services/paaminnelse/paaminnelseService.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

chore(paaminnelse): språkvask av norsk etter ekspertreview
  src/pages/api/paaminnelse/[narmestelederId].api.test.ts
  src/services/paaminnelse/BACKEND_KONTRAKT.md
  src/services/paaminnelse/paaminnelseContract.ts
  src/services/paaminnelse/paaminnelseService.test.ts
  src/services/paaminnelse/paaminnelseService.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix(paaminnelse): oppdater backend-path
  src/pages/api/paaminnelse/[narmestelederId].api.test.ts
  src/pages/api/paaminnelse/[narmestelederId].api.ts
  src/services/paaminnelse/paaminnelseService.test.ts
  src/services/paaminnelse/paaminnelseService.ts
  src/services/paaminnelse/schema/paaminnelse.ts
  src/utils/fetchWithTimeout.ts
Due: npx eslint --fix --max-warnings=0

test(paaminnelse): typ fetchmock i servicetest
  src/services/paaminnelse/paaminnelseService.test.ts
Due: npx eslint --fix --max-warnings=0

fix(paaminnelse): oppdater backend-path
  src/services/paaminnelse/BACKEND_KONTRAKT.md
  src/services/paaminnelse/paaminnelseService.test.ts
  src/services/paaminnelse/paaminnelseService.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

feat(paaminnelse): legg til BFF for oppfølgingsplan (#733)
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/pages/api/paaminnelse/[narmestelederId].api.test.ts
  src/pages/api/paaminnelse/[narmestelederId].api.ts
  src/services/paaminnelse/BACKEND_KONTRAKT.md
  src/services/paaminnelse/paaminnelseContract.ts
  src/services/paaminnelse/paaminnelseService.test.ts
  src/services/paaminnelse/paaminnelseService.ts
  src/utils/env.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

chore: sync hovmester customizations
  .github/.hovmester-manifest.json
  .github/agents/hovmester.agent.md
Due: npx prettier --write

fix: replace deprecated link to sykefravarsstatistikk
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
Due: npx eslint --fix --max-warnings=0

feat(tiltakspakke): legg til oppfølgingsplan-gate-map
  src/pages/api/tiltakspakke/oppfolgingsplan.api.test.ts
  src/pages/api/tiltakspakke/oppfolgingsplan.api.ts
  src/services/tiltakspakke/oppfolgingsplanTiltakspakkeContract.ts
  src/services/tiltakspakke/oppfolgingsplanTiltakspakkeService.test.ts
  src/services/tiltakspakke/oppfolgingsplanTiltakspakkeService.ts
Due: npx eslint --fix --max-warnings=0

fix: replace deprecated link to sykefravarsstatistikk (#739)
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
Due: npx eslint --fix --max-warnings=0

refactor(tiltakspakke): bruk tiltakspakkevurdering-navn
  src/pages/api/tiltakspakke/oppfolgingsplan.api.ts
  src/pages/api/tiltakspakkevurdering.api.test.ts
  src/pages/api/tiltakspakkevurdering.api.ts
  src/services/tiltakspakke/oppfolgingsplanTiltakspakkeContract.ts
  src/services/tiltakspakke/tiltakspakkevurderingContract.ts
  src/services/tiltakspakke/tiltakspakkevurderingMidlertidigEvaluator.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
Due: npx eslint --fix --max-warnings=0

fix(tiltakspakke): deaktiver caching av vurdering
  src/pages/api/tiltakspakkevurdering.api.test.ts
  src/pages/api/tiltakspakkevurdering.api.ts
Due: npx eslint --fix --max-warnings=0

refactor(tiltakspakke): forenkle vurdering-service
  src/services/tiltakspakke/tiltakspakkevurderingMidlertidigEvaluator.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
Due: npx eslint --fix --max-warnings=0

fix(tiltakspakke): bruk egen midlertidig toggle
  .env.development
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/services/tiltakspakke/tiltakspakkevurderingService.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

refactor(tiltakspakke): rename feature toggle
  .env.development
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/services/tiltakspakke/tiltakspakkevurderingService.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

refactor(tiltakspakke): bruk flaggskipet-kontrakt
  src/pages/api/tiltakspakkevurdering.api.test.ts
  src/pages/api/tiltakspakkevurdering.api.ts
  src/services/tiltakspakke/tiltakspakkevurderingContract.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
Due: npx eslint --fix --max-warnings=0

feat(tiltakspakke): legg til tiltakspakkevurdering-BFF (#741)
  .env.development
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/pages/api/tiltakspakkevurdering.api.test.ts
  src/pages/api/tiltakspakkevurdering.api.ts
  src/services/tiltakspakke/tiltakspakkevurderingContract.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.test.ts
  src/services/tiltakspakke/tiltakspakkevurderingService.ts
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

refactor(lumi): skru av aktiv survey (#713) (#725)
  src/components/lumi/Lumi.tsx
  src/components/lumi/survey.ts
  src/pages/[sykmeldtId].page.tsx
  src/pages/[sykmeldtId].test.tsx
  src/pages/_app.page.tsx
Due: npx eslint --fix --max-warnings=0

use webpack
  package.json
Due: npx prettier --write

deps(next): degrade next to 15.5.20
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: npx prettier --write, npx eslint --fix --max-warnings=0

feature: move to app router
  next.config.js
  package.json
  pnpm-lock.yaml
  src/amplitude/amplitude.tsx
  src/app/[sykmeldtId]/page.tsx
  src/app/layout.tsx
  src/app/providers.tsx
  src/components/DialogmoteInfoPanel/DialogmoteInfoPanel.tsx
  src/components/LabsWarning/LabsWarning.tsx
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
  src/components/SykmeldtInfoPanel/SykmeldteInfoPanel.tsx
  src/components/shared/veileder/DismissableVeileder.tsx
  src/components/sykmeldte/SykmeldteList.tsx
  src/components/sykmeldte/useExpandSykmeldte.ts
  src/components/sykmeldte/useFilteredSykmeldte.tsx
  src/components/sykmeldte/useSortedSykmeldteNotifying.tsx
  src/components/sykmeldtefilter/useIsMoreThan5SykmeldteInSelectedVirksomhet.tsx
  src/components/virksomhetpicker/VirksomhetPicker.tsx
  src/hooks/useFocusRefetch.ts
  src/hooks/useInitialVirksomhet.ts
  src/hooks/useParam.ts
  src/hooks/useSelectedSykmeldt.ts
  src/hooks/useWindowFocus.ts
  src/pages/api/graphql.ts
  src/pages/api/internal/is_alive.ts
  src/pages/api/internal/is_ready.ts
  src/pages/api/logger.ts
  src/pages/api/lumi-feedback.ts
  src/pages/api/mark-hendelser-resolved.ts
  src/pages/api/paaminnelse/[narmestelederId].test.ts
  src/pages/api/paaminnelse/[narmestelederId].ts
  src/pages/api/tiltakspakkevurdering.test.ts
  src/pages/api/tiltakspakkevurdering.ts
  tsconfig.json
Due: npx prettier --write, npx eslint --fix --max-warnings=0

cleanup of unused pages
  .github/workflows/build-and-deploy.yml
  src/app/layout.tsx
  src/app/preload.tsx
  src/app/providers.tsx
  src/components/NewVersionWarning/NewVersionWarning.tsx
  src/components/PageLoadingState/PageLoadingState.tsx
  src/components/Providers/Providers.tsx
  src/components/UserWarnings/LoggedOut/LoggedOut.tsx
  src/pages/404.tsx
  src/pages/500.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
Due: npx eslint --fix --max-warnings=0

feature: migrate info pages to app router
  src/app/info/oppfolging/OppfolgingBreadcrumbs.tsx
  src/app/info/oppfolging/page.tsx
  src/app/info/sporsmal-og-svar/SporsmalOgSvarBreadcrumbs.tsx
  src/app/info/sporsmal-og-svar/page.tsx
  src/components/MarkdownPage/MarkdownPage.tsx
Due: npx eslint --fix --max-warnings=0

Path conditions:
  npx prettier --write: any of: *.{md,html,css,json}
  npx eslint --fix --max-warnings=0: any of: *.{ts,tsx}
