Repository navikt/dinesykmeldte: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

feat: add info text
  src/components/sykmeldingpanel/sykmeldingperiode/MulighetForArbeid.tsx
Due: npx eslint --fix --max-warnings=0

feat: change info link text and link
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
Due: npx eslint --fix --max-warnings=0

feat: set info text for arbeidsfor false or null
  src/components/shared/SykmeldingInfoMissing.tsx
  src/components/sykmeldingpanel/FriskmeldingPrognose.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.test.tsx
  src/components/sykmeldingpanel/sykmeldingperiode/MulighetForArbeid.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
Due: npx eslint --fix --max-warnings=0

chore: use @navikt/oasis
  package.json
  src/auth/withAuthentication.test.ts
  src/auth/withAuthentication.ts
  src/services/feedback/feedback-service.ts
  src/services/minesykmeldte/mineSykmeldteService.test.ts
  src/services/minesykmeldte/mineSykmeldteService.ts
  src/utils/tsUtils.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

feat: change sykmelding info missing text
  src/components/shared/SykmeldingInfoMissing.tsx
  src/components/sykmeldingpanel/FriskmeldingPrognose.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.test.tsx
  src/components/sykmeldingpanel/sykmeldingperiode/MulighetForArbeid.tsx
Due: npx eslint --fix --max-warnings=0

chore(deps): bump all minor/patch
  package.json
  src/components/sykmeldte/SykmeldteNonNotifying/SykmeldteGrouped.tsx
  src/utils/test/dataCreators.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

chore(deps): upgrade vitest to v1+
  package.json
  vitest.setup.mts
  yarn.lock
Due: npx prettier --write

chore(deps): aksel v6
  next.config.js
  package.json
  src/components/UserWarnings/LoggedOut/LoggedOut.tsx
  src/components/shared/errors/ErrorBoundary.tsx
  src/pages/404.page.tsx
  src/pages/500.page.tsx
  src/utils/dateUtils.ts
  src/utils/tw-utils.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

feat: hide arbeidsgiver name from sykmelding
  src/components/sykmeldingpanel/AnnenInfo.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.test.tsx
  src/components/sykmeldingpanelshort/AnnenInfoShort.tsx
  src/components/sykmeldingpanelshort/SykmeldingPanelShort.test.tsx
Due: npx eslint --fix --max-warnings=0

chore: bump dependencies
  package.json
  yarn.lock
Due: npx prettier --write

chore: bump oasis
  package.json
  src/auth/withAuthentication.test.ts
  src/auth/withAuthentication.ts
  src/graphql/prefetching.ts
  src/graphql/resolvers/resolverTypes.ts
  src/pages/api/hendelser-ferdigstille-proxy/[type]/[sykmeldtId].api.ts
  src/services/feedback/feedback-service.ts
  src/services/minesykmeldte/mineSykmeldteService.test.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

chore: bump dependencies
  package.json
  src/graphql/resolvers/resolvers.generated.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

chore: bump testing library 16
  package.json
  yarn.lock
Due: npx prettier --write

chore: enable prodNext decorator in prod
  src/pages/_document.page.tsx
Due: npx eslint --fix --max-warnings=0

chore(deps): skipperbump
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  package.json
  src/utils/test/testUtils.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

fix: duplicate mark as read bug
  src/components/soknader/soknaderlistsection/SoknaderListSection.tsx
  src/components/soknader/soknaderlistsection/soknadmodal/SoknadModalContent.tsx
Due: npx eslint --fix --max-warnings=0

chore(deps): vitest v2
  package.json
  src/components/soknader/SoknaderList.test.tsx
  src/components/sykmeldinger/SykmeldingerList.test.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

chorep(deps): bump minors
  .yarn/releases/yarn-4.3.1.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: npx prettier --write

chore: add OPPHOLD_UTENFOR_EOS sporsmal tag
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
Due: npx eslint --fix --max-warnings=0

chore: add OPPHOLD_UTENFOR_EOS_NAR sporsmal tag
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
Due: npx eslint --fix --max-warnings=0

fix: some styling for soknad
  src/components/soknadpanel/SporsmalVarianter/SporsmalVarianter.tsx
  src/components/soknadpanel/SporsmalVarianter/Tall.tsx
  src/components/soknadpanel/SporsmalVarianter/Undersporsmal.tsx
  src/components/soknadpanel/SporsmalVarianter/shared/SporsmalList.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/utils/soknadUtils.ts
Due: npx eslint --fix --max-warnings=0

chore(deps): bump minors, fix ws vulnerability
  next.config.js
  package.json
  yarn.lock
Due: npx prettier --write

SoknadSporsmalSvartypeEnum OPPSUMMERING
  src/graphql/queries/graphql.generated.ts
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/resolvers.generated.ts
  src/graphql/typedef/soknad.graphqls
Due: npx eslint --fix --max-warnings=0

chore: remove unused soknad period util
  src/utils/soknadUtils.ts
Due: npx eslint --fix --max-warnings=0

chore: remove filter of sporsmal in soknad
  src/components/soknadpanel/SoknadPanel.tsx
  src/graphql/resolvers/mockresolvers/mockDb/mockDb.ts
  src/graphql/resolvers/mockresolvers/mockDb/soknader/utenlandsk-1.ts
  src/graphql/resolvers/objectResolvers.ts
  src/utils/soknadUtils.ts
Due: npx eslint --fix --max-warnings=0

fix: improvements for screen reader
  src/components/shared/NotifcationDot/NotifcationDot.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.tsx
  src/components/shared/SykmeldtPanel/SykmeldtContent/Links/AktivitetsvarselLink.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtIcon/SykmeldtIcon.tsx
  src/components/shared/SykmeldtPanel/SykmeldtSummary/SykmeldtSummary.test.tsx
  src/components/sykmeldtefilter/SykmeldteFilter.tsx
Due: npx eslint --fix --max-warnings=0

fix: group elements for screen readers
  src/components/shared/veileder/Veileder.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/soknadpanel/SoknadPerioder.tsx
  src/components/soknadpanel/SporsmalVarianter/shared/SporsmalList.tsx
  src/components/soknadpanel/SporsmalVarianter/shared/SporsmalListItemNested.tsx
  src/components/sykmeldingpanel/sykmeldingperiode/SykmeldingPeriode.tsx
Due: npx eslint --fix --max-warnings=0

chore: remove unused amplitude logs
  src/components/DialogmoteInfoPanel/DialogmoteSykmeldingerInfoPanel.tsx
  src/components/NarmestelederInfo/NarmestelederInfo.tsx
  src/components/SoknaderInfo/SoknaderInfo.tsx
  src/components/SykmeldingPanelUtenlandsk/SykmeldingPanelUtenlandsk.tsx
  src/components/feedback/GeneralFeedback.tsx
  src/components/meldinger/Aktitiet/Aktivitet.tsx
  src/components/meldinger/MeldingerList.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPanel.tsx
  src/components/shared/SykmeldtPanel/ExpandableSykmeldtPeriodSummary/ExpandableSykmeldtPeriodSummary.tsx
  src/components/shared/SykmeldtPanel/SykmeldtInfo/SykmeldtInfo.tsx
  src/components/shared/errors/SykmeldtNotFound.tsx
  src/components/shared/veileder/DismissableVeileder.tsx
  src/components/shared/veileder/Veileder.tsx
  src/components/soknader/SoknaderList.tsx
  src/components/soknader/soknaderlistsection/soknadmodal/SoknadModalContent.tsx
  src/components/soknadpanel/SoknadPanel.tsx
  src/components/sykmeldinger/SykmeldingerList.tsx
  src/components/sykmeldingpanel/SykmeldingPanel.tsx
  src/pages/sykmeldt/[sykmeldtId]/melding/[meldingId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/soknad/[soknadId].page.tsx
  src/pages/sykmeldt/[sykmeldtId]/sykmelding/[sykmeldingId].page.tsx
Due: npx eslint --fix --max-warnings=0

fix: broken breadcrumb
  src/hooks/useBreadcrumbs.ts
  src/utils/env.ts
Due: npx eslint --fix --max-warnings=0

chore(deps): skippertak
  .yarn/releases/yarn-4.4.0.cjs
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: npx prettier --write

chore: bump dependencies and yarn
  .yarn/releases/yarn-4.4.0.cjs
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  next-env.d.ts
  package.json
  src/pages/_document.page.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

chore(deps): bump deps
  .yarn/releases/yarn-4.4.1.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  codegen.yml
  package.json
  src/graphql/queries/graphql.generated.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Path conditions:
  npx prettier --write: any of: *.{md,html,css,json}
  npx eslint --fix --max-warnings=0: any of: *.{ts,tsx}
